<form class="font-form w-100 size-900" action="/admin/coin-events" method="POST" id="add-coin-shop-form">
    <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-3">Event Basic Info</h3>
    <div class="border border-dark rounded-sm px-3 pt-3 mb-5">
        <div class="form-group row">
            <label for="item-id" class="col-sm-3 col-form-label font-weight-bold">Event Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="event-name" name="eventName" placeholder="Event Name" required autocomplete="off" <% if(locals.coinEventData) { %>value="<%= coinEventData.eventDetails.name %>"<% } %>>
            </div>
        </div>
        <div class="form-group row">
            <label for="item-id" class="col-sm-3 col-form-label font-weight-bold">Event ID</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="event-id" name="eventId" placeholder="Event ID" required autocomplete="off" <% if(locals.coinEventData) { %>value="<%= coinEventData.eventDetails.id %>"<% } %>>
            </div>
        </div>
        <div class="form-group row">
            <label for="item-name" class="col-sm-3 col-form-label font-weight-bold">Start Date</label>
            <div class="col-sm-5">
                <input type="date" class="date-input form-control" id="start-date" name="startDate" required pattern="\d{4}-\d{2}-\d{2}" <% if(locals.coinEventData) { %>value="<%= coinEventData.eventDetails.startDate %>"<% } %>>
            </div>
        </div>
        <div class="form-group row">
            <label for="item-name" class="col-sm-3 col-form-label font-weight-bold">End Date</label>
            <div class="col-sm-5"> 
                <input type="date" class="date-input form-control" id="end-date" name="endDate" required pattern="\d{4}-\d{2}-\d{2}" <% if(locals.coinEventData) { %>value="<%= coinEventData.eventDetails.endDate %>"<% } %>>
                <small class="text-info">Refers to coin farming end date, not coin shop end date</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="item-id" class="col-sm-3 col-form-label font-weight-bold">Banner Image File Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="banner-img-file-name" name="bannerFileName" placeholder="Banner Image File Name" required autocomplete="off" <% if(locals.coinEventData) { %>value="<%= coinEventData.eventDetails.bannerImg %>"<% } %>>
                <small class="form-text text-info">Will be displayed as banner image when listed. Only insert image file name (e.g. image.jpg). Recommended dimensions: 325px by 150px (or similar ratio)</small>
            </div>
        </div>
    </div>

    <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-1">Coins Basic Info</h3>
    <p class="text-info">Insert the icon ID for each coin involved. Use the <a href="/admin/icons" target="_blank">Icons page</a> to retrieve each icon ID. Create a new icon if necessary.</p>
    <div class="border border-dark rounded-sm px-3 pt-3 mb-5">
        <div class="form-group row">
            <label for="item-id" class="col-sm-3 col-form-label font-weight-bold">Coin Icon IDs</label>
            <div class="col-sm-9" id="coin-icons-list">
                <% if(locals.coinEventData && coinEventData.coinDetails.coins.length > 0) { %>
                    <% coinEventData.coinDetails.coinIds.forEach(function(coinId) { %>
                        <div class="d-flex align-items-center mb-2">
                            <input type="text" class="col-11 form-control mr-2" name="coinIds" placeholder="Coin Icon ID" required autocomplete="off" value="<%= coinId %>">
                            <button type="button" class="remove-coin-icon-input btn text-danger d-flex align-items-center"><i class="fas fa-times"></i></button>
                        </div>
                    <% }) %>
                <% } %>
                <button type="button" class="col-12 btn btn-sm btn-outline-info" id="btn-add-coin-icon"><i class="fas fa-plus"></i> Add Coin Icon</button>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-12">
            <button type="submit" class="w-100 btn btn-sm btn-outline-info"><% if(locals.coinEventData) { %>Update<% } else { %>Add<% } %> Coin Event</button>
        </div>
    </div>
</form>