<div class="w-100 size-720" id="coin-shop-item-list">
    <h3 class="w-100 font-subsubheader font-weight-bold text-left text-underline mb-2">Shop Item List</h3>

    <% if(coinShopData.items.length === 0) { %>
        -- No items added yet. Why not add some? --
    <% } else { %>
        <table class="font-table w-100 table table-bordered table-hover mb-0">
            <thead>
                <tr>
                    <th class="text-center text-sm-left align-middle py-2">Item / Notes</th>
                    <th class="table-cols-125 d-table-cell d-sm-none align-middle text-center align-middle py-2">Price / Qty</th>
                    <th class="d-none d-sm-table-cell text-center align-middle py-2">Price</th>
                    <th class="d-none d-sm-table-cell text-center align-middle py-2">Quantity</th>
                    <th class="text-center align-middle py-2">Tools</th>
                </tr>
            </thead>
            <tbody>
                <% coinShopData.items.forEach(item => { %>
                    <tr>
                        <td class="align-middle py-2 position-relative">
                            <div class="d-flex flex-column flex-sm-row align-items-center text-center">
                                <% if(icons[`${item.iconId}`]) { %>
                                    <img class="item-img standard-img-size mr-0 mr-sm-2" src="<%= icons[`${item.iconId}`].imgUrl %>"> <%= icons[`${item.iconId}`].name %>
                                <% } else { %>
                                    Invalid item ID (<%= iconId %>) received
                                <% } %>
                                <div>
                                    <div class="d-inline d-sm-none">
                                        <% if(item.tradability === "untradable") { %>
                                            <div class="d-inline ml-1" data-toggle="tooltip" data-placement="bottom" title="Untradable">
                                                <i class="fas fa-ban"></i>
                                            </div>
                                        <% } else if(item.tradability === "inter-acct") { %>
                                            <div class="d-inline ml-1" data-toggle="tooltip" data-placement="bottom" title="Inter-Account Transactions only">
                                                <i class="fas fa-exchange-alt"></i>
                                            </div>
                                        <% } %>
                                    </div>

                                    <% if(item.itemNotes !== "") { %>
                                        <div class="d-inline ml-1" data-toggle="tooltip" data-placement="bottom" title="<%= item.itemNotes %>">
                                            <i class="fas fa-info-circle"></i>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="tradability-display d-none d-sm-block position-absolute">
                                <% if(item.tradability === "untradable") { %>
                                    <div class="d-inline ml-1" data-toggle="tooltip" data-placement="bottom" title="Untradable">
                                        <i class="fas fa-ban"></i>
                                    </div>
                                <% } else if(item.tradability === "inter-acct") { %>
                                    <div class="d-inline ml-1" data-toggle="tooltip" data-placement="bottom" title="Inter-Account Transactions only">
                                        <i class="fas fa-exchange-alt"></i>
                                    </div>
                                <% } %>
                            </div>
                        </td>
                        <td class="table-cols-125 d-table-cell d-sm-none text-center align-middle py-2">
                            <img src="<%= icons[`${item.coinType}`].imgUrl.substring(0, icons[`${item.coinType}`].imgUrl.lastIndexOf(".")) + "-mini" + icons[`${item.coinType}`].imgUrl.substring(icons[`${item.coinType}`].imgUrl.lastIndexOf(".")) %>"> <%= item.price.toLocaleString('en-SG') %>
                            <br/>
                            <%= item.quantity %>
                            <% if(item.purchaseLimit === "character") { %>
                                / character
                            <% } else if(item.purchaseLimit === "world") { %>
                                / world
                            <% } %>

                            <% if(item.timeframeLimit === "day") { %>
                                / day
                            <% } else if(item.timeframeLimit === "week") { %>
                                / week
                            <% } %>
                        </td>
                        <td class="d-none d-sm-table-cell text-center align-middle py-2">
                            <div class="d-flex align-items-center justify-content-center">
                                <img class="mr-1" src="<%= icons[`${item.coinType}`].imgUrl.substring(0, icons[`${item.coinType}`].imgUrl.lastIndexOf(".")) + "-mini" + icons[`${item.coinType}`].imgUrl.substring(icons[`${item.coinType}`].imgUrl.lastIndexOf(".")) %>"> <%= item.price.toLocaleString('en-SG') %>
                            </div>
                        </td>
                        <td class="d-none d-sm-table-cell text-center align-middle py-2">
                            <%= item.quantity %>
                            <% if(item.purchaseLimit === "character") { %>
                                <br/>Per character
                            <% } else if(item.purchaseLimit === "world") { %>
                                <br/>Per world
                            <% } %>

                            <% if(item.timeframeLimit === "day") { %>
                                <br/>Per day
                            <% } else if(item.timeframeLimit === "week") { %>
                                <br/>Per week
                            <% } %>
                        </td>
                        <td class="text-center align-middle py-2">
                            <a href="#" class="btn btn-outline-info btn-sm"><i class="fas fa-pen"></i></a>
                            <form class="d-inline">
                                <button type="submit" class="delete-database-item-btn btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>
</div>