<% Object.keys(eventsByCategory).forEach(category => { %>
    <div class="mb-3">
        <h3 class="font-subsubheader mb-2"><%= category.charAt(0).toUpperCase() + category.slice(1) %></h3>

        <% if(eventsByCategory[category].length === 0) { %>
            <div class="mb-3 px-3">- No events in this category -</div>
        <% } else { %>
            <div class="d-flex justify-content-start flex-wrap">
                <% eventsByCategory[category].forEach(event => { %>
                    
                    <div class="col-12 col-sm-6 col-xl-4 mb-4 d-flex flex-column align-items-center text-center position-relative">
                        <a class="w-100" href="<% if(currentUser && currentUser.isAdmin) { %>/admin/coin-event<% } else { %>/calc/coin-events<% } %>/<%= event.eventId %>">
                            <img class="w-100 coin-event-banner img-fluid" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/coin-events/<%= event.eventId %>/<%= event.eventDetails.bannerImg %>">
                        </a>
                        <p class="font-subsubheader font-weight-bold mt-1 mb-0"><%= event.eventDetails.name %></p>
                        <p class="font-form mb-0"><%= event.eventDetails.startDate.toLocaleDateString('en-SG', {month: 'short', day: '2-digit', year: 'numeric' }) %> to 
                        <%= event.eventDetails.endDate.toLocaleDateString('en-SG', {month: 'short', day: '2-digit', year: 'numeric' }) %></p>
                    </div>
                <% }) %>
            </div>
        <% } %>
    </div>
<% }) %>