<%- include("../../partials/header") %>
<%- include("../../partials/navbar") %>

<div class="container-fluid content d-flex flex-column flex-md-row p-0">
    <%- include("../adminSidebar") %>
    <div class="main-content-div col p-0 position-relative">
        <div class="w-100 d-flex align-items-center flex-column px-4 pt-4">
            <div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
                <div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                    <h1 class="font-header w-100 text-center m-0 px-0">Coin Events</h1>
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                </div>

                <div class="d-flex w-100 flex-column align-items-center justify-content-center mb-3 py-3">
                    <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                        <div class="pot-list-section-subheader w-100">
                            <h3 class="font-subheader index-collapse d-flex align-items-center cursor-pointer mb-0 px-3 py-2 collapsed" data-toggle="collapse" href="#add-coin-event">
                                <i class="fas fa-caret-down mr-2"></i> Add Coin Event
                            </h3>
                        </div>
                        <div class="pot-list-section w-100 px-0 collapse" id="add-coin-event">
                            <div class="w-100 d-flex justify-content-center flex-wrap px-3 pb-3 pt-3">
                                <%- include("./addUpdateCoinEventForm") %>
                            </div>
                        </div>
                    </div>

                    <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                        <div class="pot-list-section-subheader w-100">
                            <h3 class="font-subheader index-collapse d-flex align-items-center cursor-pointer mb-0 px-3 py-2" data-toggle="collapse" href="#coin-event-list">
                                <i class="fas fa-caret-down mr-2"></i> All Coin Events
                            </h3>
                        </div>
                        <div class="pot-list-section w-100 px-0 collapse show" id="coin-event-list">
                            <div class="d-flex justify-content-start flex-wrap px-3 pt-3 pb-3">
                                <% allEvents.forEach(event => { %>
                                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                                        <a href="/admin/coin-event/<%= event.eventId %>">
                                            <img class="w-100 coin-event-banner" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/coin-events/<%= event.eventDetails.bannerImg %>">
                                        </a>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/scripts/commonScript.js"></script>
<script type="text/javascript" src="/scripts/admin/coinEventScript.js"></script>
<%- include("../../partials/footer") %>