<div class="w-100 d-flex justify-content-center flex-wrap">
    <div class="size-900 w-100">
        <% coinEventData.coinDetails.forEach((coin, index) => { %>
            <div class="w-100 border border-dark rounded-sm px-3 py-3 <% if(index !== 0) { %>mt-4<% } %>">
                <div class="text-center mb-4">
                    <h3 class="w-100 font-subsubheader d-flex align-items-center justify-content-center text-center mb-1">
                        <img class="mr-2" src="<%= icons[`${coin.iconId}`].imgUrl %>"> <%= icons[`${coin.iconId}`].name %>
                    </h3>

                    <% if(coin.coinNotes) { %>
                        <p class="font-small mb-0"><%= coin.coinNotes %></p>
                    <% } %>
                </div>

                <div class="d-flex flex-wrap justify-content-around">
                    <% if(coin.mainSource.coinCapValues.length > 0) { %>
                        <div class="size-350 w-100 mx-3">
                            <p class="font-weight-bold w-100 mb-1">Main Coin Source</p>

                            <table class="font-table w-100 table table-bordered table-hover mb-3">
                                <thead>
                                    <tr>
                                        <th class="text-center py-2"></th>
                                        <th class="text-center py-2">Amount</th>
                                        <th class="text-center py-2">Sunday Maple</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% coin.mainSource.coinCapValues.forEach((coinCap, index) => { %>
                                        <tr>
                                            <th class="text-center py-2">Week <%= index+1 %></th>
                                            <td class="text-center py-2">
                                                <% if(coinCap !== 0) { %>
                                                    <%= coinCap %> 

                                                    <% if(coin.mainSource.coinCapType === "daily") { %>
                                                        / day
                                                    <% } else { %>
                                                        / week
                                                    <% } %>
                                                <% } else { %>
                                                    -
                                                <% } %>
                                            </td>
                                            <td class="text-center py-2">
                                                <% if(coin.mainSource.sundayMultiplierByWeek[index] > 1) { %>
                                                    <%= coinCap * coin.mainSource.sundayMultiplierByWeek[index] %>
                                                <% } else { %>
                                                    -
                                                <% } %>
                                            </td>
                                        </tr>
                                    <% }) %>
                                    <tr class="tr-section-header">
                                        <td class="font-weight-bold text-center py-2" colspan="3">
                                            Max Possible Total = 

                                            <% if(coin.mainSource.maxTotal === 0) { %>
                                                <%= coinGainsAndCosts[coin.iconId].mainSourceCoins.toLocaleString('en-SG') %>
                                            <% } else { %>
                                                <%= coin.mainSource.maxTotal.toLocaleString('en-SG') %>
                                            <% } %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <% if(coin.extraSources.length > 0) { %>
                                <p class="font-weight-bold w-100 mb-1">Extra Coin Sources</p>

                                <table class="font-table w-100 size-350 table table-bordered table-hover mb-3">
                                    <thead>
                                        <tr>
                                            <th class="align-middle py-2">Activity Name</th>
                                            <th class="align-middle text-center py-2">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% coin.extraSources.forEach(source => { %>
                                            <tr>
                                                <th class="align-middle py-2">
                                                    <%= source.sourceName %>
                                                    <% if(source.sourceDesc !== "") { %>
                                                        <div class="d-inline ml-1" data-toggle="tooltip" data-placement="bottom" title="<%= source.sourceDesc %>">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
                                                              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
                                                            </svg>
                                                        </div>
                                                    <% } %>
                                                </th>
                                                <td class="align-middle text-center py-2">
                                                    <%= source.coinAmount %>
                                                    <% if(source.timeframe === "day") { %>
                                                        / day
                                                    <% } else if(source.timeframe === "week") { %>
                                                        / week
                                                    <% } else { %>
                                                        (Entire event)
                                                    <% } %>
                                                </td>
                                            </tr>
                                        <% }) %>
                                        <tr class="tr-section-header">
                                            <td class="font-weight-bold text-center py-2" colspan="3">
                                                Max Possible Total = <%= coinGainsAndCosts[coin.iconId].extraSourceCoins.toLocaleString('en-SG') %>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            <% } %>
                        </div>

                        <% if(coin.isUsedForRankUp) { %>
                            <div class="size-350 w-100 mx-3">
                                <div class="size-350 w-100">
                                    <p class="font-weight-bold w-100 mb-1">Rank Up Costs</p>

                                    <table class="font-table w-100 table table-bordered table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th class="table-cols-100 align-middle py-2"></th>
                                                <th class="align-middle text-center py-2">Cumulative Cost</th>
                                                <th class="table-cols-75 align-middle text-center py-2">To Next Rank</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(coin.rankUpCosts.ranks.length > 0) { %>
                                                <% coin.rankUpCosts.ranks.forEach((rank, index) => { %>
                                                    <tr>
                                                        <th class="table-cols-100 align-middle py-2"><%= rank.rankName %></th>
                                                        <td class="align-middle text-center py-2">
                                                            <%= coin.rankUpCosts.ranks.slice(0, index+1).reduce((a, b) => a + b.totalCost, 0) %>
                                                        </td>
                                                        <td class="table-cols-75 align-middle text-center py-2">
                                                            <% if(index === coin.rankUpCosts.ranks.length-1) { %>
                                                                -
                                                            <% } else { %>
                                                                <%= coin.rankUpCosts.ranks[index+1].totalCost %>
                                                            <% } %>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        <% } %>
                    <% } else { %>
                        - Huh, there's no data here yet. Weird. -
                    <% } %>

                    <% if(coin.isFromWeeklyBoss) { %>
                        <div class="size-350 w-100 mx-3">
                            <p class="font-weight-bold w-100 mb-1">Boss Coin Amounts</p>

                            <table class="font-table w-100 table table-bordered table-hover mb-3">
                                <thead>
                                    <tr>
                                        <th class="py-2">Boss</th>
                                        <th class="text-center py-2">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% [...new Set(coin.bossCoinDetails.map(perBossDetails => perBossDetails.coinAmount))].forEach(coinAmount => { %>
                                        <tr>
                                            <td class="py-2">
                                                <% coin.bossCoinDetails.filter(perBossDetails => perBossDetails.coinAmount === coinAmount).forEach(boss => { %>
                                                    <%= boss.bossName %> (<%= boss.difficulty.charAt(0).toUpperCase() + boss.difficulty.slice(1) %>) <br/>
                                                <% }) %>
                                            </td>
                                            <td class="text-center align-middle py-2"><%= coinAmount %></td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    <% } %>
                </div>
            </div>
        <% }) %>
    </div>
</div>