<form class="font-form w-100 size-900" action="/admin/coin-event/<%= coinEventData._id %>/coin/<%= coinData._id %>" method="POST">
    <h3 class="w-100 font-subheader font-weight-bold d-flex align-items-center justify-content-center mb-3">
        <img class="mr-1" src="<%= icon.imgUrl %>"> <%= icon.name %>
    </h3>

    <h3 class="w-100 font-subsubheader font-weight-bold font-italic">General Data</h3>
    <div class="border border-dark rounded-sm px-3 py-3 mb-5">
        <div class="form-group row">
            <label for="coin-notes" class="col-sm-3 col-form-label font-weight-bold">Notes</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="coin-notes" name="coinNotes" placeholder="Notes" autocomplete="off" <% if(coinData.coinNotes) { %>value="<%= coinData.coinNotes %>"<% } %>>
                <small class="text-info">Write any notes related to acquiring this coin (e.g. "Obtained through mini games.")</small>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label for="coin-notes" class="col-sm-3 col-form-label font-weight-bold">Used for Rank Up Costs?</label>
            <div class="col-sm-9 d-flex flex-wrap h-100">
                <div class="col-8 col-lg-8 radio-select-group d-flex justify-content-center px-0" id="rank-up-limits-radio-group">
                    <div class="col form-check p-0">
                        <input class="form-check-input" type="radio" name="isUsedForRankUp" id="rank-up-no" value="" <% if(!coinData.isUsedForRankUp) { %>checked<% } %> required>
                        <label class="form-check-label radio-select used-for-rank-up-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 <% if(!coinData.isUsedForRankUp) { %>active<% } %>" for="rank-up-no" data-used-for-rank-up="">No</label>
                    </div>
                    <div class="col form-check p-0">
                        <input class="form-check-input" type="radio" name="isUsedForRankUp" id="rank-up-yes" value="yes" <% if(coinData.isUsedForRankUp) { %>checked<% } %>>
                        <label class="form-check-label radio-select used-for-rank-up-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 <% if(coinData.isUsedForRankUp) { %>active<% } %>" for="rank-up-yes" data-used-for-rank-up="yes">Yes</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row mb-0">
            <label for="weekly-bosses" class="col-sm-3 col-form-label font-weight-bold">Obtained from Weekly Bosses?</label>
            <div class="col-sm-9 d-flex flex-wrap h-100">
                <div class="col-8 col-lg-8 radio-select-group d-flex justify-content-center px-0" id="weekly-bosses">
                    <div class="col form-check p-0">
                        <input class="form-check-input" type="radio" name="isFromWeeklyBoss" id="weekly-boss-no" value="" <% if(!coinData.isFromWeeklyBoss) { %>checked<% } %> required>
                        <label class="form-check-label radio-select from-weekly-boss-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 <% if(!coinData.isFromWeeklyBoss) { %>active<% } %>" for="weekly-boss-no" data-from-weekly-boss="">No</label>
                    </div>
                    <div class="col form-check p-0">
                        <input class="form-check-input" type="radio" name="isFromWeeklyBoss" id="weekly-boss-yes" value="yes" <% if(coinData.isFromWeeklyBoss) { %>checked<% } %>>
                        <label class="form-check-label radio-select from-weekly-boss-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 <% if(coinData.isFromWeeklyBoss) { %>active<% } %>" for="weekly-boss-yes" data-from-weekly-boss="yes">Yes</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("./mainCoinSourceInput") %>
    <%- include("./bossCoinValuesInput") %>
    <%- include("./extraCoinSourceInput") %>
    <%- include("./rankUpCostsInput") %>

    <div class="col-12 px-0 mb-4">
        <button class="h-100 w-100 btn btn-sm btn-outline-info rounded-sm d-flex justify-content-center align-items-center" id="btn-update-coin">
            Update Coin Details
        </button>
    </div>
</form>