<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<div class="container-fluid content d-flex flex-column flex-md-row p-0">
    <%- include("./partials/adminSidebar") %>
    <div class="main-content-div col p-0 position-relative">
        <div class="w-100 d-flex align-items-center flex-column px-4 pt-4">
            <div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
                <div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                    <h1 class="font-header w-100 text-center m-0 px-0">Icons</h1>
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                </div>
                <div class="d-flex w-100 flex-column align-items-center justify-content-center mb-3 py-3">
                    <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                        <div class="pot-list-section-subheader w-100">
                            <h3 class="font-subheader index-collapse d-flex align-items-center cursor-pointer mb-0 px-3 py-2 collapsed" data-toggle="collapse" href="#add-icon">
                                <i class="fas fa-caret-down mr-2"></i> Add Icons
                            </h3>
                        </div>
                        <div class="pot-list-section w-100 px-0 collapse" id="add-icon">
                            <div class="w-100 d-flex justify-content-center flex-wrap px-3 pb-3 pt-3">
                                <%- include("./partials/iconDataForm") %>
                            </div>
                        </div>
                    </div>

                    <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                        <div class="pot-list-section-subheader w-100">
                            <h3 class="font-subheader index-collapse d-flex align-items-center cursor-pointer mb-0 px-3 py-2" data-toggle="collapse" href="#icon-db">
                                <i class="fas fa-caret-down mr-2"></i> Icon Database
                            </h3>
                        </div>
                        <div class="pot-list-section w-100 px-0 collapse show" id="icon-db">
                            <div class="d-flex flex-column justify-content-center align-items-center px-3 pt-3 pb-3">
                                <p>Select one of the following categories to view icons in that category.</p>
                                <div class="col-12 d-flex flex-wrap px-0">
                                    <% iconCategories.forEach(function(category) { %>
                                        <div class="col-6 col-md-3 px-1 mb-2">
                                            <div class="single-option-select d-flex justify-content-center align-items-center rounded-sm position-relative py-1 px-2 <% if(locals.selectedCategory && selectedCategory === category.id) { %>active<% } %>">
                                                <a href="/admin/icons/<%= category.id %>" class="stretched-link text-decoration-none">
                                                    <%= category.name %>
                                                </a>
                                            </div>
                                        </div>
                                    <% }) %>
                                </div>

                                <% if(locals.icons) { %>
                                    <hr class="w-25">

                                    <form class="size-720 w-100 mb-4" id="search-form">
                                        <input type="text" class="form-control text-center" id="search-field" placeholder="Search <% if(selectedCategory === "equip") { %>equip type, <% } %>icon ID or name..." autocomplete="off">
                                        <small class="form-text text-center text-muted">Minimum 3 characters to begin search</small>
                                    </form>

                                    <div class="database-table size-900 w-100" id="icon-table">
                                        <table class="font-table w-100 table table-bordered table-hover mb-0">
                                            <thead>
                                                <tr>
                                                    <% if(selectedCategory === "equip") { %>
                                                        <th class="text-center align-middle">Equip Type</th>
                                                    <% } %>
                                                    <th class="align-middle">Icon ID</th>
                                                    <th class="align-middle">Icon Name</th>
                                                    <th class="align-middle">Used in Sections</th>
                                                    <th class="table-cols-50 text-center align-middle">Tools</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% icons.forEach(function(icon) { %>
                                                    <tr class="single-search-row" data-search-terms='["<%= icon.id.toLowerCase() %>", "<%= icon.name.toLowerCase() %>"<% if(selectedCategory === "equip") { %>, "<%= icon.category %>"<% } %>]'>
                                                        <% if(selectedCategory === "equip") { %>
                                                            <td class="text-center align-middle"><%= icon.category %></td>
                                                        <% } %> 
                                                        <td class="align-middle"><%= icon.id %></td>
                                                        <td class="align-middle"><%= icon.name %></td>
                                                        <td class="align-middle"><%= icon.usedInSections.join(" / ") %></td>
                                                        <td class="table-cols-50 text-center align-middle">
                                                            <a href="/admin/icon/<%= icon._id %>" class="btn btn-outline-info btn-sm"><i class="fas fa-pen"></i></a>
                                                            <form action="/admin/icon/<%= icon._id %>/delete" method="POST" class="d-inline">
                                                                <button type="submit" class="delete-database-item-btn btn btn-outline-danger btn-sm" data-name="<%= icon.name %>"><i class="fas fa-trash"></i></button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/scripts/commonScript.js"></script>
<script type="text/javascript" src="/scripts/admin/iconScript.js"></script>
<%- include("../partials/footer") %>