<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column">
    <div class="w-100 d-flex flex-column justify-content-center px-3 py-3">
        <div class="pill-section rounded-sm mb-5">
            <div class="pill-section-subheader text-center pb-2">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                    <img src="<%= icons['map-maple-live'].imgUrl %>" class="mr-2"> Calculator
                </h2>
                <p class="mb-0">
                    With consistent effort, what level will you end up at?
                </p>
            </div>
            <div class="pill-section-content table-responsive font-form d-flex flex-column align-items-center py-3" id="calc-exp-contents">
                <div class="w-100 px-3">
                    <p class="w-100 mb-1">Instructions/Notes:</p>
                    <ul class="w-100 mb-4">
                        <li>For fields requiring a number, input the number of runs you do <span class="text-custom font-weight-bold">per day</span>.</li>
                        <li>For Erda Spectrum and Hungry Muto (assumes S-rank clear), input the number of runs you do <span class="text-custom font-weight-bold">manually</span>. Auto-complete runs do not give EXP.</li>
                        <li>For Start/End Date, both dates written are <span class="text-custom font-weight-bold">inclusive</span> (e.g. if I select 01 May till 04 May, EXP from both 01 May and 04 May inclusive will be calculated).</li>
                        <li>The calculator will factor in bonus EXP from Monster Park on Sundays. It will not factor any Sunday Maple events.</li>
                        <li>To maximize total EXP gain, EXP minigame values will be <span class="text-custom font-weight-bold">factored last</span> in case you leveled in the process of doing other dailies.</li>
                    </ul>
                </div>

                <div class="col-12 d-flex flex-wrap mb-md-3">
                    <div class="col-12 col-md-6 pl-0 d-flex flex-column justify-content-center align-items-center py-2" id="dailies-container">
                        <p class="w-100 text-center mb-1 px-0">Select dailies:</p>
                        <div class="d-flex flex-wrap justify-content-center mb-2">
                            <% expContents.dailies.forEach((daily, index) => { %>
                                <% if(index === 6) { %>
                                    <div class="w-100"></div>
                                <% } %>
                                <div class="single-exp-content calc-daily-quest rounded-sm cursor-pointer mx-1 my-1 position-relative" id="calc-daily-<%= daily.iconId %>" data-raw-exp="<%= daily.rawEXP %>">
                                    <img class="item-square" src="<%= icons[daily.iconId].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="<%= daily.name %>">
                                    <i class="fas fa-check fa-lg selected-daily text-custom position-absolute d-none"></i>
                                </div>
                            <% }) %>
                        </div>
                    </div>

                    <div class="col-12 d-block d-md-none text-center mb-2">---</div>

                    <div class="col-12 col-md-6 px-0 d-flex flex-column justify-content-center py-2">
                        <form class="w-100 d-flex flex-column align-items-center mb-2">
                            <div class="form-group row w-100 d-flex justify-content-center align-items-center mb-2">
                                <input type="number" id="num-erda-spectrum" class="form-control col-2 col-sm-1 px-2 text-center" placeholder="Qty" value="0">
                                <div class="col-8 col-md-9 px-2">
                                    <select class="form-control" id="erda-spectrum-select">
                                        <option value="<%= expContents.others[0].rawEXP %>" selected>Erda Spectrum</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row w-100 d-flex justify-content-center align-items-center mb-2">
                                <input type="number" id="num-muto" class="form-control col-2 col-sm-1 px-2 text-center" placeholder="Qty" value="0">
                                <div class="col-8 col-md-9 px-2">
                                    <select class="form-control" id="muto-select">
                                        <option value="<%= expContents.others[1].rawEXP %>">Hungry Muto (Easy)</option>
                                        <option value="<%= expContents.others[2].rawEXP %>">Hungry Muto (Normal)</option>
                                        <option value="<%= expContents.others[3].rawEXP %>">Hungry Muto (Hard)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row w-100 d-flex justify-content-center align-items-center mb-2">
                                <input type="number" id="num-monster-park" class="form-control col-2 col-sm-1 px-2 text-center" placeholder="Qty" value="2">
                                <div class="col-8 col-md-9 px-2">
                                    <select class="form-control" id="monster-park-select">
                                        <option value="0" selected disabled hidden>- Select Monster Park -</option>
                                        <% expContents.monsterPark.forEach((dungeon, index) => { %>
                                            <% if(index === 0) { %>
                                                <option value="0" class="font-weight-bold" disabled>[Level 105~115]</option>
                                            <% } %>
                                            <% if(index === 8) { %>
                                                <option value="0" class="font-weight-bold" disabled>[Level 116~160]</option>
                                            <% } %>
                                            <% if(index === 15) { %>
                                                <option value="0" class="font-weight-bold" disabled>[Level 161+]</option>
                                            <% } %>
                                            <option value="<%= dungeon.rawEXP %>"><%= dungeon.name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row w-100 d-flex justify-content-center align-items-center mb-0">
                                <input type="number" id="num-exp-minigame" class="form-control col-2 col-sm-1 px-2 text-center" placeholder="Qty" value="0">
                                <div class="col-8 col-md-9 px-2">
                                    <select class="form-control" id="exp-minigame-select">
                                        <option value="" selected disabled hidden>- Select EXP Minigame -</option>
                                        <option value="live">Maple LIVE</option>
                                        <option value="destiny" data-multiplier="1">DESTINY</option>
                                        <option value="destiny" data-multiplier="1.4">Momentree - Wardrobe 2F</option>
                                        <option value="destiny" data-multiplier="2">Momentree - Wardrobe 3F</option>
                                        <option value="destiny" data-multiplier="2.5">Momentree - Wardrobe 4F</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-12 d-block d-md-none text-center mb-3">---</div>

                <form class="w-100 size-720">
                    <div class="form-group row w-100 d-flex justify-content-center mb-2">
                        <label class="font-weight-bold col-3 col-md-2 col-form-label text-right">Start Date</label>
                        <input type="date" id="dailies-start-date" class="form-control col-4 col-md-3 px-2" value="<%= new Date().toLocaleDateString('en-CA') %>">
                    </div>
                    <div class="form-group row w-100 d-flex justify-content-center mb-0">
                        <label class="font-weight-bold col-3 col-md-2 col-form-label text-right">End Date</label>
                        <input type="date" id="dailies-end-date" class="form-control col-4 col-md-3 px-2" value="<%= new Date().toLocaleDateString('en-CA') %>">
                    </div>
                    <p class="w-100 font-small text-danger text-center d-none mt-2 mb-0" id="calc-dailies-date-input-error"></p>
                </form>

                <div class="col-12 text-center mt-3 mb-3">---</div>

                <div class="w-100 d-flex flex-column flex-sm-row align-items-start mb-3">
                    <form class="col-12 col-sm-6 w-100 px-0">
                        <div class="form-group row w-100 d-flex justify-content-center justify-content-md-start mb-2">
                            <label class="col-3 col-sm-6 font-weight-bold col-form-label text-right">Start Level</label>
                            <input type="number" id="start-calc-dailies-char-level" class="form-control col-4 col-sm-6 col-md-3 px-2" value="200">
                        </div>
                        <div class="form-group row w-100 d-flex justify-content-center justify-content-md-start mb-2">
                            <label class="col-3 col-sm-6 font-weight-bold col-form-label text-right">EXP (%)</label>
                            <div class="col-4 col-sm-6 col-md-3 px-0">
                                <input type="number" id="start-calc-dailies-char-exp-percent" class="form-control px-2" value="0.000">
                                <small class="text-danger d-none mr-3" id="calc-dailies-exp-percent-input-error">Input should be below 100.000%</small>
                            </div>
                        </div>
                        <div class="form-group row w-100 d-flex justify-content-center justify-content-md-start mb-2">
                            <label class="col-3 col-sm-6 font-weight-bold col-form-label text-right">EXP (Value)</label>
                            <div class="col-4 col-sm-6 px-0">
                                <input type="number" id="start-calc-dailies-char-exp-raw" class=" form-control px-2" value="0">
                                <small class="text-danger d-none" id="calc-dailies-exp-raw-input-error">Input exceeds level's EXP to level</small>
                            </div>
                        </div>
                    </form>

                    <form class="col-12 col-sm-6 w-100 d-flex flex-column justify-content-center align-items-start text-custom px-0">
                        <div class="form-group row w-100 d-flex justify-content-center justify-content-md-start mb-2">
                            <label class="col-3 col-sm-6 font-weight-bold col-form-label text-right">End Level</label>
                            <input type="number" id="end-calc-dailies-char-level" class="form-control-plaintext col-4 col-sm-6 col-md-3 text-custom px-2" value="200" readonly>
                        </div>
                        <div class="form-group row w-100 d-flex justify-content-center justify-content-md-start mb-2">
                            <label class="col-3 col-sm-6 font-weight-bold col-form-label text-right">EXP (%)</label>
                            <input type="text" id="end-calc-dailies-char-exp-percent" class="form-control-plaintext col-4 col-sm-6 col-md-3 text-custom px-2" value="0.000" readonly>
                        </div>
                        <div class="form-group row w-100 d-flex justify-content-center justify-content-md-start mb-2">
                            <label class="col-3 col-sm-6 font-weight-bold col-form-label text-right">EXP (Value)</label>
                            <input type="text" id="end-calc-dailies-char-exp-raw" class="col-4 col-sm-6 form-control-plaintext text-custom px-2" value="0" readonly>
                        </div>
                    </form>
                </div>

                <button type="button" class="table-cols-125 btn btn-sm btn-outline-custom" id="btn-calc-dailies-exp-result"><i class="fas fa-check"></i> (Re)Calculate</button>
            </div>
        </div>
    </div>
</div>