<div class="summary-modal modal fade" id="dailies-summary-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content border-0">
            <div class="modal-body position-relative d-flex align-items-center justify-content-center p-0">
                <div class="summary-div col-12 size-720 d-flex flex-column flex-md-row align-items-center justify-content-center rounded-lg pt-4 pb-4">
                    <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center mb-3 mb-md-0">
                        <div class="col-12 px-0 d-flex justify-content-center align-items-center">
                            <div class="d-flex flex-column align-items-center">
                                <p class="font-small mb-2" id="calc-start-date"></p>
                                <p class="font-weight-bold mb-0">Level</p>
                                <p class="font-mega font-weight-bold mb-0" id="calc-start-level"></p>
                                <p class="mb-0 font-weight-bold" id="calc-start-percent"></p>
                                <p class="mb-md-3 font-small text-center" id="calc-start-raw"></p>
                            </div>
                            <div class="text-center mx-4">
                                <p class="font-mega mb-0">&raquo;</p>
                                <p class="font-small d-none mb-0" id="hyper-text">Hyper Burn</p>
                            </div>
                            <div class="d-flex flex-column align-items-center text-custom">
                                <p class="font-small mb-2" id="calc-end-date"></p>
                                <p class="font-weight-bold mb-0">Level</p>
                                <p class="font-mega font-weight-bold mb-0" id="calc-end-level"></p>
                                <p class="mb-0 font-weight-bold" id="calc-end-percent"></p>
                                <p class="mb-md-3 font-small text-center" id="calc-end-raw"></p>
                            </div>
                        </div>
                        <div class="col-12 d-none px-0" id="level-milestones-div">
                            <p class="summary-subheader font-weight-bold text-center mb-1 py-1">- Level Milestones -</p>
                            <div class="d-flex flex-wrap px-3" id="milestones-summary"></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 d-flex flex-column align-items-center px-0" id="activity-summary">
                        <!--<div class="col-12 d-none mb-3 px-0" id="special-notes-div">
                            <p class="summary-subheader font-weight-bold text-center mb-1 py-1">- Special Notes -</p>
                            <div class="d-flex justify-content-center flex-wrap px-3 mb-2" id="special-notes-summary"></div>
                        </div>-->
                        <div class="col-12 d-none mb-3 px-0" id="dailies-summary-div">
                            <p class="summary-subheader font-weight-bold text-center mb-1 py-1">- Dailies -</p>
                            <div class="d-flex justify-content-center flex-wrap px-3 mb-2" id="dailies-summary"></div>
                        </div>
                        <div class="col-12 d-none mb-3 px-0" id="weeklies-summary-div">
                            <p class="summary-subheader font-weight-bold text-center mb-1 py-1">- Weeklies (<span id="which-day"></span>) - </p>
                            <div class="d-flex justify-content-center flex-wrap px-3" id="weeklies-summary"></div>
                        </div>
                        <div class="col-12 d-none mb-3 px-0" id="monster-park-summary-div">
                            <p class="summary-subheader font-weight-bold text-center mb-1 py-1">- Monster Park - </p>
                            <div class="px-3" id="monster-park-summary"></div>
                        </div>
                        <div class="col-12 d-none mb-3 px-0" id="others-summary-div">
                            <p class="summary-subheader font-weight-bold text-center mb-1 py-1">- Others -</p>
                            <div class="px-3" id="others-summary"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column">
    <div class="w-100 d-flex flex-column justify-content-center py-3">
        <div class="pill-section rounded-sm mb-5">
            <div class="pill-section-subheader text-center pb-2">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                    <img src="<%= icons['map-maple-live'].imgUrl %>" class="mr-2"> Calculator
                </h2>
                <p class="mb-0">
                    With consistent effort, what level will you end up at?
                </p>
            </div>
            <div class="pill-section-content table-responsive font-form d-flex flex-column align-items-center py-3" id="calc-exp-contents">
                <div class="col-12 d-flex flex-wrap justify-content-xl-center px-2">
                    <div class="col-12 d-flex flex-wrap px-0 mb-5" id="symbol-dailies">
                        <div class="col-12 col-sm-4 offset-xl-1 col-xl-3 px-2">
                            <p class="font-subsubheader font-weight-bold mb-0 px-md-3">1) Dailies</p>
                            <p class="font-small text-custom mb-2 px-3">Pick all dailies you intend to do (level restrictions automatically factored)</p>
                        </div>
                        <div class="col-12 col-sm-8 col-xl-7 d-flex justify-content-center justify-content-sm-start align-items-start flex-wrap">
                            <% expContents.symbolContent.forEach((content, index) => { %>
                                <% if(index === 6 || index === 9) { %>
                                    <div class="w-100"></div>
                                <% } %>
                                <div class="single-exp-content calc-daily-quest rounded-sm cursor-pointer mx-1 my-1 position-relative" id="calc-daily-<%= content.iconId %>" data-raw-exp="<%= content.dailyRawEXP %>" data-min-level="<%= content.recMinLevel %>">
                                    <img class="item-square" src="<%= icons[content.iconId].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="<%= content.name %>">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check-lg selected-daily text-custom position-absolute d-none" viewBox="0 0 16 16">
                                      <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                                    </svg>
                                </div>
                            <% }) %>
                        </div>
                    </div>

                    <div class="col-12 d-flex flex-wrap px-0 mb-5" id="symbol-weeklies">
                        <div class="col-12 col-sm-4 offset-xl-1 col-xl-3 px-2">
                            <p class="font-subsubheader font-weight-bold mb-0 px-md-3">2) Weeklies</p>
                            <p class="font-small text-custom mb-2 px-3">Pick all weeklies you intend to do (level restrictions automatically factored)</p>
                        </div>
                        <form class="col-12 col-sm-8 col-xl-7 px-0">
                            <div class="col-12 mb-2 px-3">
                                <select class="col-12 col-md-5 form-control text-center text-md-left py-1 px-3" id="weeklies-when-select">
                                    <option value="" selected>I do weeklies on...</option>
                                    <option value="1">Monday</option>
                                    <option value="2">Tuesday</option>
                                    <option value="3">Wednesday</option>
                                    <option value="4">Thursday</option>
                                    <option value="5">Friday</option>
                                    <option value="6">Saturday</option>
                                    <option value="0">Sunday</option>
                                </select>
                            </div>

                            <div class="col-12 d-flex flex-wrap">
                                <% expContents.symbolContent.forEach((content, index) => { %>
                                    <% if(content.hasWeekly) { %>
                                        <div class="col-12 col-sm-6 form-group d-flex justify-content-center justify-content-sm-start align-items-center mb-2 px-0">
                                            <select class="col-4 calc-weekly-quest form-control text-center mr-2" id="calc-weekly-<%= content.iconId %>" data-region="<%= content.iconId %>" data-weekly-name="<%= content.weeklyName %>" data-weekly-raw-exp="<%= content.weeklyRawEXP %>" data-min-level="<%= content.recMinLevel %>">
                                                <option value="0" selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                            </select>
                                            <p class="col-4 col-sm-6 mb-0 px-0"><%= content.weeklyName %></p>
                                        </div>
                                    <% } %>
                                <% }) %>
                            </div>
                        </form>
                    </div>

                    <div class="col-12 d-flex flex-wrap px-0 mb-5" id="exp-minigames">
                        <div class="col-12 col-sm-4 offset-xl-1 col-xl-3 px-2">
                            <p class="font-subsubheader font-weight-bold mb-0 px-md-3">3) EXP Tickets / Minigames / Punch King</p>
                            <p class="font-small text-left text-custom mb-2 px-3">A <a href="https://bit.ly/ms-exp-table" target="_blank">quick reference chart</a> is available. EXP Tickets / Points are assumed to be used on the last day. EXP Punch King is assumed to be done on Sunday (regardless of number of runs).</p>
                        </div>
                        <form class="col-12 col-sm-8 col-xl-7 px-0">
                            <div class="form-group w-100 mb-2">
                                <div class="col-12 col-md-9 col-lg-12 col-xl-7 px-3">
                                    <select class="form-control text-center text-sm-left py-1 px-0 px-sm-3" id="exp-minigame-select">
                                        <option value="" selected disabled hidden>- Select event type -</option>
                                        <option value="destiny" data-num-tix="39000">DREAMER (Lacheln in a Dream)</option>
                                        <option value="destiny" data-num-tix="33000">NEW AGE (Identisk Island)</option>
                                        <option value="destiny" data-num-tix="33000">Mapril Island (Dungeon + Frozen Blast)</option>
                                        <option value="destiny" data-num-tix="15000">Minar Autumn Picnic (Forest Blast)</option>
                                        <option value="destiny" data-num-tix="11600">Maple Fashion Week</option>
                                        <option value="destiny" data-num-tix="0">Other events/sources</option>
                                        <!--<option class="font-weight-bold" value="" disabled>Ended</option>
                                        <option value="destiny" data-num-minigames="1" data-multiplier="2">6th Star</option>
                                        <option value="destiny" data-num-tix="3000">Magic Stone Slab</option>
                                        <option value="destiny" data-num-tix="6300">Raise the Rock Spirit</option>
                                        <option value="destiny" data-num-tix="18400">SAVIOR (minigame week not included)</option>
                                        <option value="destiny" data-num-minigames="2">IGNITION</option>
                                        <option value="destiny" data-num-minigames="1" data-multiplier="2.6">Momentree - Wardrobe 4F</option>
                                        <option value="destiny" data-num-minigames="1" data-multiplier="2">Momentree - Wardrobe 3F</option>
                                        <option value="destiny" data-num-minigames="1" data-multiplier="1.4">Momentree - Wardrobe 2F</option>
                                        <option value="destiny" data-num-minigames="2">DESTINY</option>
                                        <option value="live" data-num-minigames="2">Maple LIVE</option>-->
                                    </select>
                                </div>
                            </div>

                            <div class="col-12">
                                <!--<div class="d-flex flex-column align-items-center">
                                    <input type="number" id="num-exp-minigame" class="form-control col-6 px-2 text-center" placeholder="Qty">
                                    <p class="mb-0">Count(s) per day</p>
                                </div>
                                <p class="d-inline font-weight-bold mb-0">OR</p>-->
                                <div class="form-group d-flex justify-content-center justify-content-sm-start align-items-center mb-2">
                                    <input type="number" id="num-exp-tickets" class="form-control col-3 px-2 text-center mr-2" placeholder="Qty">
                                    <p class="col-4 col-sm-6 mb-0 d-inline px-0">EXP Tickets / Points</p>
                                </div>
                                <div class="form-group d-flex justify-content-center justify-content-sm-start align-items-center mb-2">
                                    <input type="number" id="exp-pk-points" class="form-control col-3 px-2 text-center mr-2" placeholder="Score">
                                    <p class="col-4 col-sm-6 mb-0 d-inline px-0">Punch King Score</p>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-12 d-flex flex-wrap px-0 mb-5" id="monster-park">
                        <div class="col-12 col-sm-4 offset-xl-1 col-xl-3 px-2">
                            <p class="font-subsubheader font-weight-bold mb-0 px-md-3">4) Monster Park</p>
                            <p class="font-small text-left text-custom mb-2 px-3">Automatically selects the highest dungeon as you level up; bonus EXP on Sundays automatically factored in (Sunday Maple benefits not applied).</p>
                        </div>
                        <form class="col-12 col-sm-8 col-xl-7 px-0">
                            <div class="col-12">
                                <div class="form-group d-flex justify-content-center justify-content-sm-start align-items-center mb-2">
                                    <select class="col-3 form-control text-center mr-2" id="num-monster-park-select">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2" selected>2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                    </select>
                                    <p class="col-4 col-sm-6 mb-0 px-0">Monster Park (Regular)</p>
                                </div>
                                <div class="form-group d-flex justify-content-center justify-content-sm-start align-items-center mb-2">
                                    <select class="col-3 form-control text-center mr-2" id="num-monster-park-extreme-select">
                                        <option value="0">0</option>
                                        <option value="1" selected>1</option>
                                    </select>
                                    <p class="col-4 col-sm-6 mb-0 px-0">Monster Park Extreme</p>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-12 d-flex flex-wrap px-0 mb-5" id="hunting-exp">
                        <div class="col-12 col-sm-4 offset-xl-1 col-xl-3 px-2">
                            <p class="font-subsubheader font-weight-bold mb-2 px-md-3">5) Daily grinding EXP</p>
                        </div>
                        <form class="col-12 col-sm-8 col-xl-7 px-0">
                            <div class="col-12">
                                <div class="col-12 form-group d-flex justify-content-center justify-content-sm-start align-items-center mb-2 px-0">
                                    <input type="number" id="qty-monster-1" class="form-control col-3 col-md-2 col-lg-3 col-xl-2 px-2 text-center" placeholder="Qty" value="">
                                    <div class="col-8 col-sm-9 col-md-6 col-lg-9 col-xl-6 pl-2 pr-0">
                                        <input type="text" id="per-monster-exp-1" class="per-monster-exp form-control px-2 text-center" placeholder="Per monster EXP" value="" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-12 form-group d-flex justify-content-center justify-content-sm-start align-items-center mb-2 px-0">
                                    <input type="number" id="qty-monster-2" class="form-control col-3 col-md-2 col-lg-3 col-xl-2 px-2 text-center" placeholder="Qty" value="">
                                    <div class="col-8 col-sm-9 col-md-6 col-lg-9 col-xl-6 pl-2 pr-0">
                                        <input type="text" id="per-monster-exp-2" class="per-monster-exp form-control px-2 text-center" placeholder="Per monster EXP" value="" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-12 form-group d-flex justify-content-center justify-content-sm-start align-items-center mb-0 px-0">
                                    <input type="number" id="qty-monster-3" class="form-control col-3 col-md-2 col-lg-3 col-xl-2 px-2 text-center" placeholder="Qty" value="">
                                    <div class="col-8 col-sm-9 col-md-6 col-lg-9 col-xl-6 pl-2 pr-0">
                                        <input type="text" id="per-monster-exp-3" class="per-monster-exp form-control px-2 text-center" placeholder="Per monster EXP" value="" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-12 d-flex flex-wrap px-0 mb-5" id="start-level">
                        <div class="col-12 col-sm-4 offset-xl-1 col-xl-3 px-2">
                            <p class="font-subsubheader font-weight-bold mb-2 px-md-3">6) Starting Level</p>
                        </div>
                        <form class="col-12 col-sm-8 col-xl-7 px-0">
                            <div class="col-12 mb-2 px-3">
                                <select class="col-12 col-md-6 col-lg-6 col-xl-6 form-control text-center text-md-left px-3" id="burning-select">
                                    <option value="" selected>No Hyper Burn</option>
                                    <option value="hyper" data-max-level="260">Hyper Burning (to 260)</option>
                                    <option value="hyper" data-max-level="250">Hyper Burning (to 250)</option>
                                </select>
                            </div>
                            <div class="col-12 text-center">
                                <div class="form-group d-flex align-items-center mb-2">
                                    <label for="start-calc-dailies-char-level" class="col-4 col-md-3 col-lg-4 col-xl-2 font-weight-bold text-right text-sm-left col-form-label px-0 mr-2">Start Level</label>
                                    <input type="number" id="start-calc-dailies-char-level" class="form-control col-3 col-md-2 col-lg-3 col-xl-2 py-2" value="200">
                                </div>
                                <div class="form-group d-flex align-items-center mb-2">
                                    <label for="start-calc-dailies-char-exp-percent" class="col-4 col-md-3 col-lg-4 col-xl-2 font-weight-bold text-right text-sm-left col-form-label px-0 mr-2">EXP (%)</label>
                                    <input type="number" id="start-calc-dailies-char-exp-percent" class="form-control col-3 col-md-2 col-lg-3 col-xl-2 py-2" value="0.000">
                                </div>
                                <div class="form-group d-flex align-items-center mb-2">
                                    <label for="start-calc-dailies-char-exp-raw" class="col-4 col-md-3 col-lg-4 col-xl-2 font-weight-bold text-right text-sm-left col-form-label px-0 mr-2">EXP (Value)</label>
                                    <div class="col-8 px-0">
                                        <input type="text" id="start-calc-dailies-char-exp-raw" class="form-control col-9 col-md-7 col-lg-9 col-xl-7 py-2" value="0">
                                        <small class="text-danger d-none" id="calc-dailies-exp-raw-input-error">Input exceeds level's EXP to level up (<span id="calc-dailies-err-max-exp-tnl"></span> EXP)</small>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-12 d-flex flex-wrap px-0 mb-5" id="target-level">
                        <div class="col-12 col-sm-4 offset-xl-1 col-xl-3 px-2">
                            <p class="font-subsubheader font-weight-bold mb-2 px-md-3">7) Target Level</p>
                            <p class="font-small text-left text-custom mb-2 px-3">If you have a specific target level you wish to achieve, indicate it here.</p>
                        </div>
                        <form class="col-12 col-sm-8 col-xl-7 px-0">
                            <div class="col-12">
                                <div class="form-group d-flex align-items-center mb-2">
                                    <label for="start-calc-dailies-target-level" class="col-4 col-md-3 col-lg-4 col-xl-2 font-weight-bold text-right text-sm-left col-form-label px-0 mr-2">Target Level</label>
                                    <input type="number" id="start-calc-dailies-target-level" class="form-control col-3 col-md-2 col-lg-3 col-xl-2 py-2" value="200">
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-12 d-flex flex-wrap px-0 mb-5" id="date-range">
                        <div class="col-12 col-sm-4 offset-xl-1 col-xl-3 px-2">
                            <p class="font-subsubheader font-weight-bold mb-0 px-md-3">8) Start/End Date</p>
                            <p class="font-small text-left text-custom mb-2 px-3">If you have a specific date range in mind, indicate it here. Both dates are inclusive (i.e. 01 May to 04 May will include both of these dates in the calculation)</p>
                        </div>
                        <form class="col-12 col-sm-8 col-xl-7 px-0">
                            <div class="col-12">
                                <div class="form-group d-flex align-items-center mb-2">
                                    <label for="dailies-start-date" class="col-4 col-md-3 col-lg-4 col-xl-2 font-weight-bold text-right text-sm-left col-form-label px-0 mr-2">Start Date</label>
                                    <input type="date" id="dailies-start-date" class="form-control col-6 col-md-4 col-lg-6 col-xl-4 text-center px-2" value="<%= dateNow.getFullYear() %>-<%= ("0" + (dateNow.getUTCMonth() + 1)).slice(-2) %>-<%= ("0" + dateNow.getUTCDate()).slice(-2) %>">
                                </div>
                                <div class="form-group d-flex align-items-center mb-2">
                                    <label for="dailies-end-date" class="col-4 col-md-3 col-lg-4 col-xl-2 font-weight-bold text-right text-sm-left col-form-label px-0 mr-2">End Date</label>
                                    <input type="date" id="dailies-end-date" class="form-control col-6 col-md-4 col-lg-6 col-xl-4 text-center px-2" value="<%= dateNow.getFullYear() %>-<%= ("0" + (dateNow.getUTCMonth() + 1)).slice(-2) %>-<%= ("0" + dateNow.getUTCDate()).slice(-2) %>">
                                </div>
                            </div>
                            <p class="w-100 font-small text-danger text-center text-sm-left d-none mt-2 mb-0" id="calc-dailies-date-input-error"></p>
                        </form>
                    </div>
                </div>

                <button type="button" class="table-cols-125 btn btn-outline-custom d-flex align-items-center text-center justify-content-center" id="btn-calc-dailies-exp-result">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                      <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>&nbsp;(Re)Calculate
                </button>
            </div>
        </div>
    </div>
</div>