<div class="summary-modal modal fade" id="potion-summary-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content border-0">
            <div class="modal-body position-relative d-flex align-items-center justify-content-center p-0">
                <div class="summary-div col-12 size-720 d-flex flex-column flex-md-row align-items-center justify-content-center rounded-lg pt-4 pb-2">
                    <div class="col-12 col-md-6 d-flex justify-content-center align-items-center mb-3 mb-md-0">
                        <div class="d-flex flex-column align-items-center">
                            <p class="font-weight-bold mb-0">Level</p>
                            <p class="font-mega font-weight-bold mb-0" id="calc-start-potion-level"></p>
                            <p class="mb-0 font-weight-bold" id="calc-start-potion-percent"></p>
                            <p class="mb-md-3 font-small text-center" id="calc-start-potion-raw"></p>
                        </div>
                        <div class="text-center mx-4">
                            <p class="font-mega mb-0">&raquo;</p>
                        </div>
                        <div class="d-flex flex-column align-items-center text-custom">
                            <p class="font-weight-bold mb-0">Level</p>
                            <p class="font-mega font-weight-bold mb-0" id="end-potion-char-level"></p>
                            <p class="mb-0 font-weight-bold" id="end-potion-char-exp-percent"></p>
                            <p class="mb-md-3 font-small text-center" id="end-potion-char-exp-raw"></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 d-flex flex-column align-items-center px-0">
                        <!--<div class="col-12 mb-3 px-0" id="special-notes-div">
                            <p class="summary-subheader font-weight-bold text-center mb-1 py-1">- New Age Notes -</p>
                            <div class="d-flex justify-content-center flex-wrap px-3 mb-2" id="potion-special-notes-summary">
                                <p class="mb-2 text-center">You will be <span class="font-weight-bold text-custom" id="use-now-potion-stats"></span> after the New Age patch (15 Nov).</p>
                                <p class="mb-0 text-center">If you wait for the New Age patch before using the potions, you will start at <span class="font-weight-bold text-custom" id="new-age-potion-start-stats"></span> and end at <span class="font-weight-bold text-custom" id="new-age-potion-end-stats"></span> instead.
                            </div>
                        </div>-->
                        <div class="col-12 mb-3 px-0">
                            <p class="summary-subheader font-weight-bold text-center mb-1 py-1">- Potions Used -</p>
                            <div class="d-flex flex-column justify-content-center align-items-center px-3 mb-2" id="potion-summary"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column">
    <div class="w-100 d-flex flex-column justify-content-center py-3">
        <div class="pill-section rounded-sm mb-5">
            <div class="pill-section-subheader text-center">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                    <img src="<%= icons['growth-potion'].imgUrl %>" class="mr-2"> Summary
                </h2>
            </div>
            <div class="pill-section-content font-form d-flex flex-wrap justify-content-center pt-4 px-3">
                <% Object.keys(potionList).forEach(potion => { %>
                    <div class="per-potion-exp-div col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4 d-flex align-items-center justify-content-center mb-4 px-0 px-sm-3" id="<%= potionList[potion].id %>" data-pot-type="<%= potion %>">
                        <img class="item-square" src="<%= icons[potionList[potion].id].imgUrl %>">
                        <div class="col-10 px-2">
                            <p class="mb-0 font-weight-bold">
                                <%= potionList[potion].name %>
                                <% if(potion === "potion1" || potion === "potion2" || potion === "potion3") { %>
                                    (<%= potionList[potion].minLevel %> - <%= potionList[potion].maxLevel %>)
                                <% } %>
                            </p>
                            <p class="mb-0">
                                <span class="pot-raw-exp"></span> / 
                                <span class="pot-percent-exp text-custom font-weight-bold"></span>
                            </p>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>

        <div class="pill-section rounded-sm mb-5">
            <div class="pill-section-subheader text-center">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                    <img src="<%= icons['growth-potion'].imgUrl %>" class="mr-2"> Calculator
                </h2>
                <p class="mb-0 pb-2">
                    Potion EXP calculator for level 200+ characters
                </p>
            </div>
            <div class="pill-section-content d-flex flex-column align-items-center justify-content-center py-4 px-3" id="potion-exp-calc">
                <p class="w-100 mb-1">Notes:</p>
                <ul class="w-100 mb-4">
                    <li>The calculator will add potions sequentially from the weakest to the strongest (i.e. Extreme first, Maximum last)</li>
                    <li>You can add up to 1000 of <em>each potion type</em></li>
                    <li>At level 210 to 212 (inclusive), it is more efficient to use 8 x Potion 1 than 4 x Potion 2.</li>
                    <li>At level 220 to 224 (inclusive), it is more efficient to use 4 x Potion 2 than 2 x Potion 3.</li>
                    <li>At level 230 to 236 (inclusive), it is more efficient to use 2 x Potion 3 than 1 x Typhoon Growth Potion.</li>
                </ul>
                <form class="w-100 d-flex flex-column align-items-center mb-3">
                    <div class="size-720 w-100 d-flex justify-content-center align-items-center flex-wrap mb-4">
                        <div class="form-group row col-6 col-sm-4 d-flex flex-column align-items-center mb-2 pr-1 pl-0 px-sm-0 mx-0">
                            <label class="font-weight-bold col-form-label py-1">Start Level</label>
                            <input type="number" id="start-potion-char-level" class="form-control col-12 col-sm-10 px-2 py-2 text-center mx-0" value="200">
                        </div>
                        <div class="form-group row col-6 col-sm-4 d-flex flex-column align-items-center mb-2 pl-1 pr-0 px-sm-0 mx-0">
                            <label class="font-weight-bold col-form-label py-1">EXP (%)</label>
                            <div class="w-100 d-flex flex-column align-items-center">
                                <input type="number" id="start-potion-char-exp-percent" class="form-control col-12 col-sm-10 text-center px-2 py-2 mx-0" value="0.000">
                                <small class="text-danger d-none mr-3" id="exp-percent-input-error">Input should be below 100.000%</small>
                            </div>
                        </div>
                        <div class="form-group row col-12 col-sm-4 d-flex flex-column align-items-center mb-2 px-0 mx-0">
                            <label class="font-weight-bold col-form-label py-1">EXP (Value)</label>
                            <div class="w-100 d-flex flex-column align-items-center">
                                <input type="text" id="start-potion-char-exp-raw" class="form-control col-12 col-sm-10 text-center px-2 py-2 mx-0" value="0">
                                <small class="text-danger text-center d-none" id="exp-raw-input-error">Input exceeds level's EXP to level up (<span id="potion-calc-err-max-exp-tnl"></span> EXP)</small>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap justify-content-center">
                        <% Object.keys(potionList).forEach(potion => { %>
                            <div class="per-potion-add-div col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4 d-flex align-items-center justify-content-center mb-4 px-0 px-sm-3" id="<%= potionList[potion].id %>" data-pot-type="<%= potion %>">
                                <img class="item-square" src="<%= icons[potionList[potion].id].imgUrl %>">
                                <div class="col-10 px-2">
                                    <p class="mb-1 font-weight-bold">
                                        <%= potionList[potion].name %>
                                        <% if(potion === "potion1" || potion === "potion2" || potion === "potion3") { %>
                                            (<%= potionList[potion].minLevel %> - <%= potionList[potion].maxLevel %>)
                                        <% } %>
                                    </p>
                                    <div class="d-flex align-items-center">
                                        <input type="number" class="single-potion-add-input font-table col-4 text-center form-control mr-2 px-0" value="" data-potion-type="<%= potion %>" data-potion-name="<%= potionList[potion].name %>" data-img-src="<%= icons[potionList[potion].id].imgUrl %>" placeholder="Qty">
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </form>

                <button type="button" class="table-cols-125 btn btn-sm btn-outline-custom d-flex align-items-center text-center justify-content-center" id="btn-calc-pot-result">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                      <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>&nbsp;(Re)Calculate
                </button>
            </div>
        </div>

        <div class="pill-section rounded-sm mb-5">
            <div class="pill-section-subheader text-center">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                    <img src="<%= icons['growth-potion'].imgUrl %>" class="mr-2"> EXP Tables
                </h2>
            </div>
            <div class="pill-section-content font-form d-flex flex-wrap justify-content-center pt-3">
                <form class="w-100 d-flex flex-column align-items-center">
                    <div class="form-group row w-100 d-flex justify-content-center align-items-center mb-2">
                        <label for="potion-exp-table-select" class="font-weight-bold col-form-label">Select Potion</label>
                        <div class="col-sm-6 col-md-4">
                            <select class="form-control" id="potion-exp-table-select">
                                <option value="extreme">Extreme Growth Potion</option>
                                <option value="potion1">Growth Potion 1</option>
                                <option value="potion2">Growth Potion 2</option>
                                <option value="potion3">Growth Potion 3</option>
                                <option value="typhoon">Typhoon Growth Potion</option>
                                <option value="maximum">Maximum Growth Potion</option>
                            </select>
                        </div>
                    </div>
                </form>
                <p class="mb-4 px-3" id="egp-chart-msg">To see the probabilities of X level ups at level Y when using an Extreme Growth Potion, <a href='https://whacky-website.s3.ap-southeast-1.amazonaws.com/images/guide/egp-chart.jpg' target='_blank'>click here</a>.</p>

                <div class="table-responsive d-flex flex-wrap justify-content-center" id="potion-exp-table-details"></div>
            </div>
        </div>
    </div>
</div>