<div class="d-flex flex-column align-items-center py-3">
    <div class="col-12 px-3 mb-4">
        <h3 class="collapsible-section-subheader font-subsubheader index-collapse w-100 text-left px-3 py-2 mb-0 cursor-pointer d-flex align-items-center" data-toggle="collapse" href="#ds-<%= skin.folderNum %>-screenshots">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
              <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>&nbsp;Screenshots
        </h3>
        <div class="collapsible-section px-0 collapse show" id="ds-<%= skin.folderNum %>-screenshots">
            <div class="position-relative pt-3 pb-2">
                <% if(!skin.screenshotTypes || skin.screenshotTypes === null || skin.screenshotTypes.length === 0) { %>
                    <p class="mb-2">- No screenshots available yet. Wanna contribute? <a href="https://docs.google.com/spreadsheets/d/1A1bGj9uCLAMAJBXsNPwtF3ydt15C7zQc6Tdbt1tOlMI/edit?usp=sharing" target="_blank">Click me!</a> -</p>
                <% } else { %>
                    <% if(skin.screenshotTypes.includes("reg")) { %>
                        <img class="mx-2 mb-2" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>-ss-1.<%= skin.isAnimated ? 'gif' : 'png' %>">
                        <img class="mx-2 mb-2" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>-ss-2.<%= skin.isAnimated ? 'gif' : 'png' %>">
                        <br/>
                    <% } %>

                    <% if(skin.screenshotTypes.includes("unit-kr")) { %>
                        <img class="mx-2 mb-2" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.unitFolderNum %>-ss-1.<%= skin.isAnimated ? 'gif' : 'png' %>">
                        <img class="mx-2 mb-2" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.unitFolderNum %>-ss-2.<%= skin.isAnimated ? 'gif' : 'png' %>">
                        <br/>
                    <% } %>

                    <% if(skin.screenshotTypes.includes("unit-en")) { %>
                        <img class="mx-2 mb-2" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.unitFolderNum %>-en-ss-1.<%= skin.isAnimated ? 'gif' : 'png' %>">
                        <img class="mx-2 mb-2" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.unitFolderNum %>-en-ss-2.<%= skin.isAnimated ? 'gif' : 'png' %>">
                    <% } %>

                    <% if(skin.screenshotCredits) { %>
                        <div class="screenshot-credits font-small mt-2">[Image credits] - <%= skin.screenshotCredits %></div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>

    <div class="col-12 px-3 mb-0">
        <h3 class="collapsible-section-subheader font-subsubheader index-collapse w-100 text-left px-3 py-2 mb-0 cursor-pointer d-flex align-items-center" data-toggle="collapse" href="#ds-<%= skin.folderNum %>-details">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
              <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
            </svg>&nbsp;Details
        </h3>
        <div class="collapsible-section px-0 collapse show" id="ds-<%= skin.folderNum %>-details">
            <div class="d-flex flex-column">
                <% if(skin.altNames) { %>
                    <div class="d-flex border-bottom border-dark">
                        <div class="table-cols-100 d-flex align-items-center justify-content-center font-weight-bold px-3 py-3">Alternate Names</div>
                        <div class="w-100 d-flex flex-column justify-content-center align-items-center border-left border-dark py-3 px-3">
                            <% skin.altNames.forEach(name => { %>
                                <% if(name.includes("Damage Skin")) { %>
                                    <p class="mb-1"><%= name %></p>
                                <% } else { %>
                                    <p class="mb-1">Damage Skin - <%= name %></p>
                                <% } %>
                            <% }) %>
                        </div>
                    </div>
                <% } %>

                <% if(skin.notes || skin.isAnimated) { %>
                    <div class="d-flex border-bottom border-dark">
                        <div class="table-cols-100 d-flex align-items-center justify-content-center font-weight-bold px-3 py-3">Notes</div>
                        <div class="w-100 d-flex justify-content-center align-items-center flex-wrap border-left border-dark py-3 px-3">
                            <%= skin.notes %>
                            <%= skin.isAnimated ? "Best viewed in Light mode" : "" %>
                        </div>
                    </div>
                <% } %>

                <div class="d-flex border-bottom border-dark">
                    <div class="table-cols-100 d-flex align-items-center justify-content-center font-weight-bold px-3 py-3">Critical Hits</div>
                    <div class="w-100 d-flex justify-content-center align-items-center flex-wrap border-left border-dark py-3 px-3">
                        <% if(skin.folderNum !== -1) { %>
                            <% if(skin.digits.critical.hasEffect) { %>
                                <img class="mx-2" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>.NoCri1.effect3.<%= skin.isAnimated ? 'gif' : 'png' %>">
                            <% } %>

                            <% if(skin.digits.critical.cri1Assets.length > 0) { %>
                                <% if(skin.digits.critical.cri1Assets.some(elem => elem === "-")) { %>
                                    <% skin.digits.critical.cri1Assets.forEach((digit, i) => { %>
                                        <% if(digit === "-") { %>
                                            <img class="mx-2" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>.NoCri1.<%= i %>.<%= skin.isAnimated ? 'gif' : 'png' %>">
                                        <% } %>
                                    <% }) %>
                                <% } %>
                            <% } else { %>
                                <% for(let i = 0; i < 10; i++) { %>
                                    <img class="mx-2" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>.NoCri1.<%= i %>.<%= skin.isAnimated ? 'gif' : 'png' %>">
                                <% } %>
                            <% } %>

                            <% if(skin.digits.critical.isLoadCri0) { %>
                                <% if(skin.digits.critical.cri0Assets.length > 0) { %>
                                    <% skin.digits.critical.cri0Assets.forEach((digit, i) => { %>
                                        <% if(digit === "-") { %>
                                            <img class="mx-2" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>.NoCri0.<%= i %>.<%= skin.isAnimated ? 'gif' : 'png' %>">
                                        <% } %>
                                    <% }) %>
                                <% } else { %>
                                    <% for(let i = 0; i < 10; i++) { %>
                                        <img class="mx-2" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>.NoCri0.<%= i %>.<%= skin.isAnimated ? 'gif' : 'png' %>">
                                    <% } %>
                                <% } %>
                            <% } %>
                        <% } else { %>
                            It's an invisible damage skin.
                        <% } %>
                    </div>
                </div>

                <div class="d-flex border-bottom border-dark">
                    <div class="table-cols-100 d-flex align-items-center justify-content-center font-weight-bold px-3 py-3">Regular Hits</div>
                    <div class="w-100 d-flex justify-content-center align-items-center flex-wrap border-left border-dark py-3 px-3">
                        <% if(skin.folderNum !== -1) { %>
                            <% if(skin.digits.regular.red1Assets.length > 0) { %>
                                <% if(skin.digits.regular.red1Assets.some(elem => elem === "-")) { %>
                                    <% skin.digits.regular.red1Assets.forEach((digit, i) => { %>
                                        <% if(digit === "-") { %>
                                            <img class="mx-2" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>.NoRed1.<%= i %>.<%= skin.isAnimated ? 'gif' : 'png' %>">
                                        <% } %>
                                    <% }) %>
                                <% } %>
                            <% } else { %>
                                <% for(let i = 0; i < 10; i++) { %>
                                    <img class="mx-2" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>.NoRed1.<%= i %>.<%= skin.isAnimated ? 'gif' : 'png' %>">
                                <% } %>
                            <% } %>

                            <% if(skin.digits.regular.isLoadRed0) { %>
                                <% if(skin.digits.regular.red0Assets.length > 0) { %>
                                    <% skin.digits.regular.red0Assets.forEach((digit, i) => { %>
                                        <% if(digit === "-") { %>
                                            <img class="mx-2" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>.NoRed0.<%= i %>.<%= skin.isAnimated ? 'gif' : 'png' %>">
                                        <% } %>
                                    <% }) %>
                                <% } else { %>
                                    <% for(let i = 0; i < 10; i++) { %>
                                        <img class="mx-2" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>.NoRed0.<%= i %>.<%= skin.isAnimated ? 'gif' : 'png' %>">
                                    <% } %>
                                <% } %>
                            <% } %>
                        <% } else { %>
                            Were you really expecting to see something?
                        <% } %>
                    </div>
                </div>

                <% if(skin.hasUnitSkin) { %>
                    <div class="d-flex border-bottom border-dark">
                        <div class="table-cols-100 d-flex align-items-center justify-content-center font-weight-bold px-3 py-3">Units</div>
                        <div class="w-100 d-flex flex-column flex-sm-row justify-content-center flex-sm-wrap border-left border-dark px-3">
                            <div class="col d-flex flex-column px-0 py-2">
                                <div class="font-weight-bold text-underline py-1 mb-2">
                                    KR units
                                </div>
                                <div class="d-flex justify-content-center align-items-center flex-wrap mb-2 pr-sm-3">
                                    <% if(skin.digits.unitTypes.includes("kr")) { %>
                                        <img class="mx-2" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.unitFolderNum %>.NoCustom.NoCri0.3.<%= skin.isAnimated ? 'gif' : 'png' %>">
                                        <img class="mx-2" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.unitFolderNum %>.NoCustom.NoCri0.4.<%= skin.isAnimated ? 'gif' : 'png' %>">
                                    <% } else { %>
                                        N/A
                                    <% } %>
                                </div>
                            </div>

                            <div class="d-none d-sm-inline-flex border-left border-dark">
                            </div>

                            <div class="col d-flex flex-column px-0 py-2">
                                <div class="font-weight-bold text-underline py-1 mb-2">
                                    EN units
                                </div>
                                <div class="flex-grow-1 d-flex justify-content-center align-items-center flex-wrap mb-2 pl-sm-3">
                                    <% if(skin.digits.unitTypes.includes("en")) { %>
                                        <!--<img class="mx-2" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.unitFolderNum %>-en.NoCustom.NoCri0.0.<%= skin.isAnimated ? 'gif' : 'png' %>">-->
                                        <img class="mx-2" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.unitFolderNum %>-en.NoCustom.NoCri0.3.<%= skin.isAnimated ? 'gif' : 'png' %>">
                                        <img class="mx-2" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.unitFolderNum %>-en.NoCustom.NoCri0.2.<%= skin.isAnimated ? 'gif' : 'png' %>">
                                        <img class="mx-2" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.unitFolderNum %>-en.NoCustom.NoCri0.1.<%= skin.isAnimated ? 'gif' : 'png' %>">
                                    <% } else { %>
                                        <div>N/A</div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>

                <div class="d-flex">
                    <div class="table-cols-100 d-flex align-items-center justify-content-center font-weight-bold px-3 py-3">Combat Messages</div>
                    <div class="w-100 d-flex justify-content-center align-items-center flex-wrap border-left border-dark py-3 px-3">
                        <% if(skin.folderNum !== -1) { %>
                            <% ["Miss", "guard", "resist", "counter", "shot"].forEach(msg => { %>
                                <% if(skin.digits.combatMessages.includes(msg)) { %>
                                    <img class="mx-2 my-2" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>.NoRed0.<%= msg %>.png">
                                <% } %>
                            <% }) %>
                        <% } else { %>
                            -
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>