<%- include("../../partials/header") %>

<div class="container-fluid content d-flex flex-column flex-md-row p-0">
    <%- include("../../partials/sidebar") %>
    <div class="main-content-div col p-0 position-relative">
        <div class="w-100 d-flex align-items-center flex-column px-4 pt-4">
            <div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
                <div class="w-100 d-flex flex-column justify-content-center align-items-center position-relative mb-2">
                    <div class="w-100 d-flex">
                        <div class="w-100 flex-grow-1 border-top border-dark"></div>
                        <h1 class="font-header w-100 text-center m-0 px-0">Damage Skins</h1>
                        <div class="w-100 flex-grow-1 border-top border-dark"></div>
                    </div>
                    <div class="col-12 text-muted text-center font-small mb-1">(New skins added on: <% if(dateUpdated) { %><%= dateUpdated %><% } else { %>N/A<% } %>)</div>
                </div>
                <div class="w-100 mb-3">
                    <h2 class="font-subheader w-100 font-weight-bold text-underline mb-2">Info Sheet Details</h2>

                    <p class="w-100 text-justify">All names are as seen in MapleSEA. Note that not all skins are available in game -- they may not be released or are upcoming releases. Damage skins may have multiple names. Many thanks to <a href="https://github.com/IkaEren" target="_blank">Zamiel</a> and <a href="https://github.com/angelsl/reWZ" target="_blank">reWZ</a> for extracting and providing initial damage skin details.</p>

                    <ul class="px-0 mb-4">
                        <p class="mb-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                            </svg>&nbsp;: View respective damage skin details
                        </p>
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="lawngreen" class="bi bi-plus-lg" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                            </svg>
                            /
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-dash-lg" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                            </svg>
                            : Add/Remove selected damage skin from "cart" (up to 20; bottom right icon)
                        </p>
                    </ul>

                    <div class="font-content w-100 d-flex justify-content-center align-items-center flex-wrap pt-2 mb-3">
                        <div class="size-720 w-100 d-flex flex-column justify-content-center align-items-center">
                            <div class="w-100 d-flex justify-content-center">
                                <div class="skin-select-div col-4 text-center px-1 mb-1">
                                    <div class="single-option-select rounded-sm d-flex align-items-center justify-content-center position-relative py-1 <% if(page === "new") { %>active<% } %>">
                                        <a href="/info/damage-skins/new" class="stretched-link text-decoration-none">Newly Released</a>
                                    </div>
                                </div>
                                <div class="skin-select-div col-4 text-center px-1 mb-1">
                                    <div class="single-option-select rounded-sm d-flex align-items-center justify-content-center position-relative py-1 <% if(page === "unit") { %>active<% } %>">
                                        <a href="/info/damage-skins/unit" class="stretched-link text-decoration-none">Unit Skins</a>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 d-flex justify-content-center">
                                <div class="skin-select-div col-4 text-center px-1">
                                    <div class="single-option-select rounded-sm d-flex align-items-center justify-content-center position-relative py-1 <% if(page === "action") { %>active<% } %>">
                                        <a href="/info/damage-skins/action" class="stretched-link text-decoration-none">Action (Animated) Skins</a>
                                    </div>
                                </div>
                                <div class="skin-select-div col-4 text-center px-1">
                                    <div class="single-option-select rounded-sm d-flex align-items-center justify-content-center position-relative py-1 <% if(page === "job") { %>active<% } %>">
                                        <a href="/info/damage-skins/job" class="stretched-link text-decoration-none">Job Damage Skins</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="font-content w-100 d-flex justify-content-center align-items-center flex-wrap mb-4">
                        <div class="size-720 w-100 d-flex justify-content-center flex-wrap">
                            <% pagesArr.forEach(function(pageName, index) { %>
                            <div class="skin-select-div col-4 text-center px-1 mb-1">
                                <div class="single-option-select rounded-sm d-flex align-items-center justify-content-center position-relative py-1 <% if(parseInt(page) === index) { %>active<% } %>">
                                    <a href="/info/damage-skins/<%= index %>" class="stretched-link text-decoration-none"><%= pageName %></a>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                    </div>

                    <div class="w-100 d-flex justify-content-center">
                        <!-- Horizontal -->
                        <ins class="adsbygoogle ad-space horz-ad mb-3"
                             style="display:block"
                             data-ad-client="ca-pub-9569715514342803"
                             data-ad-slot="9935306861"
                             data-ad-format="auto"
                             data-full-width-responsive="true">
                             </ins>
                        <script>
                            document.addEventListener("DOMContentLoaded", function() {
                             (adsbygoogle = window.adsbygoogle || []).push({});
                            });
                        </script>
                    </div>

                    <%- include("./damage-skin-list") %>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-btn-trigger btn-dmg-skin-modal position-fixed cursor-pointer" data-toggle="modal" data-target="#selected-skins-modal">
        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/0/0.icon.png">
        <div class="font-small d-flex justify-content-center align-items-center position-absolute" id="num-selected-skins">0</div>
    </div>
</div>

<div class="modal fade" id="selected-skins-modal" tabindex="-1" role="dialog" aria-labelledby="selectedSkinsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-subheader" id="selectedSkinsModalLabel">Selected Damage Skins</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body font-table">
                <div id="no-selected-skin-msg">
                    No skins selected. Go add some and they'll appear here!
                </div>
                <div id="has-selected-skin-msg">
                    Click on "View all selected skin details" to view your selected damage skins' details and other notes. <span class="text-danger">Warning: Possibly large data usage</span>.</p>
                    <div class="d-flex flex-wrap" id="selected-skins-list">

                    </div>
                </div>
            </div>
            <div class="modal-footer" id="selected-skin-options">
                <div class="w-100 d-flex justify-content-between">
                    <button type="button" class="btn btn-sm btn-outline-danger font-weight-bold" id="btn-remove-all-selected">Remove all</button>

                    <form action="/info/damage-skin-details" method="POST">
                        <input type="hidden" name="selectedSkinNums" id="skin-num-input">
                        <button type="submit" class="btn btn-sm btn-outline-custom font-weight-bold">View all selected skin details</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/scripts/commonScript.js"></script>
<script type="text/javascript" src="/scripts/extras/dmgSkinScript.js"></script>
<%- include("../../partials/footer") %>