<div class="d-flex flex-column align-items-center py-3">
    <div class="col-12 px-3 mb-4">
        <h3 class="collapsible-section-subheader font-subsubheader index-collapse w-100 text-left px-3 py-2 mb-0 cursor-pointer" data-toggle="collapse" href="#ds-<%= skin.folderNum %>-screenshots">
            <i class="fas fa-caret-down"></i> Screenshots
        </h3>
        <div class="collapsible-section px-0 collapse show" id="ds-<%= skin.folderNum %>-screenshots">
            <div class="py-3">
                - No screenshots yet! Got data on this skin? Share it here! -
            </div>
        </div>
    </div>

    <div class="col-12 px-3 mb-0">
        <h3 class="collapsible-section-subheader font-subsubheader index-collapse w-100 text-left px-3 py-2 mb-0 cursor-pointer" data-toggle="collapse" href="#ds-<%= skin.folderNum %>-details">
            <i class="fas fa-caret-down"></i> Details
        </h3>
        <div class="collapsible-section px-0 collapse show" id="ds-<%= skin.folderNum %>-details">
            <div class="d-flex flex-column">
                <% if(skin.altNames) { %>
                    <div class="d-flex border-bottom border-dark">
                        <div class="table-cols-100 d-flex align-items-center justify-content-center font-weight-bold px-3 py-3">Alternate Names</div>
                        <div class="w-100 d-flex flex-column justify-content-center align-items-center border-left border-dark py-3 px-3">
                            <% skin.altNames.forEach(name => { %>
                                <% if(name.includes("Damage Skin")) { %>
                                    <p class="mb-1"><%= name %></p>
                                <% } else { %>
                                    <p class="mb-1">Damage Skin - <%= name %></p>
                                <% } %>
                            <% }) %>
                        </div>
                    </div>
                <% } %>

                <% if(skin.notes) { %>
                    <div class="d-flex border-bottom border-dark">
                        <div class="table-cols-100 d-flex align-items-center justify-content-center font-weight-bold px-3 py-3">Notes</div>
                        <div class="w-100 d-flex justify-content-center align-items-center flex-wrap border-left border-dark py-3 px-3">
                            <%= skin.notes %>
                        </div>
                    </div>
                <% } %>

                <div class="d-flex border-bottom border-dark">
                    <div class="table-cols-100 d-flex align-items-center justify-content-center font-weight-bold px-3 py-3">Critical Hits</div>
                    <div class="w-100 d-flex justify-content-center align-items-center flex-wrap border-left border-dark py-3 px-3">
                        <% if(skin.folderNum !== -1) { %>
                            <% if(skin.digits.critical.hasEffect) { %>
                                <img class="mx-2" src="/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>.NoCri1.effect2.png">
                            <% } %>

                            <% if(skin.digits.critical.cri1Assets.length > 0) { %>
                                <% if(skin.digits.critical.cri1Assets.some(elem => elem === "-")) { %>
                                    <% skin.digits.critical.cri1Assets.forEach((digit, i) => { %>
                                        <% if(digit === "-") { %>
                                            <img class="mx-2" src="/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>.NoCri1.<%= i %>.png">
                                        <% } %>
                                    <% }) %>
                                <% } %>
                            <% } else { %>
                                <% for(let i = 0; i < 10; i++) { %>
                                    <img class="mx-2" src="/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>.NoCri1.<%= i %>.png">
                                <% } %>
                            <% } %>

                            <% if(skin.digits.critical.isLoadCri0) { %>
                                <% if(skin.digits.critical.cri0Assets.length > 0) { %>
                                    <% skin.digits.critical.cri0Assets.forEach((digit, i) => { %>
                                        <% if(digit === "-") { %>
                                            <img class="mx-2" src="/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>.NoCri0.<%= i %>.png">
                                        <% } %>
                                    <% }) %>
                                <% } else { %>
                                    <% for(let i = 0; i < 10; i++) { %>
                                        <img class="mx-2" src="/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>.NoCri0.<%= i %>.png">
                                    <% } %>
                                <% } %>
                            <% } %>
                        <% } else { %>
                            It's an invisible damage skin.
                        <% } %>
                    </div>
                </div>

                <div class="d-flex border-bottom border-dark">
                    <div class="table-cols-100 d-flex align-items-center justify-content-center font-weight-bold px-3 py-3">Regular Hits</div>
                    <div class="w-100 d-flex justify-content-center align-items-center flex-wrap border-left border-dark py-3 px-3">
                        <% if(skin.folderNum !== -1) { %>
                            <% if(skin.digits.regular.red1Assets.length > 0) { %>
                                <% if(skin.digits.regular.red1Assets.some(elem => elem === "-")) { %>
                                    <% skin.digits.regular.red1Assets.forEach((digit, i) => { %>
                                        <% if(digit === "-") { %>
                                            <img class="mx-2" src="/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>.NoRed1.<%= i %>.png">
                                        <% } %>
                                    <% }) %>
                                <% } %>
                            <% } else { %>
                                <% for(let i = 0; i < 10; i++) { %>
                                    <img class="mx-2" src="/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>.NoRed1.<%= i %>.png">
                                <% } %>
                            <% } %>

                            <% if(skin.digits.regular.isLoadRed0) { %>
                                <% if(skin.digits.regular.red0Assets.length > 0) { %>
                                    <% skin.digits.regular.red0Assets.forEach((digit, i) => { %>
                                        <% if(digit === "-") { %>
                                            <img class="mx-2" src="/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>.NoRed0.<%= i %>.png">
                                        <% } %>
                                    <% }) %>
                                <% } else { %>
                                    <% for(let i = 0; i < 10; i++) { %>
                                        <img class="mx-2" src="/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>.NoRed0.<%= i %>.png">
                                    <% } %>
                                <% } %>
                            <% } %>
                        <% } else { %>
                            Were you really expecting to see something?
                        <% } %>
                    </div>
                </div>

                <% if(skin.hasUnitSkin) { %>
                    <div class="d-flex border-bottom border-dark">
                        <div class="table-cols-100 d-flex align-items-center justify-content-center font-weight-bold px-3 py-3">Units</div>
                        <div class="w-100 d-flex flex-column flex-sm-row justify-content-center flex-wrap border-left border-dark px-3">
                            <div class="col d-flex flex-column px-0 py-2">
                                <div class="font-weight-bold text-underline py-1 mb-2">
                                    KR units
                                </div>
                                <div class="d-flex justify-content-center align-items-center mb-2">
                                    <% if(skin.digits.unitTypes.includes("kr")) { %>
                                        <img class="mx-2" src="/images/damage-skins/<%= skin.folderNum %>/<%= skin.unitFolderNum %>.NoCustom.NoCri0.3.png">
                                        <img class="mx-2" src="/images/damage-skins/<%= skin.folderNum %>/<%= skin.unitFolderNum %>.NoCustom.NoCri0.4.png">
                                    <% } else { %>
                                        N/A
                                    <% } %>
                                </div>
                            </div>

                            
                            <div class="col d-flex flex-column px-0 py-2 border-left border-dark">
                                <div class="font-weight-bold text-underline py-1 mb-2">
                                    EN units
                                </div>
                                <div class="flex-grow-1 d-flex justify-content-center align-items-center mb-2">
                                    <% if(skin.digits.unitTypes.includes("en")) { %>
                                        <img class="mx-2" src="/images/damage-skins/<%= skin.folderNum %>/<%= skin.unitFolderNum %>-en.NoCustom.NoCri0.3.png">
                                        <img class="mx-2" src="/images/damage-skins/<%= skin.folderNum %>/<%= skin.unitFolderNum %>-en.NoCustom.NoCri0.4.png">
                                    <% } else { %>
                                        <div>N/A</div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>

                <div class="d-flex">
                    <div class="table-cols-100 d-flex align-items-center justify-content-center font-weight-bold px-3 py-3">Combat Messages</div>
                    <div class="w-100 d-flex justify-content-center align-items-center flex-wrap border-left border-dark py-3 px-3">
                        <% if(skin.folderNum !== -1) { %>
                            <% ["Miss", "guard", "resist", "counter", "shot"].forEach(msg => { %>
                                <% if(skin.digits.combatMessages.includes(msg)) { %>
                                    <img class="mx-2 my-2" src="/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>.NoRed0.<%= msg %>.png">
                                <% } %>
                            <% }) %>
                        <% } else { %>
                            -
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>