<%- include("../../partials/header") %>

<div class="container-fluid content d-flex flex-column flex-md-row p-0">
    <%- include("../../partials/sidebar") %>
    <div class="main-content-div col p-0 position-relative">
        <div class="w-100 d-flex align-items-center flex-column px-4 pt-4">
            <div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
                <div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                    <h1 class="font-header w-100 text-center m-0 px-0">Damage Skin Details</h1>
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                </div>
                <div class="w-100 mb-3">
                    <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                        <div class="w-100 mb-2">
                            <a href="<%= prevUrl %>" class="btn btn-sm btn-outline-custom font-weight-bold text-decoration-none">&laquo; Back to damage skin list</a>
                        </div>

                        <div class="mb-3">
                            <% if(allSkins.length > 1) { %>
                            <div class="d-flex justify-content-center w-100">
                                <div class="quick-jump-div font-table size-350 w-100 d-flex justify-content-center flex-wrap rounded-sm px-2 py-1 mb-4">
                                    <p class="w-100 mb-1 text-center font-weight-bold">Quick-jump:</p>
                                    <% allSkins.forEach(function(skin, index) { %>
                                        <div class="single-quick-jump-square d-inline-flex mb-1">
                                            <% if(skin.hasUnitSkin) { %>
                                                <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.unitFolderNum %>-unit.icon.png" class="mb-1 cursor-pointer" data-toggle="tooltip" data-placement="bottom" title="<%= allSkins[index].name %>" data-target="#dmg-skin-carousel" data-slide-to=<%= index %>>
                                            <% } else { %>
                                                <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>.icon.png" class="mb-1 cursor-pointer" data-toggle="tooltip" data-placement="bottom" title="<%= allSkins[index].name %>" data-target="#dmg-skin-carousel" data-slide-to=<%= index %>>
                                            <% } %>
                                        </div>
                                    <% }) %>
                                </div>
                            </div>
                            <% } %>
                        </div>

                        <div id="dmg-skin-carousel" class="size-900 w-100 carousel carousel-fade rounded-sm" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner position-relative">
                                <% if(allSkins.length > 0) { %>
                                    <% allSkins.forEach(function(skin, index) { %>
                                        <div class="carousel-item rounded-sm <% if(index === 0) { %>active<% } %>">
                                            <div class="carousel-caption w-100 p-0">
                                                <div class="carousel-nav position-relative py-2">
                                                    <a class="carousel-control-prev" href="#dmg-skin-carousel" role="button" data-slide="prev">
                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                    <div>
                                                        <h2 class="carousel-header font-subheader w-100 font-weight-bold text-center text-capitalize text-decoration-none mb-0">
                                                            <div class="d-flex flex-column align-items-center justify-content-center">
                                                                <div class="d-flex mb-1">
                                                                    <% if(skin.hasRegularSkin) { %>
                                                                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.folderNum %>.icon.png" class="mx-1">
                                                                    <% } %>

                                                                    <% if(skin.hasUnitSkin) { %>
                                                                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.folderNum %>/<%= skin.unitFolderNum %>-unit.icon.png" class="mx-1">
                                                                    <% } %>
                                                                </div>

                                                                <%= skin.name %>
                                                            </div>
                                                        </h2>
                                                    </div>
                                                    <a class="carousel-control-next" href="#dmg-skin-carousel" role="button" data-slide="next">
                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                </div>

                                                <%- include("./damage-skin-details", { skin: skin }) %>
                                            </div>
                                        </div>
                                    <% }) %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Horizontal -->
            <ins class="adsbygoogle ad-space horz-ad mb-3"
                 style="display:block"
                 data-ad-client="ca-pub-9569715514342803"
                 data-ad-slot="9935306861"
                 data-ad-format="auto"
                 data-full-width-responsive="true">
                 </ins>
            <script>
                window.onload = function() {
                 (adsbygoogle = window.adsbygoogle || []).push({});
                }
            </script>
        </div>
    </div>
</div>

<script type="text/javascript" src="/scripts/commonScript.js"></script>
<%- include("../../partials/footer") %>