<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="container-fluid content d-flex p-0">
	<%- include("partials/bonus-stats/flameSidebar") %>	
	<div class="main-content-div col-md-10 p-0 mt-2 position-relative">
		<%- include("partials/bonus-stats/flameCalculator") %>
		<%- include("partials/bonus-stats/flameInfo") %>
		<%- include("partials/bonus-stats/flameCredits") %>
	</div>
</div>

<script type="text/javascript" src="./public/scripts/commonScript.js"></script>
<script type="text/javascript" src="./public/scripts/flameScript.js"></script>
<%- include("partials/footer") %>