<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="container-fluid content d-flex flex-column flex-md-row justify-content-center p-0">
    <div class="main-content-div col px-0 position-relative">
        <div class="w-100 d-flex align-items-center flex-column px-4 pt-4">
            <div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
                <div class="w-100 d-flex justify-content-center align-items-center position-relative mb-4">
                    <div class="w-100 border-top border-dark"></div>
                    <h1 class="font-header w-100 text-center m-0">Maplestory Info Corner</h1>
                    <div class="w-100 border-top border-dark"></div>
                </div>
                <div class="w-100 d-flex flex-wrap">
                    <div class="col-12 mb-4 px-0">
                        <div class="index-section-subheader">
                            <h2 class="font-subheader index-collapse cursor-pointer mb-0 px-3 py-2" data-toggle="collapse" href="#side-begin-guide">
                                <i class="fas fa-caret-down"></i> Beginner's Guide
                            </h2>
                        </div>
                        <div class="index-section px-0 collapse show" id="side-begin-guide">
                            <div class="d-flex flex-wrap py-3">
                                <!--<div class="index-subsection col-12 col-sm-6 col-md-4 px-3 mb-3">
                                    <h3 class="font-index-subsubheader mb-0">Training Maps</h3>
                                </div>
                                <div class="index-subsection col-12 col-sm-6 col-md-4 px-3 mb-3">
                                    <h3 class="font-index-subsubheader mb-0">What class do I play?</h3>
                                </div>-->
                                <!--<div class="index-subsection col-12 col-sm-6 col-md-4 px-3 mb-3">
                                    <h3 class="font-index-subsubheader mb-0">Getting Stronger</h3>
                                    <div class="d-flex flex-column">
                                        <a href=".<%= url %>#" class="page-select w-100 cursor-pointer text-decoration-none rounded-lg">
                                            <div class="w-100 h-100 d-flex align-items-center">
                                                <div class="page-select-img-div d-flex justify-content-center px-3 py-1">
                                                    <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/items/honor-medal.png">
                                                </div>
                                                <p class="mb-0 px-0 px-xl-2">Pre-5th Job</p>
                                            </div>
                                        </a>
                                        <a href=".<%= url %>#" class="page-select w-100 cursor-pointer text-decoration-none rounded-lg">
                                            <div class="w-100 h-100 d-flex align-items-center">
                                                <div class="page-select-img-div d-flex justify-content-center px-3 py-1">
                                                    <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/items/core-gemstone.png">
                                                </div>
                                                <p class="mb-0 px-0 px-xl-2">5th Job</p>
                                            </div>
                                        </a>
                                        <a href=".<%= url %>#" class="page-select w-100 cursor-pointer text-decoration-none rounded-lg">
                                            <div class="w-100 h-100 d-flex align-items-center">
                                                <div class="page-select-img-div d-flex justify-content-center px-3 py-1">
                                                    <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/skills/link-skill.png">
                                                </div>
                                                <p class="mb-0 px-0 px-xl-2">Multi-character</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>-->
                                <div class="index-subsection col-12 col-sm-6 col-md-4 px-3 mb-3">
                                    <h3 class="font-index-subsubheader mb-0">Equipment Guide</h3>
                                    <div class="d-flex flex-column">
                                        <!--<a href=".<%= url %>#" class="page-select w-100 cursor-pointer text-decoration-none rounded-lg">
                                            <div class="w-100 h-100 d-flex align-items-center">
                                                <div class="page-select-img-div d-flex justify-content-center px-3 py-1">
                                                    <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/items/leaf-book.png">
                                                </div>
                                                <p class="mb-0 px-0 px-xl-2">Summary</p>
                                            </div>
                                        </a>-->
                                        <% sections.beginner.forEach(function(guide) { %>
                                        <a href="<%= guide.pageUrl %>" class="page-select w-100 cursor-pointer text-decoration-none rounded-lg">
                                            <div class="w-100 h-100 d-flex align-items-center">
                                                <div class="page-select-img-div d-flex justify-content-center px-3 py-1">
                                                    <img src="<%= icons[guide.iconId].imgUrl %>">
                                                </div>
                                                <p class="mb-0 px-0 px-xl-2"><%= guide.name %></p>
                                            </div>
                                        </a>
                                        <% }) %>
                                    </div>
                                </div>
                                <!--<div class="index-subsection col-12 col-sm-6 col-md-4 px-3 mb-3">
                                    <h3 class="font-index-subsubheader mb-0">Mesos plz</h3>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-4 px-0">
                        <div class="index-section-subheader">
                            <h2 class="font-subheader index-collapse cursor-pointer mb-0 px-3 py-2" data-toggle="collapse" href="#side-extras">
                                <i class="fas fa-caret-down"></i> Extra Resources
                            </h2>
                        </div>
                        <div class="index-section px-0 collapse show" id="side-extras">
                            <div class="d-flex flex-wrap py-3">
                                <div class="index-subsection col-12 col-sm-6 col-md-4 px-3 mb-3">
                                    <h3 class="font-index-subsubheader mb-0">Calculators</h3>
                                    <div class="d-flex flex-column">
                                        <% sections.extras.forEach(function(page) { %>
                                            <% if(page.isCalculator) { %>
                                            <a href="<%= page.pageUrl %>" class="page-select w-100 cursor-pointer text-decoration-none rounded-lg">
                                                <div class="w-100 h-100 d-flex align-items-center">
                                                    <div class="page-select-img-div d-flex justify-content-center px-3 py-1">
                                                        <img src="<%= icons[page.iconId].imgUrl %>">
                                                    </div>
                                                    <p class="mb-0 px-0 px-xl-2"><%= page.name %></p>
                                                </div>
                                            </a>
                                            <% } %>
                                        <% }) %>
                                    </div>
                                </div>

                                <div class="index-subsection col-12 col-sm-6 col-md-4 px-3 mb-3">
                                    <h3 class="font-index-subsubheader mb-0">Info Sheets</h3>
                                    <div class="d-flex flex-column">
                                        <% sections.extras.forEach(function(page) { %>
                                            <% if(page.isInfoSheet) { %>
                                            <a href="<%= page.pageUrl %>" class="page-select w-100 cursor-pointer text-decoration-none rounded-lg">
                                                <div class="w-100 h-100 d-flex align-items-center">
                                                    <div class="page-select-img-div d-flex justify-content-center px-3 py-1">
                                                        <img src="<%= icons[page.iconId].imgUrl %>">
                                                    </div>
                                                    <p class="mb-0 px-0 px-xl-2"><%= page.name %></p>
                                                </div>
                                            </a>
                                            <% } %>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-4 px-0">
                        <div class="index-section-subheader">
                            <h2 class="font-subheader index-collapse cursor-pointer mb-0 px-3 py-2" data-toggle="collapse" href="#side-more-maple">
                                <i class="fas fa-caret-down"></i> More Maple Stuff
                            </h2>
                        </div>
                        <div class="index-section px-0 collapse show" id="side-more-maple">
                            <div class="d-flex flex-wrap py-3">
                                <!--<div class="index-subsection col-12 col-sm-6 col-md-4 px-3 mb-3">
                                    <h3 class="font-index-subsubheader mb-0">The story so far...</h3>
                                    <ul class="mb-3 pl-3">
                                        <li class="list-style-type-none d-none mb-2">&#8614; The Black Mage</li>
                                        <li class="list-style-type-none d-none">&#8614; Gerand Darmoor</li>
                                    </ul>
                                </div>
                                <div class="index-subsection col-12 col-sm-6 col-md-4 px-3 mb-3">
                                    <h3 class="font-index-subsubheader mb-0">Dailies</h3>
                                    <ul class="mb-3 pl-3">
                                        <li class="list-style-type-none d-none mb-2">&#8614; Kritias</li>
                                        <li class="list-style-type-none d-none">&#8614; Mechanical Grave</li>
                                        <li class="list-style-type-none d-none">&#8614; Fallen World Tree</li>
                                    </ul>
                                </div>-->
                                <div class="index-subsection col-12 col-sm-6 col-md-4 px-3 mb-3">
                                    <h3 class="font-index-subsubheader mb-0">Events</h3>
                                    <div class="d-flex flex-column">
                                        <% sections.moreMaple.forEach(function(page) { %>
                                            <% if(page.isEvent) { %>
                                            <a href="<%= page.pageUrl %>" class="page-select w-100 cursor-pointer text-decoration-none rounded-lg">
                                                <div class="w-100 h-100 d-flex align-items-center">
                                                    <div class="page-select-img-div d-flex justify-content-center px-3 py-1">
                                                        <img src="<%= icons[page.iconId].imgUrl %>">
                                                    </div>
                                                    <p class="mb-0 px-0 px-xl-2"><%= page.name %></p>
                                                </div>
                                            </a>
                                            <% } %>
                                        <% }) %>
                                    </div>
                                </div>
                                <div class="index-subsection col-12 col-sm-6 col-md-4 px-3 mb-3">
                                    <h3 class="font-index-subsubheader mb-0">Fun Corner</h3>
                                    <div class="d-flex flex-column">
                                        <% sections.moreMaple.forEach(function(page) { %>
                                            <% if(page.isFunCorner) { %>
                                            <a href="<%= page.pageUrl %>" class="page-select w-100 cursor-pointer text-decoration-none rounded-lg">
                                                <div class="w-100 h-100 d-flex align-items-center">
                                                    <div class="page-select-img-div d-flex justify-content-center px-3 py-1">
                                                        <img src="<%= icons[page.iconId].imgUrl %>">
                                                    </div>
                                                    <p class="mb-0 px-0 px-xl-2"><%= page.name %></p>
                                                </div>
                                            </a>
                                            <% } %>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-4 px-0">
                        <div class="index-section-subheader">
                            <h2 class="font-subheader index-collapse cursor-pointer mb-0 px-3 py-2" data-toggle="collapse" href="#side-others">
                                <i class="fas fa-caret-down"></i> Other References
                            </h2>
                        </div>
                        <div class="index-section px-0 collapse show" id="side-others">
                            <div class="d-flex flex-wrap py-3">
                                <% sections.others.forEach(function(page) { %>
                                    <div class="index-subsection col-12 col-sm-6 col-md-4 d-flex px-3 mb-3">
                                        <a href="<%= page.pageUrl %>" class="page-select w-100 cursor-pointer text-decoration-none rounded-lg" target="_blank">
                                            <div class="w-100 h-100 d-flex align-items-center">
                                                <div class="page-select-img-div d-flex justify-content-center px-3 py-1">
                                                    <img src="<%= icons[page.iconId].imgUrl %>">
                                                </div>
                                                <p class="mb-0 px-0 px-xl-2"><%= page.name %></p>
                                            </div>
                                        </a>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-4 px-0">
                        <div class="index-section-subheader">
                            <h2 class="font-subheader index-collapse cursor-pointer mb-0 px-3 py-2" data-toggle="collapse" href="#side-quicklinks">
                                <i class="fas fa-caret-down"></i> Quicklinks
                            </h2>
                        </div>
                        <div class="index-section px-0 collapse show" id="side-quicklinks">
                            <div class="d-flex flex-wrap py-3">
                                <% sections.quicklinks.forEach(function(page) { %>
                                    <div class="index-subsection col-12 col-sm-6 col-md-4 d-flex px-3 mb-3">
                                        <a href="<%= page.pageUrl %>" class="page-select w-100 cursor-pointer text-decoration-none rounded-lg" target="_blank">
                                            <div class="w-100 h-100 d-flex align-items-center">
                                                <img src="<%= icons[page.iconId].imgUrl %>" class="maple-logos inline-div-img h-100 px-3 py-1">
                                                <p class="mb-0 px-0 px-xl-2"><%= page.name %></p>
                                            </div>
                                        </a>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") %>