<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="container content h-100 d-flex p-0 pt-5">
	<%- include("partials/set-items/setItemSidebar") %>	
	<div class="main-content-div col-md-10 p-0 mt-2 position-relative">
		<%- include("partials/set-items/setItemCalculator") %>
		<%- include("partials/set-items/setItemInfo") %>
		<%- include("partials/set-items/setItemCredits") %>
	</div>
</div>

<div class="modal fade" id="setItemSelectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="set-item-modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable px-2 pb-5" role="document">
		<div class="modal-content">
			<div class="modal-header position-relative">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<p class="slot-exceed-msg font-small w-100 position-absolute text-center text-danger m-0"></p>
			</div>
			<div class="modal-body p-0">
				<div id="carousel-fade" class="carousel carousel-fade rounded-lg" data-ride="carousel" data-interval="false">
					<div class="carousel-inner position-relative">
						<% allEquipTypes.forEach(function(equipType, index) { %>
						<div class="equip-select-div equip-select-<%= equipType %> carousel-item pt-2 pb-3 px-3">
							<div class="carousel-caption w-100 p-0">
								<h2 class="carousel-header font-subheader w-100 font-weight-bold text-center text-capitalize text-decoration-none"></h2>
								<div class="font-table w-100 d-flex flex-wrap">
								<% Object.keys(allSetItems).forEach(function(jobType, index) { %>
								<% if(allSetItems[jobType][equipType]) { %>
									<% allSetItems[jobType][equipType].forEach(function(item) { %> 
									<div class="equip-choice col-12 col-sm-6 col-lg-6 w-100 mb-2 px-2 d-flex">
										<div class="single-option-select single-equip-choice single-equip-<%= equipType %> w-100 d-flex align-items-center rounded-lg" data-equip-name="<%= item.name %>" data-set-type="<%= item.setType %>" data-equip-type="<%= equipType %>" data-choice-img="<%= item.image %>" data-item-id="<%= item.id %>" <% if(item.isLuckyItem) { %>data-is-lucky-item="<%= item.isLuckyItem %>" data-item-priority="<%= item.itemPriority %>" <% } %> <% if(item.isOverall) { %>data-is-overall="<%= item.isOverall %>"<% } %>>
											<div class="equip-choice-img-div inline-div-img h-100 mr-2 d-flex justify-content-center align-items-center">
												<img src="<%= item.image %>" class="m-2">
											</div>
											<p class="equip-name m-0 mr-2 text-left"><%= item.name %></p>
										</div>
									</div>
									<% }) %>
								<% } %>
								<% }) %>
								</div>
							</div> 
						</div>
						<% }) %>
					</div>
				</div>
			</div>
			<div class="modal-footer py-1">
				<div class="carousel-control w-100 position-relative">
					<a class="carousel-control-prev h-100 w-auto px-2" href="#carousel-fade" role="button" data-slide="prev">
						<i class="fas fa-angle-double-left d-flex align-items-center mr-1"></i>
						<span class="sr-only">Previous</span>
						<p class="font-weight-bold mb-1 carousel-control-prev-text"></p>
					</a>
					<a class="carousel-control-next h-100 w-auto px-2" href="#carousel-fade" role="button" data-slide="next">
						<p class="font-weight-bold mb-1 carousel-control-next-text"></p>
						<i class="fas fa-angle-double-right d-flex align-items-center ml-1"></i>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="./public/scripts/commonScript.js"></script>
<script type="text/javascript" src="./public/scripts/setItemScript.js"></script>
<%- include("partials/footer") %>