<div class="w-100 d-flex align-items-center flex-column px-4 pt-4" id="info">
	<div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
		<div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
			<div class="w-100 border-top border-dark"></div>
			<h1 class="font-header w-100 text-center m-0">About Star Force</h1>
			<div class="w-100 border-top border-dark"></div>
		</div>
		<div class="w-100 mb-3">
			<h2 class="font-subheader font-weight-bold text-underline mb-2" id="info-intro">Introduction</h2>
			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<p class="text-justify">Star Force is the next step after using up all upgrade slots on an item. Items that can be starred will display the possible number of upgrades (stars) above its name. The more stars you successfully get on an item, the more stat bonuses you receive! Starring costs mesos, and higher level items cost more per starring attempt. Each star represents 1 Star Force.</p>

				<div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
					<div class="d-flex">
						<img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/guide/star-force-1.png">
					</div>
					<p class="size-350 font-caption mb-0">Once upgrades available is 0, you're ready to star force! This item can be starred up to a maximum of 25*, and is currently at 18*.</p>
				</div>
			</div>
		</div>

		<div class="w-100 mb-3">
			<h2 class="font-subheader font-weight-bold text-underline mb-2" id="info-process">The Star Force Process</h2>
			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<p class="w-100 text-justify">Similar to tracing, the same upgrade window is used for Star Force. Place your fully-upgraded item inside the upgrade window (accessed via red hammer icon at the bottom of your inventory <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/guide/spell-trace-2.png"> or keyboard shortcut <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/keyboard/equip-enhance.png">) to begin.

				<h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Star Catcher & Chance Time</h3>
				<p class="w-100 text-justify">For each starring attempt, you enter the Star Catcher mini game, where a star moves left and right along a bar. Hit spacebar (or click Stop) to "catch" the star within the highlighted region, and gain a very slight boost to your success rate for that attempt. The more times you star successfully (even without Star Catch), the more difficult Star Catcher will become.</p>
				<div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
					<div class="d-flex">
						<img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/guide/star-force-2.png">
					</div>
					<p class="size-350 font-caption">You can disable Star Catcher if you wish to save time and do not care for the boost.</p>

					<div class="d-flex">
						<img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/guide/star-catch-3.png">
					</div>
					<p class="size-350 font-caption">Star Catcher difficulty increases when you play the mini game a certain number of times, with faster star movement and smaller highlighted region. It decreases in difficulty every 10th minute (:10, :20, etc.).</p>
				</div>

				<p class="w-100 text-justify">If you fail two consecutive starring attempts, you get Chance Time, which grants you 100% success rate for the next attempt on the item.</p>
				<div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
					<div class="d-flex">
						<img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/guide/star-force-4.png">
					</div>
					<p class="size-350 font-caption mb-0">Chance Time only works on the item you were starring. It will disappear if you star other items before using Chance Time or did not use it within 5 minutes.</p>
				</div>
			</div>
			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Failing Star Force</h3>
				<p class="text-justify">Success rates gradually decrease as you get more stars on the item. After reaching a certain number of stars, failing star force will result in loss of one star or even item destruction. There are also "safety checkpoints", where the number of stars cannot fall below these checkpoints even if starring fails. All these depends on whether the item is a regular (non-superior) or superior item:</p>
				
				<table class="font-table size-720 table table-sm table-bordered table-hover mb-3">
					<thead>
						<tr>
							<th></th>
							<th class="text-center align-middle d-none d-sm-table-cell">Item Type</th>
							<th class="text-center align-middle">Chance of Losing 1 Star</th>
							<th class="text-center align-middle">Chance of Item Destruction</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-rows">
							<th class="text-center align-middle">
								<img src="<%= icons['acs-shoes'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Arcaneshade Shoes">
								<img src="<%= icons['acs-cape'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Arcaneshade Cape">
								<p class="mb-0 d-block d-sm-none">Regular Items</p>
							</th>
							<td class="text-center align-middle d-none d-sm-table-cell">Regular Items</td>
							<td class="text-center align-middle">11* onwards<br/>Safety at 15* and 20*</td>
							<td class="text-center align-middle">12* onwards<br/>Falls to 12* if destroyed</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle">
								<img src="<%= icons['tyrant-shoes'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Tyrant Boots">
								<img src="<%= icons['tyrant-cape'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Tyrant Cape">
								<p class="mb-0 d-block d-sm-none">Superior Items</p>
							</th>
							<td class="text-center align-middle d-none d-sm-table-cell">Superior Items</td>
							<td class="text-center align-middle">1* onwards<br/>No safety</td>
							<td class="text-center align-middle">5* onwards<br/>Falls to 0* if destroyed</td>
						</tr>
					</tbody>
				</table>

				<p class="text-justify">Regular items provide the Anti-Destruct option from 12* > 13* up till 16* > 17*, which removes destruction chance when starring at those stages at the cost of double mesos. Use this option wisely! You may only want to anti-destruct if you have mesos to spare, or if the item is in low supply that makes preventing destruction more worth it.</p>
				<div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
					<div class="d-flex">
						<img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/guide/star-force-5.png">
					</div>
					<p class="size-350 font-caption mb-0">Anti-destruct can prove very useful in your journey to 17* or higher, but costs you more.</p>
				</div>
			</div>
			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Item Destruction</h3>
				<p class="w-100 text-justify">Items destroyed during starring leaves an item trace which is unusable, but can be restored by having a duplicate of the same item. Note that items with the same name but have fixed potentials/star force (usually obtained from events) are not valid duplicates. The item trace retains all properties (potentials, flame stats, etc.) from your original item, as well as all star force stats up to 12* (regular items). Upon restoring the item, it will start off at 12* for you to continue the starring process.</p>
				<div class="w-100 d-flex flex-column justify-content-center align-items-center text-center mb-3">
					<div class="d-flex">
						<img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/guide/star-force-6.png">
					</div>
					<p class="size-350 font-caption mb-0">A destroyed item falls back to 12* and leaves an item trace.</p>
				</div>
				<div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
					<div class="d-flex">
						<img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/guide/star-force-7.png">
					</div>
					<p class="size-350 font-caption mb-0">Restore an item trace using a duplicate.</p>
				</div>
			</div>
		</div>

		<div class="w-100 mb-3">
			<h2 class="font-subheader font-weight-bold text-underline mb-2" id="info-superior-items">Superior Items</h2>
			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<p class="w-100 text-justify">Superior items are special items that cost significantly more mesos per star, but also give higher boosts for each star achieved. There are only a few such items in the game:</p>
				
				<table class="font-table size-720 table table-sm table-bordered table-hover mb-0">
					<thead>
						<tr>
							<th></th>
							<th class="text-center align-middle d-none d-md-table-cell">Item Name</th>
							<th class="text-center align-middle">Coin Costs</th>
							<th class="text-center align-middle">Boss Drops</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-rows">
							<th class="text-center align-middle">
								<img src="<%= icons['elite-heliseum-cape'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Elite Heliseum Cape">
								<img src="<%= icons['elite-heliseum-shoes'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Elite Heliseum Boots">
								<p class="mb-0 d-block d-md-none">Elite Heliseum Cape, Boots</p>
							</th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Elite Heliseum Cape, Boots</td>
							<td class="text-center align-middle">
								100 x <img class="item-img m-1" src="<%= icons['coin-shadow-merchant'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Heliseum Downtown Black Market (100 Shadow Merchant Coins)">
							</td>
							<td class="text-center align-middle">
								-
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle">
								<img src="<%= icons['elite-heliseum-belt'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Elite Heliseum Belt">
								<p class="mb-0 d-block d-md-none">Elite Heliseum Belt</p>
							</th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Elite Heliseum Belt</td>
							<td class="text-center align-middle">
								150 x <img class="item-img m-1" src="<%= icons['coin-shadow-merchant'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Heliseum Downtown Black Market (150 Shadow Merchant Coins)">
							</td>
							<td class="text-center align-middle">
								<img class="item-img border-img rounded-sm m-1" src="<%= icons['magnus-1'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Magnus (Easy, Normal, Hard)">
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle">
								<img src="<%= icons['nova-cape'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Nova Cape">
								<p class="mb-0 d-block d-md-none">Nova Cape</p>
							</th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Nova Cape</td>
							<td class="text-center align-middle">
								250 x <img class="item-img m-1" src="<%= icons['coin-shadow-merchant'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Heliseum Downtown Black Market (250 Shadow Merchant Coins)">
							</td>
							<td class="text-center align-middle">
								<img class="item-img border-img rounded-sm m-1" src="<%= icons['magnus-1'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Magnus (Easy, Normal, Hard)">
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle">
								<img src="<%= icons['nova-shoes'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Nova Boots">
								<p class="mb-0 d-block d-md-none">Nova Boots</p>
							</th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Nova Boots</td>
							<td class="text-center align-middle">
								250 x <img class="item-img m-1" src="<%= icons['coin-shadow-merchant'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Heliseum Downtown Black Market (250 Shadow Merchant Coins)">
							</td>
							<td class="text-center align-middle">
								<img class="item-img border-img rounded-sm m-1" src="<%= icons['magnus-1'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Magnus (Hard)">
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle">
								<img src="<%= icons['nova-belt'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Nova Belt">
								<p class="mb-0 d-block d-md-none">Nova Belt</p>
							</th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Nova Belt</td>
							<td class="text-center align-middle">
								-
							</td>
							<td class="text-center align-middle">
								<img class="item-img border-img rounded-sm m-1" src="<%= icons['magnus-1'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Magnus (Hard)">
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle">
								<img src="<%= icons['tyrant-cape'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Tyrant Cape">
								<p class="mb-0 d-block d-md-none">Tyrant Cape</p>
							</th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Tyrant Cape</td>
							<td class="text-center align-middle">
								70 x <img class="item-img m-1" src="<%= icons['coin-magnus'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Heliseum Downtown Black Market (70 Magnus Coins)">
							</td>
							<td class="text-center align-middle">
								<img class="item-img border-img rounded-sm m-1" src="<%= icons['magnus-1'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Magnus (Hard)">
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle">
								<img src="<%= icons['tyrant-shoes'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Tyrant Boots">
								<p class="mb-0 d-block d-md-none">Tyrant Boots</p>
							</th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Tyrant Boots</td>
							<td class="text-center align-middle">
								70 x <img class="item-img m-1" src="<%= icons['coin-magnus'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Heliseum Downtown Black Market (70 Magnus Coins)">
							</td>
							<td class="text-center align-middle">
								-
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle">
								<img src="<%= icons['tyrant-belt'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Tyrant Belt">
								<p class="mb-0 d-block d-md-none">Tyrant Belt</p>
							</th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Tyrant Belt</td>
							<td class="text-center align-middle">
								100 x <img class="item-img m-1" src="<%= icons['coin-magnus'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Heliseum Downtown Black Market (100 Magnus Coins)">
							</td>
							<td class="text-center align-middle">
								-
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle">
								<img src="<%= icons['tyrant-gloves'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Tyrant Gloves">
								<p class="mb-0 d-block d-md-none">Tyrant Gloves</p>
							</th>
							<td class="table-cols-50 text-center align-middle font-small d-none d-md-table-cell">Tyrant Gloves</td>
							<td class="text-center align-middle">
								400 x <img class="item-img m-1" src="<%= icons['coin-kritias'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Kritias Coin Shop (400 Kritias Coins)">
							</td>
							<td class="text-center align-middle">
								-
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="w-100 mb-3">
			<h2 class="font-subheader font-weight-bold text-underline mb-2" id="info-sf-scrolls">Star Force Scrolls</h2>
			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<p class="w-100 text-justify">There are certain scrolls that assign a fixed number of stars to your equipment. Most of these items either have certain restrictions, are difficult to come by, or have consequences if the scroll fails.</p>

				<table class="font-table size-720 table table-sm table-bordered table-hover mb-0">
					<thead>
						<tr>
							<th></th>
							<th class="table-cols-125 text-center align-middle d-none d-md-table-cell">Item Name</th>
							<th class="table-cols-125 text-left align-middle">
								<div class="d-block d-md-none font-weight-bold">[Item Name]</div>
								Function
							</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-rows">
							<th class="text-center align-middle">
								<img src="<%= icons['star-scroll-ees'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="2 / 3 / 4 / 5 Star Enhancement Scroll">
							</th>
							<td class="table-cols-125 text-center align-middle font-small d-none d-md-table-cell">
								2 / 3 / 4 / 5 Star Enhancement Scroll
							</td>
							<td class="table-cols-125 text-left align-middle">
								<div class="d-block d-md-none font-weight-bold">[2 / 3 / 4 / 5 Star Enhancement Scroll]</div>
								Adds 2 / 3 / 4 / 5 stars. Works only on items at 0*.
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle">
								<img src="<%= icons['star-scroll-ees'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="(Advanced) Equipment Enhancement Scroll">
							</th>
							<td class="table-cols-125 text-center align-middle font-small d-none d-md-table-cell">
								(Advanced) Equipment Enhancement Scroll
							</td>
							<td class="table-cols-125 text-left align-middle">
								<div class="d-block d-md-none font-weight-bold">[(Advanced) Equipment Enhancement Scroll]</div>
								Adds 1* to an item up to 15*. Destroys item if scroll fails <span class="font-weight-bold text-underline">and does not leave an item trace</span>.
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle">
								<img src="<%= icons['star-scroll-ees'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="High Quality Equipment Enhancement Scroll">
							</th>
							<td class="table-cols-125 text-center align-middle font-small d-none d-md-table-cell">
								High Quality Equipment Enhancement Scroll
							</td>
							<td class="table-cols-125 text-left align-middle">
								<div class="d-block d-md-none font-weight-bold">[High Quality Equipment Enhancement Scroll]</div>
								Adds 1* to an item up to 15*.
							</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle">
								<img src="<%= icons['star-scroll'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="10 / 12 / 15 / 17 / 20 Star Force Enhancement Coupon">
							</th>
							<td class="table-cols-125 text-center align-middle font-small d-none d-md-table-cell">
								10 / 12 / 15 / 17 / 20 Star Force Enhancement Coupon
							</td>
							<td class="table-cols-125 text-left align-middle">
								<div class="d-block d-md-none font-weight-bold">[10 / 12 / 15 / 17 / 20 Star Force Enhancement Coupon]</div>
								Makes an item 10* / 12* / 15* / 17* / 20*. Does not work on Superior equipment. Scrolls from events usually are level restricted (usable only on items of specific level stated in description).
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="w-100 mb-3">
			<h2 class="font-subheader font-weight-bold text-underline mb-2" id="info-progression">Star Force Progression</h2>
			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<p class="w-100 text-justify">Meso costs for starring rise very quickly, jumping in costs at 10*, 15* and 20* while also costing more for higher level items. It can be hard to handle for a newbie, so take things slow! When starting off, consider starring the lowest level item you have for lower costs. The table below is just a recommendation, so don't worry if you find it too difficult or expensive to reach these values.</p>

				<p class="w-100 text-justify">Join a guild with guild level 5 or above for a free +30 Star Force passive. This reduces the overall burden on spending mesos for starring by a significant amount.</p>

				<table class="font-table size-720 table table-sm table-bordered table-hover mb-3">
					<thead>
						<tr>
							<th class="text-center align-middle">Character Level</th>
							<th class="text-center align-middle">Total Star Force</th>
							<th class="text-left align-middle">Rationale</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-rows">
							<th class="text-center align-middle">
								Below Level 100
							</th>
							<td class="text-center align-middle">-</td>
							<td class="text-left align-middle">Not a priority</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle">
								Level 100 to 120
							</th>
							<td class="text-center align-middle">5* to 30*<br/>(0 to 5* per item)</td>
							<td class="text-left align-middle">Allows training in Star Force maps (better EXP)</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle">
								Level 120 to 140
							</th>
							<td class="text-center align-middle">55*++<br/>(5* to 10* per item)</td>
							<td class="text-left align-middle">Training in Star Force maps, some stat boost for bossing</td>
						</tr>
						<tr class="table-rows">
							<th class="text-center align-middle">
								Level 140++
							</th>
							<td class="text-center align-middle">80*++<br/>(5* to 10* per item)</td>
							<td class="text-left align-middle">Training in Star Force maps, more stat boost for bossing</td>
						</tr>
					</tbody>
				</table>

				<p class="w-100 text-justify mb-0">Slowly build towards 12*, 15* and eventually 17* as you acquire more mesos and resources for starring. Beyond 17*, you're probably knowledgeable enough on the risks of Star Force to understand how to proceed and what to focus on first. Starring beyond 17* gives decent stat bonuses, but item destruction risks are always present and anti-destruct is not an option. Not everyone has the mesos or resources to get a replacement item back should things go poorly. Plan well, and may starring luck be with you!</p>
			</div>
		</div>
	</div>
</div>