<div class="w-100 d-flex align-items-center flex-column px-4 pt-4" id="info">
    <div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
        <div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
            <div class="w-100 border-top border-dark"></div>
            <h1 class="font-header w-100 text-center m-0">About Spell Trace</h1>
            <div class="w-100 border-top border-dark"></div>
        </div>
        <div class="w-100 mb-3">
            <h2 class="font-subheader font-weight-bold text-underline mb-2" id="info-intro">Introduction</h2>
            <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                <p class="w-100 text-justify">Spell Traces are a common item used to upgrade your equipment for a certain number of slots. This upgrade process is commonly called "spell tracing" (or just tracing for short). Each equipment has a fixed number of upgrade slots. The number of upgrade slots can be expanded two times -- once using a Golden Hammer, once using a Vicious Hammer. Some equipment cannot be traced / scrolled / hammered in any way.</p>

                <div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
                    <div class="d-flex">
                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/guide/spell-trace-1.png">
                    </div>
                    <p class="size-350 font-caption">Each equipment has a certain number of upgrade slots. Note that not all items can be upgraded or hammered.</p>
                </div>

                <p class="w-100 text-justify mb-2">The table below lists common locations to obtain Spell Traces and Golden/Vicious Hammers.</p>

                <table class="font-table size-720 table table-sm table-bordered table-hover mb-0">
                    <thead>
                        <tr>
                            <th class="table-cols-50"></th>
                            <th class="table-cols-75 text-center align-middle d-none d-sm-table-cell">Item Name</th>
                            <th class="text-center align-middle">Where to get?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['spell-trace'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Spell Trace">
                                <p class="mb-0 d-block d-sm-none">Spell Trace</p>
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-sm-table-cell">Spell Trace</td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['coin-crusader'].imgUrl %>" data-html="true" data-toggle="tooltip" data-placement="bottom" title="Crusader Coins<br/>(35 coins = 100 traces)">
                                <img class="item-img m-1" src="<%= icons['coin-enheim'].imgUrl %>" data-html="true" data-toggle="tooltip" data-placement="bottom" title="Kritias shop<br/>(3 Enheim coins = 100 traces)">
                                <img class="item-img m-1" src="<%= icons['coin-evolving'].imgUrl %>" data-html="true" data-toggle="tooltip" data-placement="bottom" title="Evolving System shop<br/>(15 coins = 100 traces)">
                                <img class="item-img m-1" src="<%= icons['dojo'].imgUrl %>" data-html="true" data-toggle="tooltip" data-placement="bottom" title="Mu Lung Dojo shop<br/>(800 points = 100 traces)">
                                <img class="item-img m-1" src="<%= icons['seed'].imgUrl %>" data-html="true" data-toggle="tooltip" data-placement="bottom" title="The Seed shop<br/>(1500 points = 100 traces)">
                                <img class="item-img border-img rounded-sm m-1" src="<%= icons['ursus'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Ursus shop">
                                <img class="item-img m-1" src="<%= icons['pouch-1'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Bounty Hunter Pouches (all types)">
                                <img class="item-img m-1" src="<%= icons['mon-collect-box-1'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Monster Collection exploration rewards (all types)"><br class="d-none d-sm-block"/>
                                <img class="item-img m-1" src="<%= icons['cube-bc-frag'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="5 Black Cube Fragments = 2000 traces">
                                <img class="item-img m-1" src="<%= icons['cube-apc-frag'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="5 Additional Cube Fragments = 2000 traces">
                                <img class="item-img m-1" src="<%= icons['cube-wapc-frag'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="18 White Additional Cube Fragments = 500 traces">
                                <img class="item-img m-1" src="<%= icons['cube-hexa-frag'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="18 Hexa Cube Fragments = 500 traces">
                                <img class="item-img m-1" src="<%= icons['cube-smc-frag'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="20 Super Miracle Cube Fragments = 500 traces">
                                <img class="item-img m-1" src="<%= icons['golden-apple-piece'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="10 Golden Apple Pieces = 2000 traces">
                                <img class="item-img m-1" src="<%= icons['golden-shovel'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Harvesting Gold Flower, Mysterious Flower, Legendary Mysterious Flower successfully">
                                <img class="item-img m-1" src="<%= icons['golden-pickaxe'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Mining Heartstone, Mysterious Vein, Legendary Mysterious Vein successfully">
                                <img class="item-img m-1" src="<%= icons['extractor-scroll'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Extract scrolls/recipes using a Scroll Extractor"><br/>
                                Monster drops (level 20+), buy from Nadia (MapleSEA only)<br class="d-none d-sm-block"/>
                                Theme Dungeons, Sudden Missions, Events, etc.
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['golden-hammer'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Golden Hammer">
                                <p class="mb-0 d-block d-sm-none">Golden Hammer</p>
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-sm-table-cell">Golden Hammer</td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['mp-box-6'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Monster Park Boxes (Tuesday, Saturday)">
                                <img class="item-img m-1" src="<%= icons['pouch-3'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Bounty Hunter Pouches (Advanced, Premium)">
                                <img class="item-img m-1" src="<%= icons['eb-box'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Rare Treasure Chests from Elite Bosses">
                                <img class="item-img m-1" src="<%= icons['daily-bros'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Fairy Bros Daily Gift">
                                <img class="item-img m-1" src="<%= icons['golden-apple-piece'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="30 Golden Apple Pieces = 1 70% Golden Hammer"><br/>
                                Dropped by Elite Monsters, Event coin shops
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['golden-hammer'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Vicious Hammer">
                                <p class="mb-0 d-block d-sm-none">Vicious Hammer</p>
                            </th>
                            <td class="table-cols-50 text-center align-middle font-small d-none d-sm-table-cell">Vicious Hammer</td>
                            <td class="text-center align-middle">
                                Cash Shop
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="w-100 mb-3">
            <h2 class="font-subheader font-weight-bold text-underline mb-2" id="info-process">The Spell Trace Process</h2>
            <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Tracing</h3>
                <p class="w-100 text-justify">To begin tracing an item, double click any <img src="<%= icons['spell-trace'].imgUrl %>"> Spell Traces in your inventory, click on the red hammer icon at the bottom of your inventory <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/guide/spell-trace-2.png">, or use the keyboard shortcut <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/keyboard/equip-enhance.png">. The enhancement window will appear. Click-and-drop the item you wish to trace into the window.</p>

                <div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
                    <div class="d-flex">
                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/guide/spell-trace-3.png" class="img-fluid">
                    </div>
                    <p class="size-350 font-caption">Select a scroll to use (e.g. 30% INT scroll) and the interface will inform you how many traces it costs (in this case, 120 traces).</p>
                </div>

                <p class="w-100 text-justify">Each option in the tracing window will indicate the scroll's success rate and the stats provided if tracing succeeds. Tracing attempts cost Spell Traces only (no meso cost). There is also no destruction chance if you fail tracing. 1 upgrade slot will be consumed regardless of the tracing attempt's outcome. This also applies to Golden Hammers -- if the hammering fails, you will still get +1 possible upgrade slots, but it will immediately be consumed (as though you failed a tracing attempt).</p>

                <div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
                    <div class="d-flex">
                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/guide/spell-trace-4.png">
                    </div>
                    <p class="size-350 font-caption mb-0">You can keep track of the number of failed upgrades by looking at your equipment details.</p>
                </div>
            </div>

            <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Reversing Failed Upgrade Slots</h3>
                <p class="w-100 text-justify mb-2">If you failed your tracing attempt, there are scrolls you can utilize to retrieve the failed upgrade slots:</p>

                <table class="font-table size-900 table table-sm table-bordered table-hover mb-0">
                    <thead>
                        <tr>
                            <th class="table-cols-50"></th>
                            <th class="table-cols-75 text-center align-middle d-none d-md-table-cell">Item Name</th>
                            <th class="table-cols-75 text-left align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Item Name]</div>
                                Function
                            </th>
                            <th class="table-cols-50 text-center align-middle d-md-table-cell">Spell Trace Cost</th>
                            <th class="table-cols-100 text-center align-middle">Other Sources</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['scroll-css'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Pure Clean Slate Scroll">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                (Pure) Clean Slate Scroll
                            </td>
                            <td class="align-middle">
                                <div class="d-block d-md-none font-weight-bold">[(Pure) Clean Slate Scroll]</div>
                                Restores 1 failed upgrade slot. 'Pure' versions have 0% chance of destruction if the scroll fails.
                            </td>
                            <td class="table-cols-50 text-center align-middle">2000 x <img src="<%= icons['spell-trace'].imgUrl %>"><br/>(5% success)</td>
                            <td class="table-cols-100 text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['pouch-3'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Bounty Hunter Pouches (Advanced, Premium, 10% success)">
                                <img class="item-img m-1" src="<%= icons['coin-union'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Union coin shop (10% success)">
                                <img class="item-img m-1" src="<%= icons['coin-yu-garden'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Yu Garden coin shop (1/3/5% success, 2/6/10% item destroy chance if failed)">
                                <img class="item-img m-1" src="<%= icons['eb-box'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Rare Treasure Chests from Elite Bosses (10% success)"><br/>
                                Elite Monsters (5% success), Events
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['scroll-inno'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Innocence Scroll">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Innocence Scroll
                            </td>
                            <td class="align-middle">
                                <div class="d-block d-md-none font-weight-bold">[<%= icons['scroll-inno'].name %>]</div>
                                Restores all upgrade slots (including succeeded ones). Slots added by Golden/Vicious hammers are erased. Also resets any Star Force on the equipment.
                            </td>
                            <td class="table-cols-50 text-center align-middle">
                                5000 x <img src="<%= icons['spell-trace'].imgUrl %>"><br/>(30% success)
                            </td>
                            <td class="table-cols-100 text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['pouch-3'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Bounty Hunter Pouches (Advanced, Premium, 50% success)">
                                <img class="item-img m-1" src="<%= icons['eb-box'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Rare Treasure Chests from Elite Bosses (50% success)">
                                <img class="item-img m-1" src="<%= icons['golden-apple-piece'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="50 Golden Apple Pieces = 1 scroll (50% success)"><br/>
                                Events
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['scroll-ark-inno'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Ark Innocence Scroll">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Ark Innocence Scroll
                            </td>
                            <td class="align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Ark Innocence Scroll]</div>
                                Same as Innocence Scroll, but retains Star Force on the equipment.
                            </td>
                            <td class="table-cols-50 text-center align-middle">
                                10000 x <img src="<%= icons['spell-trace'].imgUrl %>"><br/>(30% success)
                            </td>
                            <td class="table-cols-100 text-center align-middle">
                                N/A
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="w-100 mb-3">
            <h2 class="font-subheader font-weight-bold text-underline mb-2" id="info-scrolls">Other Scrolls</h2>
            <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Chaos Scrolls</h3>
                <p class="w-100 text-justify mb-2">Chaos Scrolls affect every possible stat line visible on the item when you use it. It does not affect % based stat lines (e.g. All Stats %, Boss Damage %, etc.).</p>
                <table class="font-table size-720 table table-sm table-bordered table-hover mb-0">
                    <thead>
                        <tr>
                            <th class="table-cols-50"></th>
                            <th class="table-cols-75 text-center align-middle d-none d-md-table-cell">Item Name</th>
                            <th class="table-cols-125 text-center align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Item Name]</div>
                                Effect <br class="d-none d-md-block">(x10 for HP/MP)
                            </th>
                            <th class="text-center align-middle">Where to get?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle" rowspan="3">
                                <img src="<%= icons['scroll-chaos'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Chaos Scroll">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Chaos Scroll
                            </td>
                            <td class="table-cols-125 text-center align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Chaos Scroll]</div>
                                -5 to +5
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['mp-box-6'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Monster Park Boxes (Tuesday, Saturday)">
                                <img class="item-img m-1" src="<%= icons['pouch-1'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Bounty Hunter Pouches (Basic, Intermediate, Advanced)">
                                <img class="item-img m-1" src="<%= icons['eb-box'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Rare Treasure Chests from Elite Bosses">
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Incredible Chaos Scroll
                            </td>
                            <td class="table-cols-125 text-center align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Incredible Chaos Scroll]</div>
                                -6 to +6
                            </td>
                            <td class="text-center align-middle">
                                N/A (mostly discontinued)
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Miraculous Chaos Scroll
                            </td>
                            <td class="table-cols-125 text-center align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Miraculous Chaos Scroll]</div>
                                ??
                            </td>
                            <td class="text-center align-middle">
                                Cash shop, gacha-style systems/items
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle" rowspan="2">
                                <img src="<%= icons['scroll-csog'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Chaos Scroll of Goodness">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Chaos Scroll of Goodness
                            </td>
                            <td class="table-cols-125 text-center align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Chaos Scroll of Goodness]</div>
                                +0 to +5
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['mp-box-6'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Monster Park Boxes (Tuesday, Saturday)">
                                <img class="item-img m-1" src="<%= icons['eb-box'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Rare Treasure Chests from Elite Bosses"><br/>
                                Events
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Incredible Chaos Scroll of Goodness (ICSOG)
                            </td>
                            <td class="table-cols-125 text-center align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Incredible Chaos Scroll of Goodness (ICSOG)]</div>
                                +0 to +6<sup class="text-info">[1]</sup>
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['mp-box-6'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Monster Park Boxes (Tuesday, Saturday)"><br/>
                                Events
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="font-footnote size-720 w-100 text-justify">
                    <p class="mb-0"><span class="text-info font-weight-bold">[1]</span> Player reports have revealed that there may be 0% chance to get +5 stats from ICSOGs. See <a href="http://www.inven.co.kr/board/maple/2304/10000" target="_blank">this thread</a> (Google Translate needed).</p>
                </div>
            </div>

            <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Special Scrolls</h3>
                <p class="w-100 text-justify mb-2">The scrolls below are usually found in the cash shop, or gacha-related systems and items. Apply these scrolls on the item <span class="text-underline">before</span> the next upgrade for it to take effect. These special effects apply only once, and will disappear even if the upgrade succeeds.</p>
                <table class="font-table size-720 table table-sm table-bordered table-hover mb-0">
                    <thead>
                        <tr>
                            <th class="table-cols-50"></th>
                            <th class="table-cols-75 text-center align-middle d-none d-md-table-cell">Item Name</th>
                            <th class="text-left align-middle d-md-table-cell">
                                <div class="d-block d-md-none font-weight-bold">[Item Name]</div>
                                Function
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['scroll-lucky-day'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Lucky Day Scroll">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Lucky Day Scroll
                            </td>
                            <td class="text-left align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Lucky Day Scroll]</div>
                                Increases success rate of next scroll/spell trace enhancement by 10%.
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['scroll-protection'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Shielding Ward / Protection Scroll">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Shielding Ward / Protection Scroll
                            </td>
                            <td class="text-left align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Shielding Ward / Protection Scroll]</div>
                                Protects regular (non-superior) items from destruction due to a failed scroll. Not usable on items 12* and above. Can be used with Shield Scrolls and Guardian Scrolls.
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['scroll-protection-superior'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Superior Shielding Ward">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Superior Shielding Ward
                            </td>
                            <td class="text-left align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Superior Shielding Ward]</div>
                                Protects superior items from destruction due to a failed scroll. Not usable on items 7* and above. Can be used with Shield Scrolls and Guardian Scrolls.
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['scroll-shield'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Shield Scroll">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Shield Scroll
                            </td>
                            <td class="text-left align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Shield Scroll]</div>
                                Prevents item from losing 1 upgrade slot if scrolling fails. Can be used with Shielding Ward and Guardian Scrolls.
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['scroll-guardian'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Guardian / Recovery Scroll">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Guardian / Recovery Scroll
                            </td>
                            <td class="text-left align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Guardian / Recovery Scroll]</div>
                                Prevents scroll from disappearing if scrolling fails. Can be used with Shielding Wards and Shield Scrolls.
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['scroll-return'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Return Scroll">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Return Scroll
                            </td>
                            <td class="text-left align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Return Scroll]</div>
                                Gives you a choice to return your equipment stats to before the scroll was applied. Only returns stats that were changed due to scrolls that consume upgrade slots. Cannot be used with Shield Scrolls. Cannot be used on Zero weapons.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="w-100 mb-3">
            <h2 class="font-subheader font-weight-bold text-underline mb-2" id="info-progression">Tracing Progression</h2>
            <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">What % scroll should I select?</h3>
                <p class="w-100 text-justify">Getting a perfectly traced item can cost large amounts of Spell Traces (and hence mesos). Higher level items will require more traces per upgrade too.</p>

                <p class="w-100 text-justify mb-0">When starting off, aim for a middle ground between success rates and spell trace costs (e.g. 70% scrolls). At higher levels, when your equipment stays longer and you have more resouces, you can start tracing with 30% scrolls and 15% scrolls (for weapons only). The eventual goal is to have armors fully traced with 30% scrolls, and weapons fully traced with 15% scrolls. </p>
            </div>

            <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Hammers, Pure Clean Slate Scrolls & Innocence Scrolls</h3>
                <p class="w-100 text-justify">When to use these items is highly subjective to the player, their current equipment status and the resources they have. The table below is one possible method, but you may have different considerations. Numbers may need to adjust for items with more/less default upgrade slots.</p>

                <p class="w-100 text-justify mb-2"><span class="font-weight-bold">Assumption:</span> Unhammered item, 7 default upgrade slots, traced with 30% scrolls:</p>
                <table class="font-table size-720 table table-sm table-bordered table-hover mb-0">
                    <thead>
                        <tr>
                            <th class="table-cols-50"></th>
                            <th class="table-cols-75 text-center align-middle d-md-table-cell">Item Name</th>
                            <th class="text-center align-middle d-md-table-cell">When to use?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['scroll-inno'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Innocence Scroll">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-md-table-cell">
                                Innocence Scroll
                            </td>
                            <td class="text-center align-middle">
                                3 or more slots failed / item is 12* or less
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['scroll-inno'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Ark Innocence Scroll">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-md-table-cell">
                                Ark Innocence Scroll
                            </td>
                            <td class="text-center align-middle">
                                3 or more slots failed / item is more than 12*
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['scroll-css'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Pure Clean Slate Scroll">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-md-table-cell">
                                Pure Clean Slate Scroll
                            </td>
                            <td class="text-center align-middle">
                                2 or fewer slots failed
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['golden-hammer'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Golden / Vicious Hammer">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-md-table-cell">
                                Golden / Vicious Hammer
                            </td>
                            <td class="text-center align-middle">
                                Usually done last; 2 or fewer slots failed
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Using ICSOGs</h3>
                <p class="w-100 text-justify mb-0">For armors and accessories, an alternative is to use Incredible Chaos Scroll of Goodness (ICSOGs) to get +4 to +6 ATT/MATT with some stats on the first (or even second) upgrade slot before tracing the other slots. You get a slightly better boost from this compared to purely traced stats, but be prepared to use many ICSOGs and Innocence Scrolls (to reset upgrade slots) if scrolling luck is not in your favor!</p>
            </div>
        </div>
    </div>
</div>