<div class="w-100 d-flex align-items-center flex-column px-4 pt-4" id="info">
    <div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
        <div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
            <div class="w-100 flex-grow-1 border-top border-dark"></div>
            <h1 class="font-header w-100 text-center m-0 px-0">About Potentials</h1>
            <div class="w-100 flex-grow-1 border-top border-dark"></div>
        </div>
        <div class="w-100 mb-3">
            <h2 class="font-subheader font-weight-bold text-underline mb-2" id="info-intro">Introduction</h2>
            <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                <p class="text-justify">Potentials / Additional Potentials are lines that appear at the bottom of your equipment, giving a further boost to your overall damage output. When hunting monsters, you may come across equipment drops with colored swirls surrounding them before picking it up. These items, when looted the first time, will appear as a banner with a colored name. The potential rank of the item will also be mentioned in your chatbox.</p>

                <div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
                    <div class="d-flex">
                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/guide/potentials-1.png">
                    </div>
                    <p class="size-350 font-caption">Items with different colored swirls (representing different potential ranks).</p>
                </div>

                <div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
                    <div class="d-flex flex-column align-items-center">
                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/guide/potentials-2.png" class="img-fluid mb-1">
                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/guide/potentials-3.png" class="mb-1">
                    </div>
                    <p class="size-350 font-caption mb-0">(Top) Picking monster loots that have colored swirls for the first time will display a banner. (Bottom) The potential rank of the item is displayed in your chatbox as well.</p>
                </div>
            </div>

            <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Revealing Potentials and Potential Ranks</h3>
                <p class="w-100 text-justify">You will often see items with potentials, but the lines themselves are not revealed yet. To reveal/identify an item's potential, click on the magnifying glass icon at the bottom of your inventory <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/guide/potentials-4.png">, followed by the item to be identified. This may cost mesos depending on the item's level and your current Insight trait level.</p>

                <div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
                    <div class="d-flex flex-column flex-md-row align-items-center">
                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/guide/potentials-5.png">&nbsp;
                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/guide/potentials-6.png">
                    </div>
                    <p class="size-350 font-caption"><span class="d-inline d-md-none">(Top)</span><span class="d-none d-md-inline">(Left)</span> An item with unidentified potential. <span class="d-inline d-md-none">(Bottom)</span><span class="d-none d-md-inline">(Right)</span> An item after revealing its potential.</p>
                </div>

                <p class="w-100 text-justify">There are five potential ranks, each represented by a different color - No rank (no color), Rare (blue), Epic (purple), Unique (yellow) and Legendary (green). Potential ranks are displayed as a colored border around an item in your inventory and when you hover over the item. You can also see the item's potential rank below its name when hovered over.</p>

                <div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
                    <div class="d-flex flex-column align-items-center">
                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/guide/potentials-7.png" class="mb-1">
                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/guide/potentials-8.png">
                    </div>
                    <p class="size-350 font-caption mb-0">Easily see an item's potential by looking at its border in your inventory, or by hovering over it.</p>
                </div>
            </div>
        </div>

        <!-- Horizontal -->
        <ins class="adsbygoogle ad-space horz-ad mb-3"
             style="display:block"
             data-ad-client="ca-pub-9569715514342803"
             data-ad-slot="9935306861"
             data-ad-format="auto"
             data-full-width-responsive="true">
             </ins>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
             (adsbygoogle = window.adsbygoogle || []).push({});
            });
        </script>

        <div class="w-100 mb-3">
            <h2 class="font-subheader font-weight-bold text-underline mb-2" id="info-pot-scrolls">Potential Scrolls</h2>
            <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                <p class="w-100 text-justify">You can use Potential Scrolls to give items potentials, or to change an item that already has potential to a higher rank. To use a Potential Scroll, simply click-and-drop the scroll on your equipped item, or double click the scroll followed by the equipment in your inventory.</p>

                <p class="w-100 text-justify">Note that not all items can receive potentials. Potential Scrolls do not consume upgrade slots, and do not destroy the item if it fails. If these scrolls are used on items with existing potentials, they will retain the same number of potential lines as before, unless the scroll specifically sets a fixed number of lines.</p>

                <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Regular Potentials</h3>
                <p class="w-100 text-justify mb-2">For scrolls in the table below, they can be used on equipment that is 1 potential rank lower than the scroll's indicated rank (i.e. Epic Potential Scroll usable on Rare rank and below, Unique Potential Scroll on Epic rank and below, etc.). Regular Potential Scrolls (first three rows) can only be used on equipment with no potentials.</p>
                <table class="font-table size-900 table table-sm table-bordered table-hover mb-3">
                    <thead>
                        <tr>
                            <th class="table-cols-50"></th>
                            <th class="table-cols-75 text-center align-middle d-none d-md-table-cell">Item Name</th>
                            <th class="text-left align-middle d-md-table-cell">
                                <div class="d-block d-md-none font-weight-bold">[Item Name]</div>
                                Function
                            </th>
                            <th class="text-center align-middle d-md-table-cell">Where to get?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle" rowspan="3">
                                <img src="<%= icons['pot-scroll'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Potential Scroll">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Potential Scroll
                            </td>
                            <td class="text-left align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Potential Scroll]</div>
                                Gives an item 2 to 3 potential lines.<br/><span class="font-weight-bold">Success Rate:</span> 70%
                            </td>
                            <td class="text-center align-middle">
                                Monster drops
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Advanced Potential Scroll
                            </td>
                            <td class="text-left align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Advanced Potential Scroll]</div>
                                Gives an item 2 to 3 potential lines.<br/><span class="font-weight-bold">Success Rate:</span> 90%
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['cube-rc-frag'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="7 Red Cube Fragments = 1 scroll"><br/>
                                Boss drops
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Special Potential Scroll
                            </td>
                            <td class="text-left align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Special Potential Scroll]</div>
                                Gives an item 3 potential lines.<br/><span class="font-weight-bold">Success Rate:</span> 100%
                            </td>
                            <td class="text-center align-middle">
                                Events
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['pot-scroll-epic'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Epic Potential Scroll">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Epic Potential Scroll
                            </td>
                            <td class="text-left align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Epic Potential Scroll]</div>
                                Gives an item Epic potential.<br/><span class="font-weight-bold">Variants:</span> 40% / 50% / 80% / 100% success rate
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['coin-union'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Union coin shop (3 per week, 50% success)">
                                <img class="item-img m-1" src="<%= icons['dojo'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Mu Lung Dojo shop (1 per week, 50% success)">
                                <img class="item-img border-img rounded-sm m-1" src="<%= icons['ursus'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Ursus shop (50% success)">
                                <img class="item-img m-1" src="<%= icons['pouch-3'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Advanced Bounty Hunter Pouch (50% success)">
                                <img class="item-img m-1" src="<%= icons['eb-box'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Rare Treasure Chests from Elite Bosses (50% success)">
                                <img class="item-img m-1" src="<%= icons['alicia-box-4'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="The Seed boxes (Rank 4 and better, 50% success)">
                                <img class="item-img m-1" src="<%= icons['daily-bros'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Fairy Bros Daily Gift - Day 26">
                                <img class="item-img m-1" src="<%= icons['mon-collect-box-3'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Monster Collection exploration rewards (6 hours, 24 hours)">
                                <img class="item-img m-1" src="<%= icons['cube-smc-frag'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="30 Super Miracle Cube Fragments = 1 scroll, 80% success">
                                <img class="item-img m-1" src="<%= icons['cube-hexa-frag'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="27 Hexa Cube Fragments = 1 scroll, 80% success"><br/>
                                Sudden Mission, Events
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['pot-scroll-unique'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Unique Potential Scroll">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Unique Potential Scroll
                            </td>
                            <td class="text-left align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Unique Potential Scroll]</div>
                                Gives an item Unique potential.<br/><span class="font-weight-bold">Variants:</span> 30% / 50% / 60% / 80% / 100% success rate
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['mp-box-2'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Monster Park Box (Tuesday), 100% success"><br/>
                                Events, Cash shop, gacha-style systems
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['pot-scroll-legendary'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Legendary Potential Scroll">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Legendary Potential Scroll
                            </td>
                            <td class="text-left align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Legendary Potential Scroll]</div>
                                Gives an item Legendary potential.<br/><span class="font-weight-bold">Variants:</span> 50% success rate
                            </td>
                            <td class="text-center align-middle">
                                Events
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Additional Potentials</h3>
                <p class="w-100 text-justify mb-2">For scrolls in the table below, they can only be used on equipment that already have regular potentials. Similarly to regular potential scrolls, they can be used on items that are 1 additional potential rank lower (i.e. Additional Epic Potential Scroll usable on Rare additional potential and below). Regular Additional Potential Scrolls (first two rows) can only be used on equipment with no additional potentials.</p>
                <table class="font-table size-900 table table-sm table-bordered table-hover mb-0">
                    <thead>
                        <tr>
                            <th class="table-cols-50"></th>
                            <th class="table-cols-75 text-center align-middle d-none d-md-table-cell">Item Name</th>
                            <th class="text-left align-middle d-md-table-cell">
                                <div class="d-block d-md-none font-weight-bold">[Item Name]</div>
                                Function
                            </th>
                            <th class="text-center align-middle d-md-table-cell">Where to get?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['pot-scroll-add'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Additional Potential Scroll">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Additional Potential Scroll
                            </td>
                            <td class="text-left align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Additional Potential Scroll]</div>
                                Gives an item 2 to 3 additional potential lines.<br/><span class="font-weight-bold">Variants:</span> 50% / 60% / 70% success rate
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['coin-union'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Union coin shop (3 per week, 50% success)">
                                <img class="item-img m-1" src="<%= icons['dojo'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Mu Lung Dojo shop (1 per week, 50% success)">
                                <img class="item-img border-img rounded-sm m-1" src="<%= icons['ursus'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Ursus shop (50% success)">
                                <img class="item-img m-1" src="<%= icons['pouch-3'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Bounty Hunter Pouches (Advanced, Premium, 50% success)">
                                <img class="item-img m-1" src="<%= icons['eb-box'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Rare Treasure Chests from Elite Bosses (50% success)">
                                <img class="item-img m-1" src="<%= icons['cube-apc-frag'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="20 Additional Cube Fragments = 1 scroll, 70% success">
                                <img class="item-img m-1" src="<%= icons['cube-wapc-frag'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="27 White Additional Cube Fragments = 1 scroll, 70% success"><br/>
                                Events
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['pot-scroll-add-special'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Special Additional Potential Scroll">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Special Additional Potential Scroll
                            </td>
                            <td class="text-left align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Special Additional Potential Scroll]</div>
                                Gives an item 2 to 3 additional potential lines.<br/><span class="font-weight-bold">Success Rate:</span> 100%
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['cube-bc-frag'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="25 Black Cube Fragments = 1 scroll"><br/>
                                Events
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['pot-scroll-add-epic'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Additional Epic Potential Scroll">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Additional Epic Potential Scroll
                            </td>
                            <td class="text-left align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Additional Epic Potential Scroll]</div>
                                Gives an item Epic additional potential.<br/><span class="font-weight-bold">Variants:</span> 30%
                            </td>
                            <td class="text-center align-middle">
                                Cash Shop cube packages
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="w-100 mb-3">
            <h2 class="font-subheader font-weight-bold text-underline mb-2" id="info-stamps">Potential Stamps</h2>
            <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                <p class="w-100 text-justify">You can have up to three lines of regular potentials and additional potentials each. If your equipment has two or less lines, you can expand them using certain items commonly called stamps. Your item must be in your inventory for this process. Double click the stamp, followed by the item you wish to expand lines for. A small window will pop up. Click OK, and if the stamp succeeds, the newly expanded potential line will be automatically identified for you! It is ideal to get three potential lines first before rerolling the lines through cubes.</p>

                <div class="w-100 d-flex flex-column justify-content-center align-items-center text-center">
                    <div class="d-flex flex-column align-items-center">
                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/guide/potentials-9.png">
                    </div>
                    <p class="size-350 font-caption">Stamps also do not destroy your item if they fail.</p>
                </div>

                <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Regular Potentials</h3>
                <p class="w-100 text-justify mb-2">Stamps below add one line to regular potentials:</p>
                <table class="font-table size-720 table table-sm table-bordered table-hover mb-3">
                    <thead>
                        <tr>
                            <th class="table-cols-50"></th>
                            <th class="table-cols-125 text-center align-middle d-none d-sm-table-cell">Item Name</th>
                            <th class="text-center align-middle">
                                <div class="d-block d-sm-none font-weight-bold">[Item Name]</div>
                                Success Rate
                            </th>
                            <th class="text-center align-middle">Where to get?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['stamp-silver'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Carved Silver Seal">
                            </th>
                            <td class="table-cols-125 text-center align-middle font-small d-none d-sm-table-cell">
                                Carved Silver Seal
                            </td>
                            <td class="text-center align-middle">
                                <div class="d-block d-sm-none font-weight-bold">[Carved Silver Seal]</div>
                                50%
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['pouch-1'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Basic Bounty Hunter Pouch">
                                <img class="item-img m-1" src="<%= icons['mon-collect-box-2'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Monster Collection exploration rewards (3 / 6 / 24 hours)">
                                <img class="item-img m-1" src="<%= icons['cube-smc-frag'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="10 Super Miracle Cube Fragments = 1 stamp">
                                <img class="item-img m-1" src="<%= icons['cube-hexa-frag'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="9 Hexa Cube Fragments = 1 stamp"><br/>
                                Events
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle" rowspan="2">
                                <img src="<%= icons['stamp-golden'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Carved Golden Seal">
                            </th>
                            <td class="table-cols-125 text-center align-middle font-small d-none d-sm-table-cell">
                                Carved Golden Seal
                            </td>
                            <td class="text-center align-middle">
                                <div class="d-block d-sm-none font-weight-bold">[Carved Golden Seal]</div>
                                80%
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['coin-union'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Union coin shop (3 per week)">
                                <img class="item-img m-1" src="<%= icons['pouch-2'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Intermediate Bounty Hunter Pouch">
                                <img class="item-img m-1" src="<%= icons['mon-collect-box-2'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Monster Collection exploration rewards (3 / 6 / 24 hours)"><br/>
                                Events
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <td class="table-cols-125 text-center align-middle font-small d-none d-sm-table-cell">
                                Carved Perfect Seal /<br/> Perfect Carving Stamp
                            </td>
                            <td class="text-center align-middle">
                                <div class="d-block d-sm-none font-weight-bold">[Carved Perfect Seal / Perfect Carving Stamp]</div>
                                100%
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['cube-rc-frag'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="10 Red Cube Fragments = 1 stamp">
                                <img class="item-img m-1" src="<%= icons['cube-bc-frag'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="10 Black Cube Fragments = 1 stamp">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Additional Potentials</h3>
                <p class="w-100 text-justify mb-2">Stamps below add one line to additional potentials:</p>
                <table class="font-table size-720 table table-sm table-bordered table-hover mb-0">
                    <thead>
                        <tr>
                            <th class="table-cols-50"></th>
                            <th class="table-cols-125 text-center align-middle d-none d-sm-table-cell">Item Name</th>
                            <th class="text-center align-middle">
                                <div class="d-block d-sm-none font-weight-bold">[Item Name]</div>
                                Success Rate
                            </th>
                            <th class="text-center align-middle">Where to get?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['stamp-add-basic'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Basic Awakening Stamp">
                            </th>
                            <td class="table-cols-125 text-center align-middle font-small d-none d-sm-table-cell">
                                Basic Awakening Stamp
                            </td>
                            <td class="text-center align-middle">
                                <div class="d-block d-sm-none font-weight-bold">[Basic Awakening Stamp]</div>
                                20%
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['eb-box'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Rare Treasure Chests from Elite Bosses">
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['stamp-add-int'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Intermediate Awakening Stamp">
                            </th>
                            <td class="table-cols-125 text-center align-middle font-small d-none d-sm-table-cell">
                                Intermediate Awakening Stamp
                            </td>
                            <td class="text-center align-middle">
                                <div class="d-block d-sm-none font-weight-bold">[Intermediate Awakening Stamp]</div>
                                40%
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['eb-box'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Rare Treasure Chests from Elite Bosses">
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle" rowspan="2">
                                <img src="<%= icons['stamp-add-adv'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Advanced Awakening Stamp">
                            </th>
                            <td class="table-cols-125 text-center align-middle font-small d-none d-sm-table-cell">
                                Advanced Awakening Stamp
                            </td>
                            <td class="text-center align-middle">
                                <div class="d-block d-sm-none font-weight-bold">[Advanced Awakening Stamp]</div>
                                60%
                            </td>
                            <td class="text-center align-middle">
                                Events
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <td class="table-cols-125 text-center align-middle font-small d-none d-sm-table-cell">
                                Special Awakening Stamp
                            </td>
                            <td class="text-center align-middle">
                                <div class="d-block d-sm-none font-weight-bold">[Special Awakening Stamp]</div>
                                100%
                            </td>
                            <td class="text-center align-middle">
                                Events
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['stamp-add-silver'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Silver Awakening Stamp">
                            </th>
                            <td class="table-cols-125 text-center align-middle font-small d-none d-sm-table-cell">
                                Silver Awakening Stamp
                            </td>
                            <td class="text-center align-middle">
                                <div class="d-block d-sm-none font-weight-bold">[Silver Awakening Stamp]</div>
                                60%
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['cube-wapc-frag'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="9 White Additional Cube Fragments = 1 stamp">
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle" rowspan="2">
                                <img src="<%= icons['stamp-add-golden'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Golden Awakening Stamp">
                            </th>
                            <td class="table-cols-125 text-center align-middle font-small d-none d-sm-table-cell">
                                Golden Awakening Stamp
                            </td>
                            <td class="text-center align-middle">
                                <div class="d-block d-sm-none font-weight-bold">[Golden Awakening Stamp]</div>
                                80%
                            </td>
                            <td class="text-center align-middle">
                                Cash Shop sales
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <td class="table-cols-125 text-center align-middle font-small d-none d-sm-table-cell">
                                Perfect Additional Carving Stamp /<br/>Perfect Additional Carved Seal
                            </td>
                            <td class="text-center align-middle">
                                <div class="d-block d-sm-none font-weight-bold">[Perfect Additional Carving Stamp / <br/>Perfect Additional Carved Seal]</div>
                                100%
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['cube-apc-frag'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="10 Additional Cube Fragments = 1 stamp">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Horizontal -->
        <ins class="adsbygoogle ad-space horz-ad mb-3"
             style="display:block"
             data-ad-client="ca-pub-9569715514342803"
             data-ad-slot="9935306861"
             data-ad-format="auto"
             data-full-width-responsive="true">
             </ins>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
             (adsbygoogle = window.adsbygoogle || []).push({});
            });
        </script>

        <div class="w-100 mb-3">
            <h2 class="font-subheader w-100 font-weight-bold text-underline mb-2" id="info-cubes">Cubes</h2>
            <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                <p class="w-100 text-justify">More often than not, the potentials you get on first reveal will be bad, or have unwanted stats not relevant to your class. Alternatively, you want to increase your item's potential rank without using Potential Scrolls -- Unique/Legendary Potential Scrolls are very rare and expensive.</p>

                <p class="w-100 text-justify">To reroll potentials, you will have to use cubes. All cubes have 100% success rates. They reroll all potential lines at the same time, and have no chance to decrease potential ranks unless otherwise stated. Each cube type has a different maximum potential rank it can reach and reroll on, which are detailed in the tables below.</p>

                <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Regular Potentials</h3>
                <p class="w-100 text-justify mb-2">Cubes below reroll regular potential lines. The table below does not cover event-only cubes (e.g. Karma Great Master's Cubes), and cubes usable solely on event-only rings (e.g. Full Moon Goblin Cube).</p>
                <table class="font-table size-900 table table-sm table-bordered table-hover mb-0">
                    <thead>
                        <tr>
                            <th class="table-cols-50"></th>
                            <th class="table-cols-75 text-center align-middle d-none d-md-table-cell">Item Name</th>
                            <th class="table-cols-75 text-center align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Item Name]</div>
                                Maximum Rank
                            </th>
                            <th class="text-center align-middle">Where to get?</th>
                            <th class="table-cols-75 text-center align-middle">Crafting Materials</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['cube-suspicious'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Suspicious Cube">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Suspicious Cube
                            </td>
                            <td class="table-cols-75 text-center align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Suspicious Cube]</div>
                                Epic
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['pouch-1'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Bounty Hunter Pouches (All types)">
                                <img class="item-img m-1" src="<%= icons['eb-box'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Rare Treasure Chests from Elite Bosses">
                                <img class="item-img m-1" src="<%= icons['mon-collect-box-1'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Monster Collection exploration rewards (All durations)"><br/>
                                Boss drops, Elite Monster drops, Sudden Mission, Events
                            </td>
                            <td class="table-cols-75 text-center align-middle">
                                -
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['cube-yellow'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Yellow Cube">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Yellow Cube
                            </td>
                            <td class="table-cols-75 text-center align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Yellow Cube]</div>
                                Unique
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['coin-union'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Union coin shop (3 per week)">
                                <img class="item-img m-1" src="<%= icons['pouch-4'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Premium Bounty Hunter Pouch">
                                <img class="item-img m-1" src="<%= icons['eb-box'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Rare Treasure Chests from Elite Bosses">
                                <img class="item-img m-1" src="<%= icons['alicia-box-4'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="The Seed boxes (Rank 4 and better)">
                                <img class="item-img m-1" src="<%= icons['mon-collect-box-2'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Monster Collection exploration rewards (3 / 6 / 24 hours)"><br/>
                                Sudden Mission, Events
                            </td>
                            <td class="table-cols-75 text-center align-middle">
                                20 x <img class="item-img m-1" src="<%= icons['item-crys-sup'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Superior Item Crystal"><br/>
                                5 x <img class="item-img m-1" src="<%= icons['cube-fragment'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Fragment of Cube"><br/>
                                5 x <img class="item-img m-1" src="<%= icons['blade-of-chaos'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Blade of Chaos"><br/>
                                10 x <img class="item-img m-1" src="<%= icons['abrasive-sup'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Superior Abrasive">
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['cube-purple'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Purple Cube">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Purple Cube
                            </td>
                            <td class="table-cols-75 text-center align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Purple Cube]</div>
                                Legendary
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['pouch-4'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Premium Bounty Hunter Pouch">
                                <img class="item-img m-1" src="<%= icons['eb-box'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Rare Treasure Chests from Elite Bosses">
                                <img class="item-img m-1" src="<%= icons['alicia-box-2'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="The Seed boxes (Rank 2 and better)">
                                <img class="item-img m-1" src="<%= icons['mon-collect-box-3'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Monster Collection exploration rewards (6 / 24 hours)"><br/>
                                Sudden Mission, Events
                            </td>
                            <td class="table-cols-75 text-center align-middle">
                                30 x <img class="item-img m-1" src="<%= icons['item-crys-sup'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Superior Item Crystal"><br/>
                                10 x <img class="item-img m-1" src="<%= icons['cube-fragment'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Fragment of Cube"><br/>
                                5 x <img class="item-img m-1" src="<%= icons['powerful-blade-of-chaos'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Powerful Blade of Chaos"><br/>
                                15 x <img class="item-img m-1" src="<%= icons['abrasive-sup'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Superior Abrasive">
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['cube-smc'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Super Miracle Cube">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Super Miracle Cube
                            </td>
                            <td class="table-cols-75 text-center align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Super Miracle Cube]</div>
                                Legendary
                            </td>
                            <td class="text-center align-middle">
                                Cash Shop event sales
                            </td>
                            <td class="table-cols-75 text-center align-middle">
                                -
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['cube-red'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Red Cube">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Red Cube
                            </td>
                            <td class="table-cols-75 text-center align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Red Cube]</div>
                                Legendary
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['daily-bros'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Fairy Bros Daily Gift - Day 14"><br/>
                                Events, Cash Shop
                            </td>
                            <td class="table-cols-75 text-center align-middle">
                                -
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['cube-black'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Black Cube">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Black Cube
                            </td>
                            <td class="table-cols-75 text-center align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Black Cube]</div>
                                Legendary<sup class="text-info">[1]</sup>
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['daily-bros'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Fairy Bros Daily Gift - Day 28"><br/>
                                Events, Cash Shop
                            </td>
                            <td class="table-cols-75 text-center align-middle">
                                -
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['cube-hexa'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Hexa Cube">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Hexa Cube
                            </td>
                            <td class="table-cols-75 text-center align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Hexa Cube]</div>
                                Legendary<sup class="text-info">[2]</sup>
                            </td>
                            <td class="text-center align-middle">
                                Cash Shop event sales
                            </td>
                            <td class="table-cols-75 text-center align-middle">
                                -
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['cube-selection'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Selection Miracle Cube">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Selection Miracle Cube
                            </td>
                            <td class="table-cols-75 text-center align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Selection Miracle Cube]</div>
                                Legendary<sup><span class="text-danger">[#]</span><span class="text-info">[3]</span></sup>
                            </td>
                            <td class="text-center align-middle">
                                Cash Shop event sales
                            </td>
                            <td class="table-cols-75 text-center align-middle">
                                -
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['cube-equality'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Equality Cube">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small d-none d-md-table-cell">
                                Equality Cube
                            </td>
                            <td class="table-cols-75 text-center align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Equality Cube]</div>
                                Legendary<sup><span class="text-info">[4]</span></sup>
                            </td>
                            <td class="text-center align-middle">
                                Cash Shop event sales
                            </td>
                            <td class="table-cols-75 text-center align-middle">
                                -
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="font-footnote size-900 w-100 text-justify">
                    <p class="mb-2"><span class="text-danger font-weight-bold">[#]</span> The cube has a chance to cause your potential rank to decrease.</p>
                    <p class="mb-2"><span class="text-info font-weight-bold">[1]</span> You can choose to retain the group of potentials from before or after rerolling.</p>
                    <p class="mb-2"><span class="text-info font-weight-bold">[2]</span> You can select to keep up to two/three out of four/six possible lines displayed. The number of lines you can keep is based on the number of potential lines your item had at the time of cubing.</p>
                    <p class="mb-2"><span class="text-info font-weight-bold">[3]</span> A window rotates a list of eight potential lines (spread from Rare to Legendary ranks) regularly. Using the cube randomly selects lines from the available list at the time of cubing. It is possible to jump/drop multiple potential ranks. Usable only on weapons and secondary weapons.</p>
                    <p class="mb-0"><span class="text-info font-weight-bold">[4]</span> All three lines are taken from the potential rank displayed. For example, using an Equality Cube on a Legendary potential item will result in all 3 lines being taken from the Legendary (Primary) pool of potentials. See <a href="/maple/extras/potential-list" target="_blank">this page</a> for the full list of possible potentials.</p>
                </div>
            </div>

            <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Additional Potentials</h3>
                <p class="w-100 text-justify mb-2">Cubes below reroll additional potential lines. The table below does not cover event-only cubes, and cubes usable solely on event-only rings (e.g. Glorion Ring Suspicious Additional Cube).</p>

                <table class="font-table size-720 table table-sm table-bordered table-hover mb-0">
                    <thead>
                        <tr>
                            <th class="table-cols-50"></th>
                            <th class="table-cols-125 text-center align-middle d-none d-md-table-cell">Item Name</th>
                            <th class="table-cols-125 text-center align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Item Name]</div>
                                Maximum Rank
                            </th>
                            <th class="text-center align-middle">Where to get?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['cube-sus-add'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Suspicious Additional Cube">
                            </th>
                            <td class="table-cols-125 text-center align-middle font-small d-none d-md-table-cell">
                                Suspicious Additional Cube
                            </td>
                            <td class="table-cols-125 text-center align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Suspicious Additional Cube]</div>
                                Rare
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img border-img rounded-sm m-1" src="<%= icons['lotus-3'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Lotus (Normal, Hard)">
                                <img class="item-img border-img rounded-sm m-1" src="<%= icons['damien-1'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Damien (Normal, Hard)">
                                <img class="item-img border-img rounded-sm m-1" src="<%= icons['lucid'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Lucid (Normal, Hard)">
                                <img class="item-img border-img rounded-sm m-1" src="<%= icons['will-3'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Will (Normal, Hard)">
                                <img class="item-img border-img rounded-sm m-1" src="<%= icons['dusk'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Dusk (Normal, Chaos)">
                                <img class="item-img border-img rounded-sm m-1" src="<%= icons['heretic-hilla'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Heretic Hilla (Hard)">
                                <img class="item-img border-img rounded-sm m-1" src="<%= icons['djunkel'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Djunkel (Normal, Chaos)">
                                <img class="item-img border-img rounded-sm m-1" src="<%= icons['bm-2'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Black Mage (Hard)"><br/>
                                Events
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['cube-apc'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Additional Cube">
                            </th>
                            <td class="table-cols-125 text-center align-middle font-small d-none d-md-table-cell">
                                Additional Cube
                            </td>
                            <td class="table-cols-125 text-center align-middle">
                                <div class="d-block d-md-none font-weight-bold">[Additional Cube]</div>
                                Legendary
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['daily-bros'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Fairy Bros Daily Gift - Day 27"><br/>
                                Cash Shop
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['cube-wapc'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="White Additional Cube">
                            </th>
                            <td class="table-cols-125 text-center align-middle font-small d-none d-md-table-cell">
                                White Additional Cube
                            </td>
                            <td class="table-cols-125 text-center align-middle">
                                <div class="d-block d-md-none font-weight-bold">[White Additional Cube]</div>
                                Legendary<sup class="text-info">[1]</sup>
                            </td>
                            <td class="text-center align-middle">
                                Cash Shop
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="font-footnote size-720 w-100 text-justify">
                    <p class="mb-0"><span class="text-info font-weight-bold">[1]</span> You can choose to retain the group of additional potentials from before or after rerolling.</p>
                </div>
            </div>

            <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">Crafting and Extraction</h3>
                <p class="w-100 text-justify mb-2">The table below lists how to get certain parts required to craft Yellow/Purple Cubes.</p>
                <table class="font-table size-720 table table-sm table-bordered table-hover mb-0">
                    <thead>
                        <tr>
                            <th class="table-cols-50"></th>
                            <th class="table-cols-125 text-center align-middle">Item Name</th>
                            <th class="text-center align-middle">How to get?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['cube-fragment'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Fragment of Cube">
                            </th>
                            <td class="table-cols-75 text-center align-middle font-small">
                                Fragment of Cube
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['extractor-cube'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Extract Suspicious Cubes through a Cube Extractor"><sup class="text-info">[1]</sup>
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['blade-of-chaos'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Blade of Chaos">
                            </th>
                            <td class="table-cols-125 text-center align-middle font-small">
                                Blade of Chaos
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['golden-shovel'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Harvesting Gold Flower, Mysterious Flower, Legendary Mysterious Flower successfully">
                                <img class="item-img m-1" src="<%= icons['golden-pickaxe'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Mining Heartstone, Mysterious Vein, Legendary Mysterious Vein successfully">
                                <img class="item-img m-1" src="<%= icons['coin-kritias'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Kritias coin shop (4 coins = 1 blade)">
                                <img class="item-img m-1" src="<%= icons['alicia-box-4'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="The Seed boxes (rank 4 and better)"><br/>
                                Sudden Mission
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-50 text-center align-middle">
                                <img src="<%= icons['powerful-blade-of-chaos'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Powerful Blade of Chaos">
                            </th>
                            <td class="table-cols-125 text-center align-middle font-small">
                                Powerful Blade of Chaos
                            </td>
                            <td class="text-center align-middle">
                                <img class="item-img m-1" src="<%= icons['golden-shovel'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Harvesting Gold Flower, Mysterious Flower, Legendary Mysterious Flower successfully">
                                <img class="item-img m-1" src="<%= icons['golden-pickaxe'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Mining Heartstone, Mysterious Vein, Legendary Mysterious Vein successfully">
                                <img class="item-img m-1" src="<%= icons['coin-kritias'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="Kritias coin shop (8 coins = 1 blade)">
                                <img class="item-img m-1" src="<%= icons['alicia-box-4'].imgUrl %>" data-toggle="tooltip" data-placement="bottom" title="The Seed boxes (rank 4 and better)"><br/>
                                Sudden Mission
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="font-footnote size-720 w-100 text-justify">
                    <p class="mb-0"><span class="text-info font-weight-bold">[1]</span> Cube Extractors are crafted by alchemists Master Craftsman rank and above.</p>
                </div>
            </div>
        </div>

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9569715514342803"
             crossorigin="anonymous"></script>
        <!-- Square -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9569715514342803"
             data-ad-slot="6007885749"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
             (adsbygoogle = window.adsbygoogle || []).push({});
            });
        </script>

        <div class="w-100 mb-3">
            <h2 class="font-subheader w-100 font-weight-bold text-underline mb-2" id="info-progression">Cubing Progression</h2>
            <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                <p class="w-100 text-justify">Cubing provides significant boosts as you rise up the potential ranks, but as with many systems in the game, it is highly RNG-based. You may get that Legendary rank upgrade in 1 Purple Cube, or you may be 200 cubes in with no sign of tiering up. Also, with a <a href="https://strategywiki.org/wiki/MapleStory/Potential_System" target="_blank">large pool of possible potentials</a> to choose from per potential rank, getting three potential lines relevant to your job for everything can be very challenging.</p>

                <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-0">What potentials should I aim for?</h3>
                <p class="w-100 text-justify">Potentials are not crucial at initial stages, but its importance increases as you head towards higher levels where bossing becomes frequent and monsters get tougher. Cubing is a slow process, often limited by resources for new players. The table below displays some <span class="text-underline">very general</span> tips related to cubing.</p>

                <p class="w-100 text-justify mb-2">Cubing priority usually goes to WSE first -- Weapons, Secondary Weapons, Emblems -- as the damage boost you get from their potentials is usually higher (and especially so at Unique/Legendary potentials).</p>

                <table class="font-table size-900 table table-sm table-bordered table-hover mb-3">
                    <thead>
                        <tr>
                            <th class="table-cols-100 text-left align-middle">Item has...</th>
                            <th class="text-left align-middle">Recommendation</th>
                            <th class="text-left align-middle">Stats to aim for?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-rows">
                            <th class="table-cols-100 text-left align-middle">
                                No Regular Potentials
                            </th>
                            <td class="text-left align-middle">
                                Do not use. Put a(n) (Epic) Potential Scroll on it to reap stat boosts.
                            </td>
                            <td class="text-left align-middle">
                                -
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-100 text-left align-middle">
                                No Additional Potentials
                            </th>
                            <td class="text-left align-middle">
                                <p>Not a priority; you can put an Additional Potential Scroll on it and hope you get decent Rare additional potentials.</p>
                                <p class="mb-0">Do not burn your wallet buying Suspicious Additional Cubes to try for good lines unless you have deep pockets.</p>
                            </td>
                            <td class="text-left align-middle">
                                ATT/MATT +10 or stat +2%
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-100 text-left align-middle">
                                2 or less potential lines
                            </th>
                            <td class="text-left align-middle">
                                Use stamps to increase potential lines before rerolling lines. You can buy Carved Golden Seals from Union coin shop for this.
                            </td>
                            <td class="text-left align-middle">
                                -
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-100 text-left align-middle">
                                Rare potentials
                            </th>
                            <td class="text-left align-middle">
                                <p>Okay to wear short term with junk stats. Try to rank up to Epic (using Epic Potential Scrolls) if possible for better stat returns.</p>
                                <p class="mb-0">Do not waste Suspicious Cubes to attempt tiering up from Rare to Epic.</p>
                            </td>
                            <td class="text-left align-middle">
                                <p>3% stats (non-WSE), 3% ATT/MATT (WSE)</p>
                                <p class="mb-0">Not recommended to reroll Rare rank for these stats due to large pool of possible potentials to pick from making it tougher.</p>
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-100 text-left align-middle">
                                Epic potentials
                            </th>
                            <td class="text-left align-middle">
                                Use Suspicious Cubes to reroll and Yellow Cubes to attempt tiering up to Unique.
                            </td>
                            <td class="text-left align-middle">
                                <p>6% to 9% stats (non-WSE), 6% to 9% ATT/MATT (WSE)</p>
                                <p class="mb-0">Rerolling for two good potential lines to reach 9% and above is quite tough. Take it slow.</p>
                            </td>
                        </tr>
                        <tr class="table-rows">
                            <th class="table-cols-100 text-left align-middle">
                                Unique potentials
                            </th>
                            <td class="text-left align-middle">
                                Make use of events that give Yellow Cubes or even Unique Potential Scrolls to get Unique items more easily.
                            </td>
                            <td class="text-left align-middle">
                                <p>9% to 21% stats (non-WSE)</p>
                                <p>30% Boss Damage (WS), 30% Ignore DEF (WSE) and 9% ATT/MATT (WSE) are all good Unique lines. Aim for a balance.</p>
                                <p class="mb-0">The journey for triple good lines will be <span class="font-weight-bold">long</span>.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p class="w-100 text-justify">Once you venture into Unique and Legendary potentials and start playing with Yellow/Purple Cubes, the possible potentials you can get from different item parts get <span class="font-weight-bold">really good</span>. Most items will still do well with %stat lines at Unique/Legendary. However, it also introduces many nuances that affect what lines to go for (especially for WSE and gloves), which is beyond the scope of this page.</p>

                <p class="w-100 text-justify mb-0">The potential system brings forth significant power boosts, but not without significant investments (time, mesos, etc.) as well. Rerolling three lines at end-game can be brutal if luck is not in your favor. Take the process slow, and who knows? Maybe the next cube you use could be <span class="font-weight-bold font-italic">the one</span>. All the best!</p>
            </div>
        </div>
    </div>
</div>