<%- include("../../partials/header") %>
<%- include("../../partials/navbar") %>

<div class="container-fluid content d-flex justify-content-between flex-column flex-md-row p-0">
	<%- include("../../partials/sidebar") %>
	<div class="main-content-div col p-0 position-relative">
		<%- include("potentialsInfo") %>
		<%- include("potentialsCredits") %>
	</div>
	<%- include("potentialsSidebar") %>
</div>

<script type="text/javascript" src="./public/scripts/commonScript.js"></script>
<%- include("../../partials/footer") %>