<div class="single-info-page active w-100 align-items-center flex-column px-4 pt-4 px-lg-0 pt-lg-4" id="calculator">
	<div class="info-section w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
		<div class="page-header-box w-100 d-flex justify-content-center align-items-center position-relative mb-2">
			<div class="w-100 flex-grow-1 border-top border-dark"></div>
			<h1 class="font-header w-100 text-center m-0 px-0">Calculator</h1>
			<div class="w-100 flex-grow-1 border-top border-dark"></div>
		</div>
		<div class="w-100 mb-3">
			<h2 class="font-subheader w-100 font-weight-bold mb-2">Instructions</h2>
			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<p class="w-100 text-justify">This calculator will display all the set effects your character has based on what items are equipped. To begin, follow the steps listed below. The next section will display the total set effects granted, as well as a breakdown of the respective sets involved.</p>
			</div>
			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<h3 class="w-100 font-subsubheader font-italic mb-0">Step 1: Select your character's job type</h3>
				<div class="w-100 d-flex justify-content-center align-items-center flex-column position-relative">
					<div class="job-choice-div w-100 d-flex justify-content-center align-items-center py-3">
						<div class="single-job-choice rounded-lg position-relative py-1 px-2 mx-2 <% if(jobType === "warrior") { %>active<% } %>" data-job-select="warrior">
							<a href="/set-items/warrior" class="stretched-link">Warrior</a>
						</div>
						<div class="single-job-choice rounded-lg position-relative py-1 px-2 mx-2 <% if(jobType === "mage") { %>active<% } %>" data-job-select="mage">
							<a href="/set-items/mage" class="stretched-link">Mage</a>
						</div>
						<div class="single-job-choice rounded-lg position-relative py-1 px-2 mx-2 <% if(jobType === "archer") { %>active<% } %>" data-job-select="archer">
							<a href="/set-items/archer" class="stretched-link">Archer</a>
						</div>
						<div class="single-job-choice rounded-lg position-relative py-1 px-2 mx-2 <% if(jobType === "thief") { %>active<% } %>" data-job-select="thief">
							<a href="/set-items/thief" class="stretched-link">Thief</a>
						</div>
						<div class="single-job-choice rounded-lg position-relative py-1 px-2 mx-2 <% if(jobType === "pirate") { %>active<% } %>" data-job-select="pirate">
							<a href="/set-items/pirate" class="stretched-link">Pirate</a>
						</div>
					</div>
				</div>
			</div>
			<div class="step-2-div font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<h3 class="w-100 font-subsubheader font-italic mb-0">Step 2: Fill in your equipment setup</h3>
				<p>Click on any of the squares on the equipment window to begin. A popup will appear for selection of equipment sorted by item type. Once selection is complete, close the window and scroll down for the calculated values.</p>
				<div class="w-100 d-flex justify-content-center">
					<div class="position-relative" id="equip-tab-div">
						<img src="/images/equips/equip-tab.png">
						<div class="w-100 h-100 position-absolute" id="equip-grid">
							<div class="equip-slot" id="ring-1-slot"></div>
							<div class="equip-slot" id="ring-2-slot"></div>
							<div class="equip-slot" id="ring-3-slot"></div>
							<div class="equip-slot" id="ring-4-slot"></div>
							<div class="equip-slot" id="pocket-slot"></div>

							<div class="equip-slot" id="pendant-1-slot"></div>
							<div class="equip-slot" id="pendant-2-slot"></div>
							<div class="equip-slot" id="weapon-slot"></div>
							<div class="equip-slot" id="belt-slot"></div>

							<div class="equip-slot" id="hat-slot" data-equip-type-index="0" data-equip-type="hat" data-toggle="modal" data-target="#setItemSelectModal"></div>
							<div class="equip-slot" id="face-slot" data-equip-type-index="1" data-equip-type="face" data-toggle="modal" data-target="#setItemSelectModal"></div>
							<div class="equip-slot" id="eye-slot" data-equip-type-index="2" data-equip-type="eye" data-toggle="modal" data-target="#setItemSelectModal"></div>
							<div class="equip-slot" id="top-slot"></div>
							<div class="equip-slot" id="bottom-slot"></div>
							<div class="equip-slot" id="shoe-slot"></div>

							<div class="equip-slot" id="earring-slot"></div>
							<div class="equip-slot" id="shoulder-slot"></div>
							<div class="equip-slot" id="gloves-slot"></div>
							<div class="equip-slot" id="android-slot"></div>

							<div class="equip-slot" id="emblem-slot"></div>
							<div class="equip-slot" id="badge-slot"></div>
							<div class="equip-slot" id="medal-slot"></div>
							<div class="equip-slot" id="secondary-slot"></div>
							<div class="equip-slot" id="cape-slot"></div>
							<div class="equip-slot" id="heart-slot"></div>
						</div>
					</div>
				</div>
			</div>
			<!--<table class="font-table col-12 col-lg-6 table table-sm table-bordered table-hover mb-0 rounded-sm">
				<tbody>
					<tr class="table-rows">
						<th class="table-item-img align-middle text-center">
							<img src="/images/equips/acs-warrior-hat.png">
						</th>
						<td class="flex-grow-1 align-middle text-center position-relative">
							<p class="font-footnote item-category position-absolute font-weight-bold text-uppercase m-0">Hat</p>
							<p class="m-0 text-center">Arcaneshade Warrior Hat</p>
						</td>
						<td class="table-user-controls align-middle text-center">
							<div class="d-flex justify-content-center align-items-center">
								<i class="fas fa-pen icons"></i>
							</div>
						</td>
						<td class="table-user-controls align-middle text-center">
							<div class="d-flex justify-content-center align-items-center">
								<i class="fas fa-pen icons"></i>
							</div>
						</td>
					</tr>
					<tr class="table-rows">
						<th class="table-item-img align-middle text-center">
							<img src="/images/equips/meister-symbol.png">
						</th>
						<td class="flex-grow-1 align-middle text-center position-relative">
							<p class="font-footnote item-category position-absolute font-weight-bold text-uppercase m-0">Face</p>
							<p class="m-0 text-center">Special Red Magician Meister Symbol</p>
						</td>
						<td class="table-user-controls align-middle text-center">
							<div class="d-flex justify-content-center align-items-center">
								<i class="fas fa-pen icons"></i>
							</div>
						</td>
						<td class="table-user-controls align-middle text-center">
							<div class="user-controls d-flex justify-content-center align-items-center">
								<i class="fas fa-pen icons"></i>
							</div>
						</td>
					</tr>
					<tr class="table-rows">
						<th class="table-item-img align-middle text-center">
							<img src="/images/equips/papulatus-mark.png">
						</th>
						<td class="flex-grow-1 align-middle text-center position-relative">
							<p class="font-footnote item-category position-absolute font-weight-bold text-uppercase m-0">Eye</p>
							<p class="m-0 text-center">Papulatus Mark</p>
						</td>
						<td class="table-user-controls align-middle text-center">
							<div class="d-flex justify-content-center align-items-center">
								<i class="fas fa-pen icons"></i>
							</div>
						</td>
						<td class="table-user-controls align-middle text-center">
							<div class="user-controls d-flex justify-content-center align-items-center">
								<i class="fas fa-pen icons"></i>
							</div>
						</td>
					</tr>
				</tbody>
			</table>-->
		</div>
		<div class="w-100 mb-3">
			<h2 class="font-subheader w-100 font-weight-bold mb-2">Total Set Effects</h2>
			<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
				<p class="no-set-effect-msg font-content w-100 d-flex justify-content-center">- No active set effects -</p>
				<div class="font-table w-100 d-flex flex-wrap">
					<% statTypes.forEach(function(stat) { %>
						<div class="total-stat total-stat-<%= stat.key %> col-6 col-lg-4 d-none justify-content-between align-items-center p-0 my-1">
							<div class="col-7 font-weight-bold text-right p-0"><%= stat.name %></div>
							<div class="col-5 pl-3">+<span class="total-stat-<%= stat.key %>-val"></span><%= stat.symbol %></div>
						</div>
					<% }) %>
				</div>
			</div>
		</div>
		<div class="w-100 mb-3">
			<h2 class="font-subheader w-100 font-weight-bold mb-2">Set Effects Breakdown</h2>
			<div class="font-small w-100 d-flex flex-wrap justify-content-start align-items-start mb-4">
				<p class="no-set-effect-msg font-content w-100 d-flex justify-content-center">- No active set effects -</p>
				<% Object.keys(allSetEffects).forEach(function(jobType) { %>
				<% Object.keys(allSetEffects[jobType]).forEach(function(setName) { %>
					<div class="set-item-effect-div <%= setName %>-set col-6 col-lg-4 d-none mb-3">
						<div class="w-100 d-flex flex-column rounded-lg py-2 px-3">
							<h3 class="font-subsubheader text-center">&lt;<%= allSetEffects[jobType][setName].title %>&gt;</h3>
							<div class="set-items">
								<% Object.keys(allSetEffects[jobType][setName].items).forEach(function(equipType) { %> 
								<% allSetEffects[jobType][setName].items[equipType].forEach(function(item) { %>
									<div class="set-effect wearing-<%= equipType %>" id="item-<%= item.id %>"><%= item.name %></div>
								<% }) %>
								<% }) %>
							</div>
							<hr>
							<div class="num-wearing-div">
								<% Object.keys(allSetEffects[jobType][setName].effects).forEach(function(numEquipped) { %> 
								<div class="set-effect wearing-<%= numEquipped %> d-flex flex-column mb-2">
									<p class="mb-0"><%= numEquipped %> set effect:</p>
									<% allSetEffects[jobType][setName].effects[numEquipped].forEach(function(effect) { %>
										<div class="single-effect" data-stat-id="<%= effect.statId %>" data-stat-val="<%= effect.val %>">
											<%= effect.statName %> +<%= effect.val %><%= effect.symbol %>
										</div>
									<% }) %>
								</div>
								<% }) %>
							</div>
						</div>
					</div>
				<% }) %>
				<% }) %>
			</div>
		</div>
	</div>
</div>