<form class="font-form w-100 size-900" 
    action="<% if(locals.damageSkinData) { %>/admin/damage-skin/<%= damageSkinData._id%><% } else { %>/admin/damage-skins<% } %>" 
    method="POST">
    <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-3">Basic Information</h3>
    <div class="border border-dark rounded-sm px-3 pt-3 mb-5">
        <div class="form-group row">
            <div class="col-sm-3 font-weight-bold">New Skin?</div>
            <div class="col-sm-9 d-flex flex-wrap h-100">
                <div class="col-8 col-lg-8 radio-select-group d-flex justify-content-center px-0" id="is-new-skin-radio-group">
                    <div class="col form-check p-0">
                        <input class="form-check-input" type="radio" name="isNewSkin" id="new-skin-yes" value="yes" <% if(!locals.damageSkinData || (locals.damageSkinData && damageSkinData.isNewSkin)) { %>checked<% } %>>
                        <label class="form-check-label radio-select is-new-skin-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 <% if(!locals.damageSkinData || (locals.damageSkinData && damageSkinData.isNewSkin)) { %>active<% } %>" for="new-skin-yes" data-is-new-skin="yes">Yes</label>
                    </div>
                    <div class="col form-check p-0">
                        <input class="form-check-input" type="radio" name="isNewSkin" id="new-skin-no" value="" <% if(locals.damageSkinData && !damageSkinData.isNewSkin) { %>checked<% } %>>
                        <label class="form-check-label radio-select is-new-skin-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 <% if(locals.damageSkinData && !damageSkinData.isNewSkin) { %>active<% } %>" for="new-skin-no" data-is-new-skin="no">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3 font-weight-bold">Skin from KMS?</div>
            <div class="col-sm-9 d-flex flex-wrap h-100">
                <div class="col-8 col-lg-8 radio-select-group d-flex justify-content-center px-0" id="is-kms-skin-radio-group">
                    <div class="col form-check p-0">
                        <input class="form-check-input" type="radio" name="isKMSskin" id="kms-skin-yes" value="yes" <% if(!locals.damageSkinData || (locals.damageSkinData && damageSkinData.isKMSskin)) { %>checked<% } %>>
                        <label class="form-check-label radio-select is-kms-skin-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 <% if(!locals.damageSkinData || (locals.damageSkinData && damageSkinData.isKMSskin)) { %>active<% } %>" for="kms-skin-yes" data-is-kms-skin="yes">Yes</label>
                    </div>
                    <div class="col form-check p-0">
                        <input class="form-check-input" type="radio" name="isKMSskin" id="kms-skin-no" value="" <% if(locals.damageSkinData && !damageSkinData.isKMSskin) { %>checked<% } %>>
                        <label class="form-check-label radio-select is-kms-skin-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 <% if(locals.damageSkinData && !damageSkinData.isKMSskin) { %>active<% } %>" for="kms-skin-no" data-is-kms-skin="no">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3 font-weight-bold">Is custom skin?</div>
            <div class="col-sm-9 d-flex flex-wrap h-100">
                <div class="col-8 col-lg-8 radio-select-group d-flex justify-content-center px-0" id="is-custom-skin-radio-group">
                    <div class="col form-check p-0">
                        <input class="form-check-input" type="radio" name="isCustomSkin" id="custom-skin-yes" value="yes" <% if(locals.damageSkinData && damageSkinData.isCustomSkin) { %>checked<% } %>>
                        <label class="form-check-label radio-select is-custom-skin-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 <% if(locals.damageSkinData && damageSkinData.isCustomSkin) { %>active<% } %>" for="custom-skin-yes" data-is-custom-skin="yes">Yes</label>
                    </div>
                    <div class="col form-check p-0">
                        <input class="form-check-input" type="radio" name="isCustomSkin" id="custom-skin-no" value="" <% if(!locals.damageSkinData || (locals.damageSkinData && !damageSkinData.isCustomSkin)) { %>checked<% } %>>
                        <label class="form-check-label radio-select is-custom-skin-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 <% if(!locals.damageSkinData || (locals.damageSkinData && !damageSkinData.isCustomSkin)) { %>active<% } %>" for="custom-skin-no" data-is-custom-skin="no">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3 font-weight-bold">Has regular version?</div>
            <div class="col-sm-9 d-flex flex-wrap h-100">
                <div class="col-8 col-lg-8 radio-select-group d-flex justify-content-center px-0" id="has-reg-skin-radio-group">
                    <div class="col form-check p-0">
                        <input class="form-check-input" type="radio" name="hasRegularSkin" id="reg-skin-yes" value="yes" <% if(!locals.damageSkinData || (locals.damageSkinData && damageSkinData.hasRegularSkin)) { %>checked<% } %>>
                        <label class="form-check-label radio-select has-reg-skin-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 <% if(!locals.damageSkinData || (locals.damageSkinData && damageSkinData.hasRegularSkin)) { %>active<% } %>" for="reg-skin-yes">Yes</label>
                    </div>
                    <div class="col form-check p-0">
                        <input class="form-check-input" type="radio" name="hasRegularSkin" id="reg-skin-no" value="" <% if(locals.damageSkinData && !damageSkinData.hasRegularSkin) { %>checked<% } %>>
                        <label class="form-check-label radio-select has-reg-skin-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 <% if(locals.damageSkinData && !damageSkinData.hasRegularSkin) { %>active<% } %>" for="reg-skin-no">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3 font-weight-bold">Has unit version?</div>
            <div class="col-sm-9 d-flex flex-wrap h-100">
                <div class="col-8 col-lg-8 radio-select-group d-flex justify-content-center px-0" id="has-unit-skin-radio-group">
                    <div class="col form-check p-0">
                        <input class="form-check-input" type="radio" name="hasUnitSkin" id="unit-skin-yes" value="yes" <% if(locals.damageSkinData && damageSkinData.hasUnitSkin) { %>checked<% } %>>
                        <label class="form-check-label radio-select has-unit-skin-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 <% if(locals.damageSkinData && damageSkinData.hasUnitSkin) { %>active<% } %>" for="unit-skin-yes" data-has-unit-skin="yes" id="unit-skin-label-yes">Yes</label>
                    </div>
                    <div class="col form-check p-0">
                        <input class="form-check-input" type="radio" name="hasUnitSkin" id="unit-skin-no" value="" <% if(!locals.damageSkinData || (locals.damageSkinData && !damageSkinData.hasUnitSkin)) { %>checked<% } %>>
                        <label class="form-check-label radio-select has-unit-skin-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 <% if(!locals.damageSkinData || (locals.damageSkinData && !damageSkinData.hasUnitSkin)) { %>active<% } %>" for="unit-skin-no" data-has-unit-skin="no" id="unit-skin-label-no">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="damage-skin-name" class="col-sm-3 col-form-label font-weight-bold">Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="damage-skin-name" name="name" placeholder="Damage Skin Name" required autocomplete="off" value="<% if(locals.damageSkinData) { %><%= damageSkinData.name %><% } else { %>Damage Skin - <% } %>">
                <small class="form-text text-info">Full item name (e.g. Damage Skin - Default). If unknown name, type ???.</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="alt-names" class="col-sm-3 col-form-label font-weight-bold">Alternate Names</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="alt-names" name="altNames" placeholder="Alternate Names" autocomplete="off" <% if(locals.damageSkinData && damageSkinData.altNames) { %>value="<%= damageSkinData.altNames.join(" / ") %>"<% } %>>
                <small class="form-text text-info">Separate each alternate name with space-forward slash-space " / ". Use shortened names (Default instead of Damage Skin - Default) unless damage skin's name does not start with "Damage Skin -".</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="notes" class="col-sm-3 col-form-label font-weight-bold">Notes (if any)</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="notes" name="notes" placeholder="Notes" autocomplete="off" <% if(locals.damageSkinData) { %>value="<%= damageSkinData.notes %>"<% } %>>
            </div>
        </div>
    </div>

    <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-3">Regular Skin Info</h3>
    <div class="border border-dark rounded-sm px-3 pt-3 mb-5">
        <div class="form-group row">
            <label for="damage-skin-id" class="col-sm-3 col-form-label font-weight-bold">Folder Number</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" id="damage-skin-id" name="folderNum" placeholder="Folder Number" required autocomplete="off" <% if(locals.damageSkinData) { %>value="<%= damageSkinData.folderNum %>"<% } %>>
                <small class="form-text text-info">Refers to folder number as seen in Effects.img &gt; DamageSkin. If only unit version available, enter that folder number.</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="item-id" class="col-sm-3 col-form-label font-weight-bold">Item ID</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" id="item-id" name="regularItemId" placeholder="Item ID" autocomplete="off" <% if(locals.damageSkinData) { %>value="<%= damageSkinData.regularItemId %>"<% } %>>
                <small class="form-text text-info">Refers to 7-digit numerical ID attached to each item asset. Leave blank if there is no non-unit version.</small>
            </div>
        </div>
        <div class="form-group row">
            <label for="item-id" class="col-sm-3 col-form-label font-weight-bold">Available Combat Messages<br/>(Check all that apply)</label>
            <div class="col-12 col-sm-9 d-flex flex-wrap align-items-center">
                <% skinProperties.combatMessages.forEach(function(msg) { %>
                    <div class="form-check col px-1 mb-1">
                        <input class="form-check-input" name="combatMessages" type="checkbox" id="msg-<%= msg.id %>" value="<%= msg.id %>" 
                            <% if((locals.damageSkinData && damageSkinData.digits.combatMessages.includes(msg.id)) || 
                                (!locals.damageSkinData && (msg.id === "Miss" || msg.id === "guard" || msg.id === "resist"))) { %>checked<% } %>>
                        <label class="form-check-label single-checkbox col-12 px-2 position-absolute py-1 rounded-sm text-center cursor-pointer 
                            <% if((locals.damageSkinData && damageSkinData.digits.combatMessages.includes(msg.id)) || 
                                (!locals.damageSkinData && (msg.id === "Miss" || msg.id === "guard" || msg.id === "resist"))) { %>active<% } %>"
                            id="msg-<%= msg.id %>-label" for="msg-<%= msg.id %>">
                            <%= msg.name %>
                        </label>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

    <div class="<% if(!locals.damageSkinData || (locals.damageSkinData && !damageSkinData.hasUnitSkin)) { %>d-none<% } %>" id="unit-skin-section">
        <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-3">Unit Skin Info</h3>
        <div class="border border-dark rounded-sm px-3 pt-3 mb-5">
            <div class="form-group row">
                <label for="item-id" class="col-sm-3 col-form-label font-weight-bold">Unit Folder Number</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" id="unit-damage-skin-id" name="unitFolderNum" placeholder="Unit Folder Number" autocomplete="off" <% if(locals.damageSkinData) { %>value="<%= damageSkinData.unitFolderNum %>"<% } %>>
                    <small class="form-text text-info">Refers to folder number as seen in Effects.img &gt; DamageSkin</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="item-id" class="col-sm-3 col-form-label font-weight-bold">Unit Item ID</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" id="unit-item-id" name="unitItemId" placeholder="Unit Item ID" autocomplete="off" <% if(locals.damageSkinData) { %>value="<%= damageSkinData.unitItemId %>"<% } %>>
                    <small class="form-text text-info">Refers to 7-digit numerical ID attached to each item asset.</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="item-id" class="col-sm-3 col-form-label font-weight-bold">Available Units<br/>(Check all that apply)</label>
                <div class="col-12 col-sm-9 d-flex flex-wrap align-items-center">
                    <% skinProperties.unitTypes.forEach(function(unit) { %>
                        <div class="form-check col px-1 mb-1">
                            <input class="form-check-input" name="unitTypes" type="checkbox" id="unit-<%= unit.id %>" value="<%= unit.id %>" 
                                <% if((locals.damageSkinData && damageSkinData.digits.unitTypes.includes(unit.id)) || (!locals.damageSkinData && unit.id === "kr")) { %>checked<% } %>>
                            <label class="form-check-label single-checkbox col-12 px-2 position-absolute py-1 rounded-sm text-center cursor-pointer 
                                <% if((locals.damageSkinData && damageSkinData.digits.unitTypes.includes(unit.id)) || (!locals.damageSkinData && unit.id === "kr")) { %>active<% } %>" for="unit-<%= unit.id %>">
                                <%= unit.name %>
                            </label>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

    <div class="<% if(!locals.damageSkinData || (locals.damageSkinData && !damageSkinData.isCustomSkin)) { %>d-none<% } %>" id="custom-skin-section">
        <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-3">Custom Skin Info</h3>
        <div class="border border-dark rounded-sm px-3 pt-3 mb-5">
            <div class="form-group row">
                <label for="item-id" class="col-sm-3 col-form-label font-weight-bold">Number of Assets</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" id="num-assets-id" name="numAssetsToLoad" placeholder="Number of Assets" autocomplete="off" <% if(locals.damageSkinData) { %>value="<%= damageSkinData.numAssetsToLoad %>"<% } %>>
                </div>
            </div>
        </div>
    </div>

    <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-3">Screenshots Info</h3>
    <div class="border border-dark rounded-sm px-3 pt-3 mb-5">
        <div class="form-group row">
            <label for="item-id" class="col-sm-3 col-form-label font-weight-bold">Available Screenshot Types<br/>(Check all that apply)</label>
            <div class="col-12 col-sm-9 d-flex flex-wrap align-items-center">
                <div class="form-check col px-1 mb-1">
                    <input class="form-check-input" name="screenshotTypes" type="checkbox" id="screenshot-reg" value="reg" 
                        <% if(locals.damageSkinData && damageSkinData.screenshotTypes && damageSkinData.screenshotTypes.includes("reg")) { %>checked<% } %>>
                    <label class="form-check-label single-checkbox col-12 px-2 position-absolute py-1 rounded-sm text-center cursor-pointer 
                        <% if(locals.damageSkinData && damageSkinData.screenshotTypes && damageSkinData.screenshotTypes.includes("reg")) { %>active<% } %>"
                        id="screenshot-reg-label" for="screenshot-reg">
                        Regular
                    </label>
                </div>

                <% if(locals.damageSkinData && damageSkinData.hasUnitSkin) { %>
                    <% skinProperties.unitTypes.forEach(function(unit) { %>
                        <div class="form-check col px-1 mb-1">
                            <input class="form-check-input" name="screenshotTypes" type="checkbox" id="screenshot-<%= unit.id %>" value="unit-<%= unit.id %>" 
                                <% if(locals.damageSkinData && damageSkinData.screenshotTypes && damageSkinData.screenshotTypes.includes(`unit-${unit.id}`)) { %>checked<% } %>>
                            <label class="form-check-label single-checkbox col-12 px-2 position-absolute py-1 rounded-sm text-center cursor-pointer 
                                <% if(locals.damageSkinData && damageSkinData.screenshotTypes && damageSkinData.screenshotTypes.includes(`unit-${unit.id}`)) { %>active<% } %>" for="screenshot-<%= unit.id %>">
                                Unit - <%= unit.name %>
                            </label>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </div>
        <div class="form-group row">
            <label for="item-id" class="col-sm-3 col-form-label font-weight-bold">Screenshot credits</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="screenshot-credits" name="screenshotCredits" placeholder="E.g. whacky (EN unit skin)" autocomplete="off" <% if(locals.damageSkinData) { %>value="<%= damageSkinData.screenshotCredits %>"<% } %>>
            </div>
        </div>
    </div>

    <% if(locals.damageSkinData) { %>
        <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-1">Damage Skin Details - Critical Hits</h3>
        <p class="text-info">Leave blank if there are no shared assets within the entire respective subsection. If shared assets are present, for each digit, indicate the folder/digit that is shared (e.g. Cri1.0 = the digit shares assets with digit 0 in Cri1 folder). If digit is unique, enter a dash "-".</p>
        <div class="border border-dark rounded-sm px-3 pt-3 mb-5">
            <div class="form-group row">
                <div class="col-sm-3 font-weight-bold">Has Effect?</div>
                <div class="col-sm-9 d-flex flex-wrap h-100">
                    <div class="col-8 col-lg-8 radio-select-group d-flex justify-content-center px-0" id="has-effect-radio-group">
                        <div class="col form-check p-0">
                            <input class="form-check-input" type="radio" name="hasEffect" id="effect-yes" value="yes" <% if(damageSkinData.hasEffect) { %>checked<% } %>>
                            <label class="form-check-label radio-select has-effect-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 <% if(damageSkinData.hasEffect) { %>active<% } %>" for="effect-yes">Yes</label>
                        </div>
                        <div class="col form-check p-0">
                            <input class="form-check-input" type="radio" name="hasEffect" id="effect-no" value="" <% if(!damageSkinData.hasEffect) { %>checked<% } %>>
                            <label class="form-check-label radio-select has-effect-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 <% if(!damageSkinData.hasEffect) { %>active<% } %>" for="effect-no">No</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bold">Cri1 Assets</label>
                <div class="col-sm-9 d-flex flex-wrap">
                    <% for(let i = 0; i < 10; i++) { %>
                        <input type="text" class="col-6 col-sm-4 col-md-3 form-control text-center d-inline mb-1" name="cri1Assets" placeholder="digit-<%= i %>" pattern="^[a-zA-Z0-9.-]+$" autocomplete="off" <% if(damageSkinData.digits.critical.cri1Assets) { %>value="<%= damageSkinData.digits.critical.cri1Assets[i] %>"<% } %>>
                    <% }%>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3 font-weight-bold">Load Cri0 Assets?</div>
                <div class="col-sm-9 d-flex flex-wrap h-100">
                    <div class="col-8 col-lg-8 radio-select-group d-flex justify-content-center px-0" id="load-cri0-radio-group">
                        <div class="col form-check p-0">
                            <input class="form-check-input" type="radio" name="isLoadCri0" id="cri0-yes" value="yes" <% if(damageSkinData.digits.critical.isLoadCri0) { %>checked<% } %>>
                            <label class="form-check-label radio-select load-cri0-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 <% if(damageSkinData.digits.critical.isLoadCri0) { %>active<% } %>" for="cri0-yes">Yes</label>
                        </div>
                        <div class="col form-check p-0">
                            <input class="form-check-input" type="radio" name="isLoadCri0" id="cri0-no" value="" <% if(!damageSkinData.digits.critical.isLoadCri0) { %>checked<% } %>>
                            <label class="form-check-label radio-select load-cri0-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 <% if(!damageSkinData.digits.critical.isLoadCri0) { %>active<% } %>" for="cri0-no">No</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bold">Cri0 Assets</label>
                <div class="col-sm-9 d-flex flex-wrap">
                    <% for(let i = 0; i < 10; i++) { %>
                        <input type="text" class="col-6 col-sm-4 col-md-3 form-control text-center d-inline mb-1" name="cri0Assets" placeholder="digit-<%= i %>" pattern="^[a-zA-Z0-9.-]+$" autocomplete="off" <% if(damageSkinData.digits.critical.cri0Assets) { %>value="<%= damageSkinData.digits.critical.cri0Assets[i] %>"<% } %>>
                    <% }%>
                </div>
            </div>
        </div>

        <h3 class="w-100 font-subsubheader font-weight-bold font-italic mb-1">Damage Skin Details - Regular Hits</h3>
        <p class="text-info">Leave blank if there are no shared assets within the entire respective subsection. If shared assets are present, for each digit, indicate the folder/digit that is shared (e.g. Cri1.0 = the digit shares assets with digit 0 in Cri1 folder). If digit is unique, enter a dash "-".</p>
        <div class="border border-dark rounded-sm px-3 pt-3 mb-5">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bold">Red1 Assets</label>
                <div class="col-sm-9 d-flex flex-wrap">
                    <% for(let i = 0; i < 10; i++) { %>
                        <input type="text" class="col-6 col-sm-4 col-md-3 form-control text-center d-inline mb-1" name="red1Assets" placeholder="digit-<%= i %>" pattern="^[a-zA-Z0-9.-]+$" autocomplete="off" <% if(damageSkinData.digits.regular.red1Assets) { %>value="<%= damageSkinData.digits.regular.red1Assets[i] %>"<% } %>>
                    <% }%>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3 font-weight-bold">Load Red0 Assets?</div>
                <div class="col-sm-9 d-flex flex-wrap h-100">
                    <div class="col-8 col-lg-8 radio-select-group d-flex justify-content-center px-0" id="load-red0-radio-group">
                        <div class="col form-check p-0">
                            <input class="form-check-input" type="radio" name="isLoadRed0" id="red0-yes" value="yes" <% if(damageSkinData.digits.regular.isLoadRed0) { %>checked<% } %>>
                            <label class="form-check-label radio-select load-red0-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 <% if(damageSkinData.digits.regular.isLoadRed0) { %>active<% } %>" for="red0-yes">Yes</label>
                        </div>
                        <div class="col form-check p-0">
                            <input class="form-check-input" type="radio" name="isLoadRed0" id="red0-no" value="" <% if(!damageSkinData.digits.regular.isLoadRed0) { %>checked<% } %>>
                            <label class="form-check-label radio-select load-red0-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 <% if(!damageSkinData.digits.regular.isLoadRed0) { %>active<% } %>" for="red0-no">No</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bold">Red0 Assets</label>
                <div class="col-sm-9 d-flex flex-wrap">
                    <% for(let i = 0; i < 10; i++) { %>
                        <input type="text" class="col-6 col-sm-4 col-md-3 form-control text-center d-inline mb-1" name="red0Assets" placeholder="digit-<%= i %>" pattern="^[a-zA-Z0-9.-]+$" autocomplete="off" <% if(damageSkinData.digits.regular.red0Assets) { %>value="<%= damageSkinData.digits.regular.red0Assets[i] %>"<% } %>>
                    <% }%>
                </div>
            </div>
        </div>
    <% } %>

    <div class="form-group row">
        <div class="col-12">
            <button type="submit" class="w-100 btn btn-sm btn-outline-info"><% if(locals.damageSkinData) { %>Update<% } else { %>Add<% } %> Damage Skin Data</button>
        </div>
    </div>
</form>