<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<div class="container-fluid content d-flex flex-column flex-md-row p-0">
    <%- include("../partials/sidebar") %>
    <div class="main-content-div col px-0 position-relative">
        <div class="w-100 d-flex align-items-center flex-column px-4 pt-4">
            <div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
                <div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                    <h1 class="font-header w-100 text-center m-0 px-0">Tactical Relay</h1>
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                </div>

                <div class="w-100 mb-3">
                    <h2 class="font-subheader w-100 font-weight-bold text-underline mb-2">Page Information</h2>

                    <div class="font-content w-100 d-flex justify-content-center flex-column">
                        <div class="section-show-hide w-100 text-justify font-weight-bold mb-1" data-section="summary"><i class="far fa-plus-square"></i><i class="far fa-minus-square d-none"></i> Event Summary</div>
                        <ul class="relay-summary d-none">
                            <li class="mb-2">Each day, you have nine (9) missions to complete</li>
                            <li class="mb-2">Each character can complete only <span class="font-weight-bold">one mission a day</span></li>
                            <li claas="mb-2">Missions must be completed <span class="font-weight-bold">in sequence</span></li>
                            <li class="mb-2">Completing each mission gives 50 points</li>
                            <li class="mb-2">Each mission gives Level Bonus points (20 per mission) if you complete it on a character level 200 (and above)</li>
                            <li>Each mission gives Job Bonus points (10 per mission) for completing it using a specified class type (warrior / mage / archer / etc.)</li>
                        </ul>

                        <div class="section-show-hide w-100 text-justify font-weight-bold mb-1" data-section="strategies"><i class="far fa-plus-square"></i><i class="far fa-minus-square d-none"></i> Strategies</div>
                        <ul class="relay-strategies d-none">
                            <li class="mb-2">The final mission per day is to kill <span class="font-weight-bold">300 Arcane River monsters</span> -- you need at least one character that can access Arcane River.</li>
                            <li class="mb-2">Each day, four of the five class types will be repeated (e.g. Day 1 needs two pirates, warriors, mages and archers). The repeated classes will rotate daily.</li>
                            <li>To get a perfect score (10080 points), you need to complete every mission daily and obtain <span class="font-weight-bold">all possible bonus points</span>:</li>
                            <ul class="mb-2">
                                <li>Minimally ten (10) characters, at level 200 and above</li>
                                <li>Two of each class type - Warrior, Mages, Archers, Thieves, Pirates</li>
                            </ul>
                            <li>If you only want the Typhoon Growth Potion (7,000 points):</li>
                            <ul>
                                <li>Completing all missions at base points (50) gives you a total of 6,300 points in 14 days</li>
                                <li>You need to get 700 points through bonus points (either matching class type or level 200+ character)</li>
                            </ul>
                        </ul>

                        <div class="section-show-hide w-100 text-justify font-weight-bold mb-1" data-section="basic-inst"><i class="far fa-plus-square"></i><i class="far fa-minus-square d-none"></i> Instructions</div>
                        <ul class="relay-basic-inst d-none">
                            <li class="mb-2">Key in the event start date (defaults to MSEA's Tactical Relay start date, 18 March 2020)</li>
                            <li class="mb-2">Uncheck the checkbox if you are not aiming for Perfect Score.</li>
                            <li>For Perfect Score:</li>
                            <ul class="mb-2">
                                <li>Fill in at least ten (10) characters you wish to use below according to their class type</li>
                                <li>The first input for each class type should be a character <span class="font-weight-bold">level 200+</span></li>
                                <li>The second input for each class type should be <span class="font-weight-bold">a character that can access the Arcane River</span></li>
                            </ul>
                            <li>For Non-Perfect Score:</li>
                            <ul class="mb-2">
                                <li>Fill in all characters you intend to use in the relay below according to their class type</li>
                                <li>Click on the + button to add characters under each class type</li>
                                <li>Check the box inside the respective text inputs <span class="font-weight-bold">if the character is level 200 and above</span> (the calculator will assume it can also access the Arcane River)</li>
                            </ul>
                            <li class="mb-2">Click on Generate and the recommended characters to use per day will be displayed, along with its respective score breakdown.</li>
                            <li class="mb-2"><span class="font-weight-bold">IMPORTANT:</span> Data you have keyed into input boxes will not be saved unless you click the Generate button.</li>
                            <li>Click on Restart to erase all saved data and start from scratch.</li>
                        </ul>

                        <div class="section-show-hide w-100 text-justify font-weight-bold mb-1" data-section="adv-inst"><i class="far fa-plus-square"></i><i class="far fa-minus-square d-none"></i> Understanding Table Data</div>
                        <ul class="relay-adv-inst d-none mb-0"> 
                            <li class="mb-2">The top right corner of each cell displays the required class type icon.</li> 
                            <li class="mb-2">After table data is generated, the icon will light up if the selected class is matching and eligible for Job Bonus.</li>
                            <li class="mb-2">A separate icon will light up if the selected character is over 200 and eligible for Level Bonus.</li>
                        </ul>
                    </div>
                </div>

                <hr class="mt-0">

                <div class="w-100 mb-3">
                    <h2 class="font-subheader w-100 font-weight-bold text-underline mb-2">Settings</h2>

                    <form class="w-100">
                        <div class="relay-form-initial-inputs mb-4">
                            <div class="form-group row">
                                <label for="select-date" class="col-4 col-form-label text-left font-weight-bold">Event Start Date</label>
                                <div class="col-4 col-md-5 col-lg-6">
                                    <input type="date" class="form-control text-center" id="select-date" value="2020-03-18">
                                </div>
                            </div>
                            <div class="form-group form-check-inline">
                                <input type="checkbox" class="form-check-input" id="is-perfect-score" checked>
                                <label class="form-check-label" for="is-perfect-score">Aiming for Perfect Score?</label>
                            </div>
                            <div class="level-200-form-checkbox form-group form-check-inline d-none">
                                <input type="checkbox" class="form-check-input" id="all-level-200" checked>
                                <label class="form-check-label" for="all-level-200">All level 200+?</label>
                            </div>
                        </div>

                        <div class="w-100 row d-flex justify-content-center text-center p-0 m-0">
                            <div class="col single-class-type-list warrior-list d-flex flex-column text-center mb-3 px-2">
                                <p class="class-type w-100 d-flex justify-content-center align-items-center font-weight-bold mb-0 py-2"><img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/icon-warrior.png" class="mr-2"> Warriors</p>
                                <div class="input-list input-warrior-list w-100">
                                    <div class="position-relative">
                                        <input type="text" placeholder="Warrior 1 (Level 200+)" class="class-input font-table form-control w-100 rounded-sm text-center p-0 mb-1" id="input-warrior-1" data-class="warrior" data-num="1">
                                        <input type="checkbox" class="form-check-input over-200-checkbox d-none position-absolute" data-class="warrior" data-num="1" checked>
                                    </div>
                                    <div class="position-relative">
                                        <input type="text" placeholder="Warrior 2 (Arcane River)" class="class-input font-table form-control w-100 rounded-sm text-center p-0 mb-1" id="input-warrior-2" data-class="warrior" data-num="2">
                                        <input type="checkbox" class="form-check-input over-200-checkbox d-none position-absolute" data-class="warrior" data-num="2" checked>
                                    </div>
                                </div>
                                <button class="font-table add-character-btn btn btn-small btn-outline-secondary w-100 d-flex justify-content-center align-items-center font-weight-bold py-1" data-class="warrior"><i class="fas fa-plus"></i></button>
                            </div>
                            <div class="col single-class-type-list mage-list d-flex flex-column text-center mb-3 px-2">
                                <p class="class-type w-100 d-flex justify-content-center align-items-center font-weight-bold mb-0 py-2"><img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/icon-mage.png" class="mr-2"> Mages</p>
                                <div class="input-list input-mage-list w-100">
                                    <div class="position-relative">
                                        <input type="text" placeholder="Mage 1 (Level 200+)" class="class-input font-table form-control w-100 rounded-sm text-center p-0 mb-1" id="input-mage-1" data-class="mage" data-num="1">
                                        <input type="checkbox" class="form-check-input over-200-checkbox d-none position-absolute" data-class="mage" data-num="1" checked>
                                    </div>
                                    <div class="position-relative">
                                        <input type="text" placeholder="Mage 2 (Arcane River)" class="class-input font-table form-control w-100 rounded-sm text-center p-0 mb-1" id="input-mage-2" data-class="mage" data-num="2">
                                        <input type="checkbox" class="form-check-input over-200-checkbox d-none position-absolute" data-class="mage" data-num="2" checked>
                                    </div>
                                </div>
                                <button class="font-table add-character-btn btn btn-small btn-outline-secondary w-100 d-flex justify-content-center align-items-center font-weight-bold py-1" data-class="mage"><i class="fas fa-plus"></i></button>
                            </div>
                            <div class="col single-class-type-list archer-list d-flex flex-column text-center mb-3 px-2">
                                <p class="class-type w-100 d-flex justify-content-center align-items-center font-weight-bold mb-0 py-2"><img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/icon-archer.png" class="mr-2"> Archers</p>
                                <div class="input-list input-archer-list w-100">
                                    <div class="position-relative">
                                        <input type="text" placeholder="Archer 1 (Level 200+)" class="class-input font-table form-control w-100 rounded-sm text-center p-0 mb-1" id="input-archer-1" data-class="archer" data-num="1">
                                        <input type="checkbox" class="form-check-input over-200-checkbox d-none position-absolute" data-class="archer" data-num="1" checked>
                                    </div>
                                    <div class="position-relative">
                                        <input type="text" placeholder="Archer 2 (Arcane River)" class="class-input font-table form-control w-100 rounded-sm text-center p-0 mb-1" id="input-archer-2" data-class="archer" data-num="2">
                                        <input type="checkbox" class="form-check-input over-200-checkbox d-none position-absolute" data-class="archer" data-num="2" checked>
                                    </div>
                                </div>
                                <button class="font-table add-character-btn btn btn-small btn-outline-secondary w-100 d-flex justify-content-center align-items-center font-weight-bold py-1" data-class="archer"><i class="fas fa-plus"></i></button>
                            </div>
                            <div class="col single-class-type-list thief-list d-flex flex-column text-center mb-3 px-2">
                                <p class="class-type w-100 d-flex justify-content-center align-items-center font-weight-bold mb-0 py-2"><img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/icon-thief.png" class="mr-2"> Thieves</p>
                                <div class="input-list input-thief-list w-100">
                                    <div class="position-relative">
                                        <input type="text" placeholder="Thief 1 (Level 200+)" class="class-input font-table form-control w-100 rounded-sm text-center p-0 mb-1" id="input-thief-1" data-class="thief" data-num="1">
                                        <input type="checkbox" class="form-check-input over-200-checkbox d-none position-absolute" data-class="thief" data-num="1" checked>
                                    </div>
                                    <div class="position-relative">
                                        <input type="text" placeholder="Thief 2 (Arcane River)" class="class-input font-table form-control w-100 rounded-sm text-center p-0 mb-1" id="input-thief-2" data-class="thief" data-num="2">
                                        <input type="checkbox" class="form-check-input over-200-checkbox d-none position-absolute" data-class="thief" data-num="1" checked>
                                    </div>
                                </div>
                                <button class="font-table add-character-btn btn btn-small btn-outline-secondary w-100 d-flex justify-content-center align-items-center font-weight-bold py-1" data-class="thief"><i class="fas fa-plus"></i></button>
                            </div>
                            <div class="col single-class-type-list pirate-list d-flex flex-column text-center mb-3 px-2">
                                <p class="class-type w-100 d-flex justify-content-center align-items-center font-weight-bold mb-0 py-2"><img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/icon-pirate.png" class="mr-2"> Pirates</p>
                                <div class="input-list input-pirate-list w-100">
                                    <div class="position-relative">
                                        <input type="text" placeholder="Pirate 1 (Level 200+)" class="class-input font-table form-control w-100 rounded-sm text-center p-0 mb-1" id="input-pirate-1" data-class="pirate" data-num="1">
                                        <input type="checkbox" class="form-check-input over-200-checkbox d-none position-absolute" data-class="pirate" data-num="1" checked>
                                    </div>
                                    <div class="position-relative">
                                        <input type="text" placeholder="Pirate 2 (Arcane River)" class="class-input font-table form-control w-100 rounded-sm text-center p-0 mb-1" id="input-pirate-2" data-class="pirate" data-num="2">
                                        <input type="checkbox" class="form-check-input over-200-checkbox d-none position-absolute" data-class="pirate" data-num="2" checked>
                                    </div>
                                </div>
                                <button class="font-table add-character-btn btn btn-small btn-outline-secondary w-100 d-flex justify-content-center align-items-center font-weight-bold py-1" data-class="pirate"><i class="fas fa-plus"></i></button>
                            </div>
                            <div class="col single-class-type-list xenon-list d-flex flex-column text-center mb-3 px-2">
                                <p class="class-type w-100 d-flex justify-content-center align-items-center font-weight-bold mb-0 py-2"><img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/icon-xenon.png" class="mr-2"> Xenons</p>
                                <div class="input-list input-xenon-list w-100">
                                    <div class="position-relative">
                                        <input type="text" placeholder="Xenon 1 (Level 200+)" class="class-input font-table form-control w-100 rounded-sm text-center p-0 mb-1" id="input-xenon-1" data-class="xenon" data-num="1">
                                        <input type="checkbox" class="form-check-input over-200-checkbox d-none position-absolute" data-class="xenon" data-num="1" checked>
                                    </div>
                                    <div class="position-relative">
                                        <input type="text" placeholder="Xenon 2 (Arcane River)" class="class-input font-table form-control w-100 rounded-sm text-center p-0 mb-1" id="input-xenon-2" data-class="xenon" data-num="2">
                                        <input type="checkbox" class="form-check-input over-200-checkbox d-none position-absolute" data-class="xenon" data-num="2" checked>
                                    </div>
                                </div>
                                <button class="font-table add-character-btn btn btn-small btn-outline-secondary w-100 d-flex justify-content-center align-items-center font-weight-bold py-1" data-class="xenon"><i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="w-100 row d-flex justify-content-center flex-column align-items-center p-0 m-0">
                            <button class="generate-score-btn btn btn-small btn-outline-secondary font-weight-bold px-3 py-1 mb-2">Generate Relay Planner</button>
                            <button class="restart-btn btn btn-small btn-outline-danger font-weight-bold px-3 py-1">Restart</button>
                        </div>
                    </form>
                </div>

                <hr class="mt-0">

                <div class="w-100 mb-3">
                    <h2 class="font-subheader w-100 font-weight-bold text-underline mb-2">Tactical Relay Planning</h2>

                    <form class="w-100 d-none" id="planner-options">
                        <div class="relay-form-initial-inputs">
                            <div class="form-group form-check-inline">
                                <input type="checkbox" class="form-check-input" id="is-focus-current-day" checked>
                                <label class="form-check-label" for="is-focus-current-day">Focus on current day</label>
                            </div>
                        </div>
                    </form>

                    <table class="table table-bordered font-table">
                        <thead>
                            <tr>
                                <th scope="col" class="mission-desc align-middle" rowspan="2">Mission</th>
                                <th scope="col" class="text-center position-relative py-1" colspan="7">
                                    <div class="next-week week-1 cursor-pointer">Week 1 <i class="fas fa-angle-double-right"></i></div>
                                    <div class="prev-week week-2 cursor-pointer d-none"><i class="fas fa-angle-double-left"></i> Week 2</div>
                                </th>
                            </tr>
                            <tr class="date-range"></tr>
                        </thead>
                        <tbody>
                            <% missionList.forEach(function(mission, missionIndex) { %>
                            <tr>
                                <th scope="row" class="mission-desc"><%= mission %></th>
                                <% for(var i = missionIndex; i < 14 + missionIndex; i++) { %>
                                    <td class="class-type planned-characters text-center align-middle position-relative p-1 mission-<%= missionIndex+1 %> <% if(i < missionIndex+7) { %>week-1<% } else { %>week-2 d-none<% } %> day-<%= i+1 - missionIndex %> <%= classSelect[i % classSelect.length] %>-<% if(missionIndex >= 5) { %>2<% } else { %>1<% } %>" data-class="<%= classSelect[i % classSelect.length] %>">
                                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/icon-warrior.png" class="icon-class icon-warrior position-absolute <% if(classSelect[i % classSelect.length] !== 'warrior') { %>d-none<% } %>">
                                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/icon-mage.png" class="icon-class icon-mage position-absolute <% if(classSelect[i % classSelect.length] !== 'mage') { %>d-none<% } %>">
                                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/icon-archer.png" class="icon-class icon-archer position-absolute <% if(classSelect[i % classSelect.length] !== 'archer') { %>d-none<% } %>">
                                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/icon-thief.png" class="icon-class icon-thief icon-xenon position-absolute <% if(classSelect[i % classSelect.length] !== 'thief') { %>d-none<% } %>">
                                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/icon-pirate.png" class="icon-class icon-pirate icon-xenon position-absolute <% if(classSelect[i % classSelect.length] !== 'pirate') { %>d-none<% } %>">
                                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/icon-above-200.png" class="icon-over-200 position-absolute">
                                        <div class="recommended-char"></div>
                                    </td>
                                <% } %>
                            </tr>
                            <% }) %>
                            <tr>
                                <th scope="row" class="text-info">Mission Score</th>
                                <% for(var i = 0; i < 14; i++) { %>
                                    <td class="class-type text-center text-info align-middle p-1 <% if(i < 7) { %>week-1<% } else { %>week-2 d-none<% } %> day-<%= i+1 %> mission-score"></td>
                                <% } %>
                            </tr>
                            <tr>
                                <th scope="row" class="text-info">Job Bonus</th>
                                <% for(var i = 0; i < 14; i++) { %>
                                    <td class="class-type text-center text-info align-middle p-1 <% if(i < 7) { %>week-1<% } else { %>week-2 d-none<% } %> day-<%= i+1 %> job-score"></td>
                                <% } %>
                            </tr>
                            <tr>
                                <th scope="row" class="text-info">Level Bonus</th>
                                <% for(var i = 0; i < 14; i++) { %>
                                    <td class="class-type text-center text-info align-middle p-1 <% if(i < 7) { %>week-1<% } else { %>week-2 d-none<% } %> day-<%= i+1 %> level-score"></td>
                                <% } %>
                            </tr>
                            <tr>
                                <th scope="row" class="text-info">Total Score</th>
                                <% for(var i = 0; i < 14; i++) { %>
                                    <td class="class-type text-center text-info align-middle p-1 font-weight-bold <% if(i < 7) { %>week-1<% } else { %>week-2 d-none<% } %> day-<%= i+1 %> total-score"></td>
                                <% } %>
                            </tr>
                        </tbody>
                    </table>
                    <div class="font-header text-center">Grand Total: <span class="grand-total-score">0</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/scripts/more-maple/relayScript.js"></script>
<%- include("../partials/footer") %>