<div class="single-shop font-content w-100 <% if(index !== 0) { %>d-none<% } %> mb-4" id="coin-shop-<%= index %>">
    <div class="w-100 d-flex justify-content-center flex-wrap">
        <div class="size-900 w-100">
            <% if(shop.shopNotes) { %>
                <p class="w-100 font-table text-justify"><%= shop.shopNotes %></p>
            <% } %>

            <% if(shop.previewURL && shop.previewURL !== "") { %>
                <div class="d-flex justify-content-center mb-3">
                    <a href="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/coin-events/<%= coinEventData.eventId %>/<%= shop.previewURL %>.png" target="_blank" class="btn btn-sm btn-outline-info"><i class="fas fa-eye"></i> Preview Cosmetics <sup><i class="fas fa-external-link-alt"></i></sup></a>
                </div>
            <% } %>

            <table class="font-table w-100 table table-bordered table-hover mb-0">
                <thead>
                    <tr>
                        <th class="text-center text-sm-left align-middle py-2">Item / Notes</th>
                        <th class="align-middle d-table-cell d-sm-none text-center align-middle py-2">Price / Qty</th>
                        <th class="table-cols-50 d-none d-sm-table-cell text-center align-middle py-2">Price</th>
                        <th class="table-cols-50 d-none d-sm-table-cell text-center align-middle py-2">Quantity</th>
                        <th class="table-cols-75 text-center align-middle py-2">Buying</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(shop.items.length > 0) { %>
                        <% shop.items.forEach((item, itemIndex) => { %>
                            <% if(item.sectionHeader) { %>
                                <tr class="tr-section-header">
                                    <th colspan="5" class="font-subsubheader text-center py-1">
                                        <%= item.sectionHeader %>
                                    </th>
                                </tr>
                            <% } %>
                            <tr>
                                <td class="align-middle py-2 position-relative px-2">
                                    <div class="d-flex align-items-center text-center">
                                        <div class="d-flex justify-content-start align-items-center text-left">
                                            <% if(icons[`${item.iconId}`]) { %>
                                                <input type="hidden" name="itemName" id="shop-<%= index %>-item-<%= itemIndex %>-name" value="<%= icons[`${item.iconId}`].name %>">
                                                <img class="mr-0 mr-sm-2" src="<%= icons[`${item.iconId}`].imgUrl %>"> <%= icons[`${item.iconId}`].name %>
                                            <% } else { %>
                                                <input type="hidden" name="itemName" id="shop-<%= index %>-item-<%= itemIndex %>-name" value="Shop #<%= index %> Item [<%= item.iconId %>]">
                                                <%= item.iconId %>
                                            <% } %>

                                            <% if(item.itemNotes !== "") { %>
                                                <div class="d-inline ml-1" data-toggle="tooltip" data-placement="bottom" title="<%= item.itemNotes %>">
                                                    <i class="fas fa-info-circle"></i>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="tradability-display position-absolute">
                                        <% if(item.tradability === "untradable") { %>
                                            <input type="hidden" name="itemTradability" id="shop-<%= index %>-item-<%= itemIndex %>-tradability" value="x">
                                            <div class="d-inline ml-1 text-danger" data-toggle="tooltip" data-placement="bottom" title="Untradable">
                                                <i class="fas fa-ban"></i>
                                            </div>
                                        <% } else if(item.tradability === "inter-acct") { %>
                                            <input type="hidden" name="itemTradability" id="shop-<%= index %>-item-<%= itemIndex %>-tradability" value="i">
                                            <div class="d-inline ml-1" data-toggle="tooltip" data-placement="bottom" title="Inter-Account Transactions only">
                                                <i class="fas fa-exchange-alt"></i>
                                            </div>
                                        <% } else { %>
                                            <input type="hidden" name="itemTradability" id="shop-<%= index %>-item-<%= itemIndex %>-tradability" value="o">
                                            <div class="d-inline ml-1" data-toggle="tooltip" data-placement="bottom" title="Tradable">
                                                <i class="fas fa-exchange-alt"></i>
                                            </div>
                                        <% } %>
                                    </div>
                                </td>
                                <td class="table-cols-100 d-table-cell d-sm-none text-center align-middle py-2 px-2">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <input type="hidden" name="itemPrice" id="shop-<%= index %>-item-<%= itemIndex %>-price" value="<%= item.price %>">
                                        <input type="hidden" name="itemCoinType" id="shop-<%= index %>-item-<%= itemIndex %>-coinType" value="<%= item.coinType %>">
                                        <input type="hidden" name="itemCurrency" id="shop-<%= index %>-item-<%= itemIndex %>-currency" value="<%= icons[`${item.coinType}`].imgUrl.substring(0, icons[`${item.coinType}`].imgUrl.lastIndexOf(".")) + "-mini" + icons[`${item.coinType}`].imgUrl.substring(icons[`${item.coinType}`].imgUrl.lastIndexOf(".")) %>">
                                        <img class="mr-1" src="<%= icons[`${item.coinType}`].imgUrl.substring(0, icons[`${item.coinType}`].imgUrl.lastIndexOf(".")) + "-mini" + icons[`${item.coinType}`].imgUrl.substring(icons[`${item.coinType}`].imgUrl.lastIndexOf(".")) %>"> <%= item.price.toLocaleString('en-SG') %>
                                    </div>
                                    <% if(item.quantity > 0) { %>
                                        <%= item.quantity %>
                                        <% if(item.purchaseLimit === "character") { %>
                                            / character
                                        <% } else if(item.purchaseLimit === "world") { %>
                                            / world
                                        <% } %>

                                        <% if(item.timeframeLimit === "day") { %>
                                            / day
                                        <% } else if(item.timeframeLimit === "week") { %>
                                            / week
                                        <% } %>
                                    <% } else { %>
                                        Unlimited
                                    <% } %>
                                </td>
                                <td class="table-cols-50 d-none d-sm-table-cell text-center align-middle py-2 px-2">
                                    <div class="d-flex align-items-center justify-content-center">
                                        
                                        <img class="mr-1" src="<%= icons[`${item.coinType}`].imgUrl.substring(0, icons[`${item.coinType}`].imgUrl.lastIndexOf(".")) + "-mini" + icons[`${item.coinType}`].imgUrl.substring(icons[`${item.coinType}`].imgUrl.lastIndexOf(".")) %>"> <%= item.price.toLocaleString('en-SG') %>
                                    </div>
                                </td>
                                <td class="table-cols-50 d-none d-sm-table-cell text-center align-middle py-2 px-2">
                                    <% if(item.quantity > 0) { %>
                                        <%= item.quantity %>
                                        <% if(item.purchaseLimit === "character") { %>
                                            <br/>Per character
                                        <% } else if(item.purchaseLimit === "world") { %>
                                            <br/>Per world
                                        <% } %>

                                        <% if(item.timeframeLimit === "day") { %>
                                            <br/>Per day
                                        <% } else if(item.timeframeLimit === "week") { %>
                                            <br/>Per week
                                        <% } %>
                                    <% } else { %>
                                        Unlimited
                                    <% } %>
                                </td>
                                <td class="text-center align-middle py-2 px-2">
                                    <div class="d-flex flex-column align-items-center justify-content-center">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <div class="qty-minus-one d-flex align-items-center justify-content-center cursor-pointer" data-input-id="shop-<%= index %>-item-<%= itemIndex %>">
                                                <i class="fas fa-minus text-danger"></i>
                                            </div>
                                            <input type="number" class="buy-item-input form-control text-center px-2" name="itemBuyQty" data-shop-id="<%= index %>" data-item-id="<%= itemIndex %>" id="shop-<%= index %>-item-<%= itemIndex %>" value="">
                                            <div class="qty-plus-one d-flex align-items-center justify-content-center cursor-pointer" data-input-id="shop-<%= index %>-item-<%= itemIndex %>">
                                                <i class="fas fa-plus text-success"></i>
                                            </div>
                                        </div>
                                        <small>
                                            (Max: <span id="shop-<%= index %>-item-<%= itemIndex %>-max-qty"><% if(allItemMaxQty[`shop-${index}-item-${itemIndex}`] === -1) { %>N/A<% } else { %><%= allItemMaxQty[`shop-${index}-item-${itemIndex}`] %><% } %></span>)
                                        </small>
                                    </div>
                                </td>
                            </tr>
                        <% }) %>
                    <% } else { %>
                        <tr>
                            <td class="text-center" colspan="5">- No items to display currently -</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>