<div class="single-shop font-content w-100 <% if(index !== 0) { %>d-none<% } %> mb-4" id="coin-shop-<%= index %>">
    <div class="w-100 d-flex justify-content-center flex-wrap">
        <div class="size-900 w-100">
            <% if(shop.shopNotes) { %>
                <p class="w-100 font-table text-justify"><%= shop.shopNotes %></p>
            <% } %>

            <% if(shop.previewURL && shop.previewURL !== "") { %>
                <% shop.previewURL.split(", ").forEach((url, index) => { %>
                    <div class="d-flex justify-content-center mb-3">
                        <a href="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/coin-events/<%= coinEventData.eventId %>/<%= url %>" target="_blank" class="btn btn-sm btn-outline-custom d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                            </svg>&nbsp;Preview Cosmetics <% if(index > 0) { %>(<%= index+1 %>)<% } %>
                        </a>
                    </div>
                <% }) %>
            <% } %>

            <table class="font-table w-100 table table-bordered table-hover mb-0">
                <thead>
                    <tr>
                        <th class="text-center text-sm-left align-middle py-2">Item / Notes</th>
                        <th class="align-middle d-table-cell d-sm-none text-center align-middle py-2">Price / Qty</th>
                        <th class="table-cols-50 d-none d-sm-table-cell text-center align-middle py-2">Price</th>
                        <th class="table-cols-50 d-none d-sm-table-cell text-center align-middle py-2">Quantity</th>
                        <th class="table-cols-75 text-center align-middle py-2">Buying</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(shop.items.length > 0) { %>
                        <% shop.items.forEach((item, itemIndex) => { %>
                            <% if(item.sectionHeader) { %>
                                <tr class="tr-section-header single-item item-<%= item.tradability %>">
                                    <th colspan="5" class="font-subsubheader text-center py-1">
                                        <%= item.sectionHeader %>
                                    </th>
                                </tr>
                            <% } %>
                            <tr class="single-item item-<%= item.tradability %>">
                                <td class="align-middle py-2 position-relative px-2">
                                    <div class="d-flex align-items-center text-center">
                                        <div class="d-flex justify-content-start align-items-center text-left">
                                            <% if(icons[`${item.iconId}`]) { %>
                                                <input type="hidden" name="itemName" id="shop-<%= index %>-item-<%= itemIndex %>-name" value="<%= icons[`${item.iconId}`].name %>">
                                                <img class="mr-0 mr-sm-2" src="<%= icons[`${item.iconId}`].imgUrl %>"> <%= icons[`${item.iconId}`].name %>
                                            <% } else { %>
                                                <input type="hidden" name="itemName" id="shop-<%= index %>-item-<%= itemIndex %>-name" value="Shop #<%= index %> Item [<%= item.iconId %>]">
                                                <%= item.iconId %>
                                            <% } %>

                                            <% if(item.itemNotes !== "") { %>
                                                <div class="d-inline ml-1" data-toggle="tooltip" data-placement="bottom" title="<%= item.itemNotes %>">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                                      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                                    </svg>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="tradability-display position-absolute">
                                        <% if(item.tradability === "untradable") { %>
                                            <input type="hidden" name="itemTradability" id="shop-<%= index %>-item-<%= itemIndex %>-tradability" value="x">
                                            <div class="d-inline ml-1 text-danger" data-toggle="tooltip" data-placement="bottom" title="Untradable">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-slash-circle" viewBox="0 0 16 16">
                                                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                  <path d="M11.354 4.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708z"/>
                                                </svg>
                                            </div>
                                        <% } else if(item.tradability === "inter-acct") { %>
                                            <input type="hidden" name="itemTradability" id="shop-<%= index %>-item-<%= itemIndex %>-tradability" value="i">
                                            <div class="d-inline ml-1" data-toggle="tooltip" data-placement="bottom" title="Inter-Account Transactions only">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                                                  <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
                                                </svg>
                                            </div>
                                        <% } else { %>
                                            <input type="hidden" name="itemTradability" id="shop-<%= index %>-item-<%= itemIndex %>-tradability" value="o">
                                            <div class="d-inline ml-1" data-toggle="tooltip" data-placement="bottom" title="Tradable">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                                                  <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
                                                </svg>
                                            </div>
                                        <% } %>
                                    </div>
                                </td>
                                <td class="table-cols-100 d-table-cell d-sm-none text-center align-middle py-2 px-2">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <input type="hidden" name="itemPrice" id="shop-<%= index %>-item-<%= itemIndex %>-price" value="<%= item.price %>">
                                        <input type="hidden" name="itemCoinType" id="shop-<%= index %>-item-<%= itemIndex %>-coinType" value="<%= item.coinType %>">
                                        <input type="hidden" name="itemCurrency" id="shop-<%= index %>-item-<%= itemIndex %>-currency" value="<%= icons[`${item.coinType}`].imgUrl.substring(0, icons[`${item.coinType}`].imgUrl.lastIndexOf(".")) + "-mini" + icons[`${item.coinType}`].imgUrl.substring(icons[`${item.coinType}`].imgUrl.lastIndexOf(".")) %>">
                                        <img class="mr-1" src="<%= icons[`${item.coinType}`].imgUrl.substring(0, icons[`${item.coinType}`].imgUrl.lastIndexOf(".")) + "-mini" + icons[`${item.coinType}`].imgUrl.substring(icons[`${item.coinType}`].imgUrl.lastIndexOf(".")) %>"> <%= item.price.toLocaleString('en-SG') %>
                                    </div>
                                    <% if(item.quantity > 0) { %>
                                        <%= item.quantity %>
                                        <% if(item.purchaseLimit === "character") { %>
                                            / character
                                        <% } else if(item.purchaseLimit === "world") { %>
                                            / world
                                        <% } %>

                                        <% if(item.timeframeLimit === "day") { %>
                                            / day
                                        <% } else if(item.timeframeLimit === "week") { %>
                                            / week
                                        <% } %>
                                    <% } else { %>
                                        Unlimited
                                    <% } %>
                                </td>
                                <td class="table-cols-50 d-none d-sm-table-cell text-center align-middle py-2 px-2">
                                    <div class="d-flex align-items-center justify-content-center">
                                        
                                        <img class="mr-1" src="<%= icons[`${item.coinType}`].imgUrl.substring(0, icons[`${item.coinType}`].imgUrl.lastIndexOf(".")) + "-mini" + icons[`${item.coinType}`].imgUrl.substring(icons[`${item.coinType}`].imgUrl.lastIndexOf(".")) %>"> <%= item.price.toLocaleString('en-SG') %>
                                    </div>
                                </td>
                                <td class="table-cols-50 d-none d-sm-table-cell text-center align-middle py-2 px-2">
                                    <% if(item.quantity > 0) { %>
                                        <%= item.quantity %>
                                        <% if(item.purchaseLimit === "character") { %>
                                            <br/>Per character
                                        <% } else if(item.purchaseLimit === "world") { %>
                                            <br/>Per world
                                        <% } %>

                                        <% if(item.timeframeLimit === "day") { %>
                                            <br/>Per day
                                        <% } else if(item.timeframeLimit === "week") { %>
                                            <br/>Per week
                                        <% } %>
                                    <% } else { %>
                                        Unlimited
                                    <% } %>
                                </td>
                                <td class="text-center align-middle py-2 px-2">
                                    <div class="d-flex flex-column align-items-center justify-content-center">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <div class="qty-minus-one d-flex align-items-center justify-content-center cursor-pointer" data-input-id="shop-<%= index %>-item-<%= itemIndex %>">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                                  <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                                                </svg>
                                            </div>
                                            <input type="number" class="buy-item-input form-control text-center px-2" name="itemBuyQty" data-shop-id="<%= index %>" data-item-id="<%= itemIndex %>" id="shop-<%= index %>-item-<%= itemIndex %>" value="">
                                            <div class="qty-plus-one d-flex align-items-center justify-content-center cursor-pointer" data-input-id="shop-<%= index %>-item-<%= itemIndex %>">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="lawngreen" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                                  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                                                </svg>
                                            </div>
                                        </div>
                                        <small>
                                            (Max: <span id="shop-<%= index %>-item-<%= itemIndex %>-max-qty"><% if(allItemMaxQty[`shop-${index}-item-${itemIndex}`] === -1) { %>N/A<% } else { %><%= allItemMaxQty[`shop-${index}-item-${itemIndex}`] %><% } %></span>)
                                        </small>
                                    </div>
                                </td>
                            </tr>
                        <% }) %>
                    <% } else { %>
                        <tr>
                            <td class="text-center" colspan="5">- No items to display currently -</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>