<%- include("../../partials/header") %>
<%- include("../../partials/navbar") %>

<div class="container-fluid content d-flex flex-column flex-md-row p-0">
    <%- include("../../partials/sidebar") %>

    <div class="main-content-div col px-0 position-relative">
        <div class="w-100 d-flex align-items-center flex-column px-4 pt-4">
            <div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
                <div class="w-100 d-flex justify-content-center align-items-center position-relative mb-0">
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                    <h1 class="font-header w-100 text-center m-0 px-0">Coin Event Details - <span id="event-name"><%= coinEventData.eventDetails.name %></span></h1>
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                </div>

                <img class="coin-event-banner small mb-0" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/coin-events/<%= coinEventData.eventDetails.bannerImg %>">
                <small>
                    <%= coinEventData.eventDetails.startDate.toLocaleDateString('en-SG', {month: 'short', day: '2-digit', year: 'numeric' }) %> to 
                    <%= coinEventData.eventDetails.endDate.toLocaleDateString('en-SG', {month: 'short', day: '2-digit', year: 'numeric' }) %>
                </small>
                <small class="mb-2">
                    (<%= durationWeeks %> weeks / <%= durationWeeks * 7 %> days)
                </small>

                <div class="w-100 d-flex justify-content-start mb-5">
                    <a href="/maple/events/coin-events" class="btn btn-sm btn-outline-info px-3"><i class="fas fa-angle-double-left"></i> Back to Coin Events List</a>
                </div>

                <div class="w-100 mb-3">
                    <h2 class="font-subheader w-100 font-weight-bold text-underline mb-2">Instructions</h2>
                    <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                        <p class="w-100 text-justify">Click on Shopping Cart, Shop List or Coin Breakdown buttons to view respective details. You can save up to five profiles worth of shopping data. To save data to that profile, click on the save icon (bottom right). The active profile that data is saved to is displayed to the left of the icon. Click on the profile name to rotate between each profile.</p>
                    </div>
                </div>

                <div class="w-100">
                    <ul class="nav nav-pills d-flex justify-content-center" id="coinEventTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#cart" id="cart-pill" data-toggle="pill" role="tab">Shopping Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#shop-item-list" id="shop-item-list-pill" data-toggle="pill" role="tab">Coin Shop List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#coin-breakdown" id="coin-breakdown-pill" data-toggle="pill" role="tab">Coin Amounts Breakdown</a>
                        </li>
                    </ul>

                    <div class="w-100 py-3 tab-content d-flex justify-content-center" id="coinEventTabsContent">
                        <div class="w-100 tab-pane border-0 fade show active" id="cart" role="tabpanel" aria-labelledby="cart-tab">
                            <%- include("./shoppingCart") %>
                        </div>
                        <div class="w-100 tab-pane border-0 fade" id="shop-item-list" role="tabpanel" aria-labelledby="shop-item-list-tab">
                            <form class="w-100 mb-4 mb-lg-0">
                                <input type="hidden" value="<%= coinEventData.eventId %>" id="event-id">

                                <% coinEventData.shops.forEach((shop, index) => { %>
                                    <%- include("./coinShopItemList", { shop: shop, index: index }) %>
                                <% }) %>
                            </form>
                        </div>
                        <div class="w-100 tab-pane border-0 fade" id="coin-breakdown" role="tabpanel" aria-labelledby="coin-breakdown-tab">
                            <div class="d-flex justify-content-center">
                                <div class="size-900 w-100">
                                    <%- include("./coinSummary") %>
                                </div>
                            </div>
                            <%- include("../../admin/coin-events/coin/coinBreakdownDetails") %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="font-small position-fixed px-2 py-1 cursor-pointer rounded-lg text-center border-right-0" id="active-profile">
        <div class="single-profile-name active" id="profile-1-name" data-profile-num="0">Profile 1</div>
        <div class="single-profile-name d-none" id="profile-2-name" data-profile-num="1">Profile 2</div>
        <div class="single-profile-name d-none" id="profile-3-name" data-profile-num="2">Profile 3</div>
        <div class="single-profile-name d-none" id="profile-4-name" data-profile-num="3">Profile 4</div>
        <div class="single-profile-name d-none" id="profile-5-name" data-profile-num="4">Profile 5</div>
    </div>

    <div class="modal-btn-trigger position-fixed cursor-pointer d-flex justify-content-center align-items-center" id="btn-save">
        <i class="far fa-lg fa-save"></i>
    </div>
</div>

<script type="text/javascript" src="/scripts/commonScript.js"></script>
<script type="text/javascript" src="/scripts/more-maple/coinEventScript.js"></script>
<%- include("../../partials/footer") %>