<table class="font-table size-720 w-100 table table-bordered table-hover mb-4">
    <thead>
        <tr>
            <th class="text-center text-sm-left align-middle py-2">Currency</th>
            <th class="align-middle py-2">Currency Numbers</th>
            <% if(coinEventData.coinDetails.some(coin => coin.isUsedForRankUp)) { %>
                <th class="table-cols-75 text-center align-middle py-2">
                    Rank Up Costs
                </th>
            <% } %>
        </tr>
    </thead>
    <tbody>
        <% coinEventData.coinDetails.forEach(coin => { %>
            <tr>
                <td class="text-center text-sm-left align-middle py-2 position-relative">
                    <img class="mr-2" src="<%= icons[`${coin.iconId}`].imgUrl %>">
                    <br class="d-inline d-sm-none">
                    <%= icons[`${coin.iconId}`].name %>

                    <% if(coin.coinNotes && coin.coinNotes !== "") { %>
                        <div class="d-inline ml-1" data-toggle="tooltip" data-placement="bottom" title="<%= coin.coinNotes %>">
                            <i class="fas fa-info-circle"></i>
                        </div>
                    <% } %>
                </td>
                <td class="align-middle py-2">
                    <div class="d-flex flex-column align-items-start">
                        <p class="mb-0">
                            <span class="font-weight-bold">Max Possible Total:</span>
                            <% if(coin.mainSource.maxTotal === 0) { %>
                                <%= (coinGainsAndCosts[coin.iconId].mainSourceCoins + coinGainsAndCosts[coin.iconId].extraSourceCoins).toLocaleString('en-SG') %>
                            <% } else { %>
                                <%= coin.mainSource.maxTotal.toLocaleString('en-SG') %>
                            <% } %>
                        </p>

                        <% if(coin.extraSources.length > 0) { %>
                            <ul class="pl-4 mb-0">
                                <li>Main Source: <%= coinGainsAndCosts[coin.iconId].mainSourceCoins.toLocaleString('en-SG') %></li>

                                <% if(coinGainsAndCosts[coin.iconId].extraSourceCoins > 0) { %>
                                    <li>Extra Sources: <%= coinGainsAndCosts[coin.iconId].extraSourceCoins.toLocaleString('en-SG') %></li>
                                <% } %>
                            </ul>
                        <% } %>
                    </div>
                </td>
                <% if(coinEventData.coinDetails.some(coin => coin.isUsedForRankUp)) { %>
                    <td class="table-cols-75 text-center align-middle py-2">
                        <% if(coin.isUsedForRankUp) { %>
                            <%= coinGainsAndCosts[coin.iconId].rankCosts.toLocaleString('en-SG') %>
                        <% } else { %>
                            -
                        <% } %>
                    </td>
                <% } %>
            </tr>
        <% }) %>
        <% if(coinEventData.hasMesosShop) { %>
            <tr>
                <td class="table-cols-125 text-center text-sm-left align-middle py-2 position-relative">
                    <img class="mr-2" src="<%= icons['mesos'].imgUrl %>">
                    <br class="d-inline d-sm-none">
                    Mesos
                </td>
                <td class="align-middle py-2">
                    -
                </td>
                <% if(coinEventData.coinDetails.some(coin => coin.isUsedForRankUp)) { %>
                    <td class="text-center align-middle py-2" id="mesos-total-expense">
                        -
                    </td>
                <% } %>
            </tr>
        <% } %>
    </tbody>
</table>