<form class="w-100 px-3">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="size-350 w-100 form-group row d-flex align-items-center">
            <label class="col-5 font-weight-bold px-2 mb-0 text-left text-sm-center" for="profile-select">Select profile:</label>
            <select class="col-7 form-control px-2 py-0" id="profile-select">
                <% for(let i = 0; i < 10; i++) { %>
                    <option value="<%= i %>" id="option-profile-<%= i %>-name"></option>
                <% } %>
            </select>
        </div>
    </div>
</form>

<% for(let i = 0; i < 10; i++) { %>
    <div class="single-profile font-content w-100 <% if(i !== 0) { %>d-none<% } %>" id="profile-<%= i %>-cart">
        <div class="d-none flex-column align-items-center" id="profile-<%= i %>-shop-list">
            <div class="size-900 w-100 mb-4">
                <table class="font-table w-100 table table-bordered table-hover mb-0">
                    <thead>
                        <tr>
                            <th class="py-2">Item Name</th>
                            <th class="table-cols-50 text-center py-2">Qty</th>
                            <th class="table-cols-100 text-center py-2">Total Price</th>
                        </tr>
                    </thead>
                </table>

                <% coinEventData.shops.forEach((shop, shopIndex) => { %>
                    <div class="d-none profile-<%= i %>-single-shop" id="profile-<%= i %>-shop-<%= shopIndex %>">                            
                        <table class="font-table w-100 table table-bordered table-hover mb-0">
                            <thead>
                                <tr class="tr-section-header">
                                    <th class="font-subsubheader pt-3 pb-1" colspan="3"><%= shop.shopName %></th>
                                </tr>
                            </thead>
                            <tbody id="profile-<%= i %>-shop-<%= shopIndex %>-expenses"></tbody>
                        </table>
                    </div>
                <% }) %>

                <% if(coinEventData.coinDetails.some(coin => coin.isUsedForRankUp)) { %>
                    <div class="d-none profile-<%= i %>-single-shop" id="profile-<%= i %>-shop-rank-up">                            
                        <table class="font-table w-100 table table-bordered table-hover mb-0">
                            <thead>
                                <tr class="tr-section-header">
                                    <th class="font-subsubheader pt-3 pb-1" colspan="3">Rank Up Costs</th>
                                </tr>
                            </thead>
                            <tbody id="profile-<%= i %>-shop-rank-up-expenses"></tbody>
                        </table>
                    </div>
                <% } %>
            </div>

            <div class="size-350 w-100 form-group row">
                <button class="btn-load-profile w-100 btn btn-sm btn-outline-info" type="button" data-profile-num="<%= i %>">
                    <span class="load-default-msg">Load Profile to Item List</span>
                    <span class="load-success-msg d-none"><i class="fas fa-lg fa-check"></i> Loaded</span>
                </button>
            </div>
        </div>
        <p class="w-100 text-center" id="profile-<%= i %>-no-expense-msg">- No items added to this cart yet -</p>
    </div>
<% } %>