<%- include("../../partials/header") %>
<%- include("../../partials/navbar") %>

<div class="container-fluid content d-flex flex-column flex-md-row p-0">
    <%- include("../../partials/sidebar") %>
    <div class="main-content-div col p-0 position-relative">
        <div class="w-100 align-items-center flex-column px-4 pt-4" id="calculator">
            <div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
                <div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                    <h1 class="font-header w-100 text-center m-0 px-0">Everything EXP</h1>
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                </div>

                <div class="d-flex flex-column justify-content-center align-items-center text-info mb-0">
                    <div class="d-flex align-items-center">
                        <h2 class="font-subheader mb-0">Level</h2>
                        <input type="number" id="char-level" class="font-weight-bold text-info text-center border-0 py-0 mb-3 mx-3" value="250">
                        <button type="button" class="d-none btn btn-sm btn-outline-info" id="btn-update-level"><i class="fas fa-check"></i></button>
                    </div>
                </div>


                <ul class="nav nav-pills d-flex justify-content-center mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item mx-1">
                        <a class="nav-link active" id="pills-growth-pots-tab" data-toggle="pill" href="#pills-growth-pots" role="tab" aria-controls="pills-growth-pots" aria-selected="true">Growth Potions</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link" id="pills-exp-contents-tab" data-toggle="pill" href="#pills-exp-contents" role="tab" aria-controls="pills-exp-contents" aria-selected="false">EXP Contents</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link" id="pills-exp-mult-tab" data-toggle="pill" href="#pills-exp-mult" role="tab" aria-controls="pills-exp-mult" aria-selected="false">EXP Multipliers</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link" id="pills-monster-exp-tab" data-toggle="pill" href="#pills-monster-exp" role="tab" aria-controls="pills-monster-exp" aria-selected="false">Monster EXP</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link" id="pills-exp-table-tab" data-toggle="pill" href="#pills-exp-table" role="tab" aria-controls="pills-exp-table" aria-selected="false">EXP Table</a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link" id="pills-credits-tab" data-toggle="pill" href="#pills-credits" role="tab" aria-controls="pills-credits" aria-selected="false">Credits</a>
                    </li>
                </ul>
                <div class="w-100 tab-content" id="pills-tabContent">
                    <div class="tab-pane fade border-0 rounded-sm show active" id="pills-growth-pots" role="tabpanel" aria-labelledby="pills-growth-pots-tab">...</div>
                    <div class="tab-pane fade border-0 rounded-sm" id="pills-exp-contents" role="tabpanel" aria-labelledby="pills-exp-contents-tab">
                        <%- include("./exp-contents") %>
                    </div>
                    <div class="tab-pane fade border-0" id="pills-exp-mult" role="tabpanel" aria-labelledby="pills-exp-mult-tab">
                        
                    </div>
                    <div class="tab-pane fade border-0 rounded-sm" id="pills-monster-exp" role="tabpanel" aria-labelledby="pills-monster-exp-tab">...</div>
                    <div class="tab-pane fade border-0 rounded-sm" id="pills-exp-table" role="tabpanel" aria-labelledby="pills-exp-table-tab">
                        <%- include("./exp-tables") %>
                    </div>
                    <div class="tab-pane fade border-0" id="pills-credits" role="tabpanel" aria-labelledby="pills-credits-tab">
                        <%- include("./exp-stack-credits") %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/scripts/extras/expTableDetails.js"></script>
<script type="text/javascript" src="/scripts/extras/expStackingScript.js"></script>
<%- include("../../partials/footer") %>