<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<div class="container-fluid content d-flex flex-column flex-md-row p-0">
    <%- include("../partials/sidebar") %>
    <div class="main-content-div col px-0 position-relative">
        <div class="w-100 d-flex align-items-center flex-column px-4 pt-4">
            <div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
                <div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                    <h1 class="font-header w-100 text-center m-0 px-0">Tactical Relay (<%= version %>)</h1>
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                </div>
                <div class="mb-3">
                    <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/tactical-relay/relay-<%= version %>-mini.png">

                    <% if(version === "v3" || version === "v4") { %>
                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/tactical-relay/relay-<%= version %>-perf-mini.png">
                    <% } %>
                </div>
                <div class="w-100 d-flex justify-content-start mb-5">
                    <a href="/calc/tactical-relay" class="btn btn-sm btn-outline-custom px-3"><i class="fas fa-angle-double-left"></i> Back to Tactical Relay Index</a>
                </div>

                <div class="w-100 mb-3">
                    <h2 class="font-subheader w-100 font-weight-bold text-underline mb-2">Settings</h2>

                    <form class="w-100">
                        <div class="relay-form-initial-inputs mb-4">
                            <div class="form-group row">
                                <label for="select-date" class="col-5 col-sm-4 col-md-3 col-xl-2 col-form-label text-left font-weight-bold">Event Start Date</label>
                                <div class="col-6 col-md-5 col-lg-3">
                                    <input type="hidden" id="version" value="<%= version %>">
                                    <input type="date" class="form-control text-center" id="select-date" value="<%= event.startDate %>">
                                </div>
                            </div>
                        </div>

                        <div class="w-100 row d-flex justify-content-center text-center p-0 m-0">
                            <% classTypeList.forEach(classType => { %>
                                <div class="col-12 col-sm-6 col-md-4 <%= classType.id %>-list d-flex flex-column text-center mb-3 px-2">
                                    <p class="class-type w-100 d-flex justify-content-center align-items-center font-weight-bold mb-0 py-2"><img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/tactical-relay/icon-<%= classType.id %>.png" class="mr-2"> <%= classType.name %></p>
                                    <div class="input-list" id="input-<%= classType.id %>-list">
                                        <div class="col-12 d-flex position-relative px-0">
                                            <input type="text" placeholder="<%= classType.id.charAt(0).toUpperCase() + classType.id.slice(1) %> 1" class="col-9 class-input font-table form-control text-center p-0 mb-1" name="<%= classType.id %>Inputs" id="<%= classType.id %>-class-input-1" autocomplete="off">
                                            <input type="number" placeholder="Level" class="col-3 level-input font-table form-control text-center" name="<%= classType.id %>Levels" id="<%= classType.id %>-level-input-1" autocomplete="off">
                                        </div>
                                        <div class="col-12 d-flex position-relative px-0">
                                            <input type="text" placeholder="<%= classType.id.charAt(0).toUpperCase() + classType.id.slice(1) %> 2" class="col-9 class-input font-table form-control text-center p-0 mb-1" name="<%= classType.id %>Inputs" id="<%= classType.id %>-class-input-2" autocomplete="off">
                                            <input type="number" placeholder="Level" class="col-3 level-input font-table form-control text-center" name="<%= classType.id %>Levels" id="<%= classType.id %>-level-input-2" autocomplete="off">
                                        </div>
                                    </div>
                                    <button class="font-table add-character-btn btn btn-small btn-outline-secondary w-100 d-flex justify-content-center align-items-center font-weight-bold py-1" data-class-type="<%= classType.id %>">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M 7.5 2 h 2 v 5 h 5 v 2 h -5 v 5 h -2 v -5 h -5 v -2 h 5 v -5 Z"/>
                                        </svg>
                                    </button>
                                </div>
                            <% }) %>
                        </div>

                        <div class="w-100 row d-flex justify-content-center flex-column align-items-center p-0 m-0">
                            <button class="btn btn-small btn-outline-custom font-weight-bold px-3 py-1 mb-2" id="generate-planner-btn">Generate Relay Planner</button>
                            <button class="btn btn-small btn-outline-danger font-weight-bold px-3 py-1" id="restart-planner-btn">Restart</button>
                        </div>
                    </form>
                </div>

                <hr class="mt-0">

                <div class="w-100 mb-4 table-responsive-md">
                    <h2 class="font-subheader w-100 font-weight-bold text-underline mb-2">Tactical Relay Planning</h2>

                    <table class="table table-bordered font-table">
                        <thead>
                            <tr>
                                <th scope="col" class="mission-desc align-middle" rowspan="2">Mission</th>
                                <th scope="col" class="text-center position-relative py-1" colspan="7">
                                    <div class="next-week week-1 cursor-pointer">Week 1 <i class="fas fa-angle-double-right"></i></div>
                                    <div class="prev-week week-2 cursor-pointer d-none"><i class="fas fa-angle-double-left"></i> Week 2</div>
                                </th>
                            </tr>
                            <tr class="date-range">
                                <% for(let i = 1; i <= 14; i++) { %>
                                    <th class="single-date week-<% if(i <= 7) { %>1<% } else { %>2 d-none<% } %> day-<%= i %> text-center p-1">
                                        <%= new Date(Date.parse(event.startDate) + (i-1)*24*60*60*1000).toLocaleDateString('en-US', {month: "short", day: "numeric", timeZone: "Asia/Singapore"}) %>
                                    </th>
                                <% } %>
                            </tr>
                        </thead>
                        <tbody>
                            <% event.missionList.forEach(function(mission, missionIndex) { %>
                            <tr>
                                <th scope="row" class="mission-desc align-middle"><%= mission %></th>
                                <% for(var i = missionIndex; i < 14 + missionIndex; i++) { %>
                                    <td class="class-type planned-characters text-center align-middle position-relative p-1 day-<%= i+1 - missionIndex %> mission-<%= missionIndex+1 %>
                                        <% if(i < missionIndex+7) { %>week-1<% } else { %>week-2 d-none<% } %> 
                                        <%= rotation[i % rotation.length] %>-<% if(missionIndex >= 5) { %>2<% } else { %>1<% } %>" 
                                        data-class="<%= rotation[i % rotation.length] %>">
                                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/tactical-relay/icon-warrior.png" class="icon-class icon-warrior position-absolute <% if(rotation[i % rotation.length] !== 'warrior') { %>d-none<% } %>">
                                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/tactical-relay/icon-mage.png" class="icon-class icon-mage position-absolute <% if(rotation[i % rotation.length] !== 'mage') { %>d-none<% } %>">
                                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/tactical-relay/icon-archer.png" class="icon-class icon-archer position-absolute <% if(rotation[i % rotation.length] !== 'archer') { %>d-none<% } %>">
                                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/tactical-relay/icon-thief.png" class="icon-class icon-thief icon-xenon position-absolute <% if(rotation[i % rotation.length] !== 'thief') { %>d-none<% } %>">
                                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/tactical-relay/icon-pirate.png" class="icon-class icon-pirate icon-xenon position-absolute <% if(rotation[i % rotation.length] !== 'pirate') { %>d-none<% } %>">
                                        <% if(version === "v1" || version === "v2" || version === "v3") { %>
                                            <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/tactical-relay/icon-level-bonus.png" class="icon-level-bonus position-absolute d-none">
                                        <% } %>

                                        <% if(version === "v4") { %>
                                            <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/tactical-relay/icon-above-200.png" class="icon-over-200 position-absolute d-none">
                                            <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/tactical-relay/icon-above-220.png" class="icon-over-220 position-absolute d-none">
                                            <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/tactical-relay/icon-above-250.png" class="icon-over-250 position-absolute d-none">
                                        <% } %>
                                        <div class="recommended-char px-2 px-md-1 pt-3 py-sm-2"></div>
                                    </td>
                                <% } %>
                            </tr>
                            <% }) %>
                            <tr class="partition">
                                <td class="py-2" colspan="8"></td>
                            </tr>
                            <tr class="">
                                <th scope="row">Mission Score</th>
                                <% for(var i = 0; i < 14; i++) { %>
                                    <td class="class-type mission-score text-center align-middle p-1 <% if(i < 7) { %>week-1<% } else { %>week-2 d-none<% } %> day-<%= i+1 %>"></td>
                                <% } %>
                            </tr>
                            <tr class="">
                                <th scope="row">Job Bonus</th>
                                <% for(var i = 0; i < 14; i++) { %>
                                    <td class="class-type job-score text-center align-middle p-1 <% if(i < 7) { %>week-1<% } else { %>week-2 d-none<% } %> day-<%= i+1 %>"></td>
                                <% } %>
                            </tr>
                            <tr class="">
                                <th scope="row">Level Bonus</th>
                                <% for(var i = 0; i < 14; i++) { %>
                                    <td class="class-type level-score text-center align-middle p-1 <% if(i < 7) { %>week-1<% } else { %>week-2 d-none<% } %> day-<%= i+1 %>"></td>
                                <% } %>
                            </tr>
                            <tr class="<% if(version === "v1" || version === "v2") { %>d-none<% } %>">
                                <th scope="row">Intermediate Score</th>
                                <% for(var i = 0; i < 14; i++) { %>
                                    <td class="class-type intermediate-score text-center align-middle p-1 <% if(i < 7) { %>week-1<% } else { %>week-2 d-none<% } %> day-<%= i+1 %>"></td>
                                <% } %>
                            </tr>
                            <% if(version === "v3" || version === "v4") { %>
                            <tr>
                                <th scope="row">Booster?</th>
                                <% for(var i = 0; i < 14; i++) { %>
                                    <td class="class-type booster text-center align-middle p-1 <% if(i < 7) { %>week-1<% } else { %>week-2 d-none<% } %> day-<%= i+1 %>">
                                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/tactical-relay/booster-on.png" class="relay-booster d-none">
                                    </td>
                                <% } %>
                            </tr>
                            <% } %>
                            <tr>
                                <th scope="row">Total Score</th>
                                <% for(var i = 0; i < 14; i++) { %>
                                    <td class="class-type total-score text-center align-middle position-relative p-1 font-weight-bold <% if(i < 7) { %>week-1<% } else { %>week-2 d-none<% } %> day-<%= i+1 %>"></td>
                                <% } %>
                            </tr>
                        </tbody>
                    </table>
                    <div class="font-header text-center text-custom">Grand Total: <span class="grand-total-score">0</span></div>
                </div>

                <div class="w-100 mb-4 d-flex justify-content-center flex-wrap">
                    <img class="chair-preview-full img-fluid" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/tactical-relay/relay-<%= version %>.png">

                    <% if(version === "v3" || version === "v4") { %>
                        <img class="chair-preview-full img-fluid" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/tactical-relay/relay-<%= version %>-perf.png">
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/scripts/more-maple/relayScript.js"></script>
<%- include("../partials/footer") %>