<%- include("../partials/header") %>

<div class="container-fluid content d-flex flex-column flex-md-row p-0">
    <%- include("../partials/sidebar") %>
    <div class="main-content-div col px-0 position-relative">
        <div class="w-100 d-flex align-items-center flex-column px-4 pt-4">
            <div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
                <div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                    <h1 class="font-header w-100 text-center m-0 px-0">Tactical Relay</h1>
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                </div>

                <div class="w-100 d-flex flex-column align-items-center mb-3">
                    <p>Select which relay version you would like to view:</p>

                    <div class="d-flex justify-content-center align-items-start flex-wrap" id="relay-select">
                        <% versions.forEach(version => { %>
                            <a href="/calc/tactical-relay/<%= version %>" class="col-12 col-md-4 chair-preview-div stretched-link d-flex flex-column justify-content-start align-items-center cursor-pointer rounded-sm mb-2 py-3 mr-2">
                                <h2 class="font-subheader font-weight-bold">Version <%= version.split("v")[1] %></h2>
                                <img class="d-flex align-self-center chair-preview img-fluid" src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/event/tactical-relay/relay-<%= version %>.png">
                            </a>
                        <% }) %>
                    </div>
                </div>

                <!-- Horizontal -->
                <ins class="adsbygoogle ad-space horz-ad mb-3"
                     style="display:block"
                     data-ad-client="ca-pub-9569715514342803"
                     data-ad-slot="9935306861"
                     data-ad-format="auto"
                     data-full-width-responsive="true">
                     </ins>
                <script>
                    window.onload = function() {
                     (adsbygoogle = window.adsbygoogle || []).push({});
                    }
                </script>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>