<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column">
    <div class="w-100 d-flex flex-column justify-content-center px-3 py-3">
        <div class="exp-stack-section rounded-sm mb-5">
            <div class="exp-stack-section-subheader text-center py-1">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                     <img src="<%= icons['default-icon'].imgUrl %>" class="mr-2"> Upgrading Details
                </h2>
            </div>
            <div class="exp-stack-section-content font-form d-flex flex-wrap justify-content-center py-3">
                <form class="w-100 d-flex flex-column justify-content-start align-items-center px-3">
                    <% Object.keys(symbolData).forEach(symbolGroup => { %>
                        <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-2">
                             <%= symbolData[symbolGroup].name %>
                        </h2>

                        <div class="w-100 d-flex flex-wrap mb-4">
                            <% symbolData[symbolGroup].list.forEach(symbol => { %>
                                <div class="single-symbol-div col-12 col-sm-6 col-md-4 col-lg-6 col-xl-4 px-1 mb-2" data-symbol-group="<%= symbolGroup%>" data-symbol-id="<%= symbol.id %>">
                                    <div class="border rounded-lg py-2">
                                        <div class="d-flex justify-content-center align-items-center mb-3">
                                            <img src="<%= icons[`symbol-${symbol.id}`].imgUrl %>" alt="<%= icons[`symbol-${symbol.id}`].name %>" class="mr-1">
                                            <p class="font-weight-bold mb-0"><%= icons[`symbol-${symbol.id}`].name.split(": ")[1] %></p>
                                        </div>
                                        <div class="font-form d-flex flex-wrap">
                                            <div class="form-group col-6 text-center mb-2">
                                                <label for="<%= symbol.id %>-curr-level" class="col-form-label">Current Level</label>
                                                <select class="form-control text-center" id="<%= symbol.id %>-curr-level">
                                                    <% for(let i = 1; i <= symbolData[symbolGroup].maxLevel; i++) { %>
                                                        <option><%= i %></option>
                                                    <% } %>
                                                </select>
                                            </div>
                                            <div class="form-group col-6 text-center mb-2">
                                                <label for="<%= symbol.id %>-curr-symbol-count" class="col-form-label">Symbol Count</label>
                                                <input type="number" class="form-control text-center" id="<%= symbol.id %>-curr-symbol-count" value="0">
                                            </div>
                                            <div class="form-group col-12 d-flex flex-column align-items-center text-center mb-2">
                                                <label for="<%= symbol.id %>-end-level" class="col-form-label">Symbol gain per day</label>
                                                <input type="number" class="form-control col-6 text-center" id="<%= symbol.id %>-gain-per-day" value="<%= symbol.baseSymbolGain %>">
                                            </div>
                                            <div class="form-group col-6 text-center mb-2">
                                                <label for="<%= symbol.id %>-end-level" class="col-form-label">Target Level</label>
                                                <select class="form-control text-center px-0" id="<%= symbol.id %>-end-level">
                                                    <% for(let i = 1; i <= symbolData[symbolGroup].maxLevel; i++) { %>
                                                        <option <% if((symbolGroup === "arc" && i === 20) || (symbolGroup === "aut" && i === 11)) { %>selected<% } %>>
                                                            <%= i %>
                                                        </option>
                                                    <% } %>
                                                </select>
                                            </div>
                                            <div class="form-group col-6 text-center mb-2">
                                                <label for="<%= symbol.id %>-end-symbol-count" class="col-form-label">Symbol Count</label>
                                                <input type="number" class="form-control text-center" id="<%= symbol.id %>-end-symbol-count" value="0">
                                            </div>
                                            <div class="col-12 text-center mt-3">
                                                <span id="<%= symbol.id %>-total-meso-req">0</span> mesos<br/>
                                                <span id="<%= symbol.id %>-total-symbols-req">0</span> symbols<br/>
                                                <span id="<%= symbol.id %>-total-days-req">0</span> days
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    <% }) %>
                </form>
            </div>
        </div>
        <div class="exp-stack-section rounded-sm mb-5">
            <div class="exp-stack-section-subheader text-center py-1">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                     <img src="<%= icons['default-icon'].imgUrl %>" class="mr-2"> Arcane Symbol Catalyst
                </h2>
                <p class="mb-0 pb-2">
                    Transfer your symbol to another character (lose 20% of total symbol EXP)
                </p>
            </div>
            <div class="exp-stack-section-content font-form d-flex flex-wrap justify-content-center py-3">
                <div class="w-100 d-flex flex-column justify-content-start align-items-center px-3">
                    <div class="w-100 d-flex flex-column flex-sm-row mb-0">
                        <form class="col-12 col-sm-6 w-100 d-flex flex-column justify-content-center align-items-start px-0">
                            <div class="form-group row w-100 d-flex mb-2">
                                <label class="col-6 font-weight-bold col-form-label text-right">Start Level</label>
                                <input type="number" id="catalyst-start-symbol-level" class="form-control col-4 px-2" value="20">
                            </div>
                            <div class="form-group row w-100 d-flex mb-2">
                                <label class="col-6 font-weight-bold col-form-label text-right">EXP (Value)</label>
                                <input type="number" id="catalyst-start-symbol-exp-raw" class="col-4 form-control px-2" value="0">
                                <p class="font-small offset-6 text-custom mb-0">(<span id="max-possible-symbols-before">0</span> more symbols to max)</p>
                            </div>
                        </form>

                        <form class="col-12 col-sm-6 w-100 d-flex flex-column justify-content-center align-items-start text-custom px-0">
                            <div class="form-group row w-100 d-flex mb-2">
                                <label class="col-6 font-weight-bold col-form-label text-right">End Level</label>
                                <input type="number" id="catalyst-end-symbol-level" class="form-control-plaintext col-4 text-custom px-2" value="18" readonly>
                            </div>
                            <div class="form-group row w-100 d-flex mb-2">
                                <label class="col-6 font-weight-bold col-form-label text-right">EXP (Value)</label>
                                <input type="text" id="catalyst-end-symbol-exp-raw" class="col-6 form-control-plaintext text-custom px-2" value="172 / 335" readonly>
                                <p class="font-small offset-6 text-custom mb-0">(<span id="max-possible-symbols-after">535</span> more symbols to max)</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>