<nav class="sidebar sidebar-right font-sidebar col-xl-2 d-none d-xl-block position-sticky px-4 pt-4">
	<div class="mb-3">
		<h1 class="font-weight-bold">Bonus Stats / Flames</h1>
		<ul class="mb-2 pl-md-1 pl-lg-3">
			<div class="mb-4">
				<h2 class="list-style-type-none mb-1">
					<a class="sidebar-btn d-block py-1 text-decoration-none" href="./maple/calc/flames" target="_blank">&#8627; Calculator <sup><i class="fas fa-external-link-alt"></i></sup></a>
				</h2>
			</div>

			<div class="mb-4">
				<h2 class="list-style-type-none mb-1">
					<a class="sidebar-btn d-block py-1 text-decoration-none" href=".<%= url %>#info">&#8627; About Flames</a>
				</h2>
				<ul class="pl-3">
					<li class="list-style-type-none mb-0">
						<a href=".<%= url %>#info-intro" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Introduction</a>
					</li>
					<li class="list-style-type-none mb-0">
						<a href=".<%= url %>#info-item-types" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Item Types</a>
					</li>
					<li class="list-style-type-none mb-0">
						<a href=".<%= url %>#info-flame-types" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Flame Types</a>
					</li>
					<li class="list-style-type-none mb-0">
						<a href=".<%= url %>#info-crafting" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Crafting & Extraction</a>
					</li>
				</ul>
			</div>

			<div class="mb-4">
				<h2 class="list-style-type-none mb-1">
					<a class="sidebar-btn d-block py-1 text-decoration-none" href=".<%= url %>#credits">&#8627; Credits</a>
				</h2>
				<ul class="pl-3">
					<li class="list-style-type-none mb-0">
						<a href=".<%= url %>#credits-ack" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Acknowledgements</a>
					</li>
					<li class="list-style-type-none mb-0">
						<a href=".<%= url %>#credits-contact" class="sidebar-btn d-block py-1 text-decoration-none">&#8627; Contact</a>
					</li>
				</ul>
			</div>
		</ul>
	</div>
</nav>