<div class="single-search-row single-monster-row w-100 d-flex align-items-start align-items-md-center rounded-sm py-md-1 mb-4" id="row-<%= singleMonster.id %>" data-monster-id="<%= singleMonster.id %>"
    data-search-terms='["<%= singleMonster.name.toLowerCase() %>"<% if(singleMonster.isFusion) { %>, "<%= allMonsters.find(monster => monster.id === singleMonster.fuseMaterials[0]).name.toLowerCase() %>", "<%= allMonsters.find(monster => monster.id === singleMonster.fuseMaterials[1]).name.toLowerCase() %>"<% } %>]'
    data-related='["<%= singleMonster.id %>"<% if(singleMonster.isFusion) { %>, "<%= singleMonster.fuseMaterials[0] %>", "<%= singleMonster.fuseMaterials[1] %>"<% } %>]'>
    <div class="tool-display h-100 col-1 d-flex flex-column align-items-end justify-content-start justify-content-md-center px-0 px-md-3">
        <button class="single-action-btn related-btn btn btn-sm btn-outline-custom d-flex justify-content-center align-items-center mb-1 mb-md-0" data-related-search="<%= singleMonster.id %>">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
            </svg>
        </button>
        <button class="single-action-btn btn-farm-add btn btn-sm btn-outline-custom d-flex justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M 7.5 2 h 2 v 5 h 5 v 2 h -5 v 5 h -2 v -5 h -5 v -2 h 5 v -5 Z"/>
            </svg>
        </button>
        <button class="single-action-btn btn-farm-remove btn btn-sm btn-outline-danger d-none justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M 2 8 v -1 h 11 v 2 h -11 Z"/>
            </svg>
        </button>
    </div>

    <div class="monster-display w-100 font-table d-flex flex-column flex-md-row align-items-center justify-content-start mb-3 mb-md-0">
        <div class="<% if(singleMonster.type === "Special") { %>col px-0 px-md-3<% } else { %>col-12 col-md-8 px-0 px-md-3<% } %>">
            <div class="single-monster-container mlife-container monster-<%= singleMonster.id %> px-0 px-md-1 my-md-1 position-relative" data-mlife-name="<%= singleMonster.name %>" data-mlife-id="<%= singleMonster.id %>" data-mlife-type="monsters">
                <div class="single-monster mlife-container-div h-100 cursor-pointer d-flex flex-column align-items-center rounded-sm py-3">
                    <div class="w-100 d-flex align-items-start">
                        <div class="d-flex flex-column flex-grow-1 pl-3 mr-2">
                            <p class="monster-name mlife-container-header text-left font-weight-bold mb-0 mr-3"><%= singleMonster.name %></p>
                            <p class="mb-0"><%= singleMonster.effect %></p>
                        </div>
                        <div class="d-flex flex-column justify-self-center pr-2">
                            <p class="mb-0 text-muted text-right pr-2">(<%= singleMonster.type %> / <%= ["C", "B", "B+", "A", "A+", "S", "SS"][singleMonster.rank] %>)</p>
                        </div>
                    </div>
                </div>
                <div class="bookmark-selected d-none text-custom position-absolute">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                        <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                    </svg>
                </div>
            </div>
        </div>

        <% if(singleMonster.type === "Special") { %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right d-none d-md-inline" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-down d-inline d-md-none" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>

            <div class="col-12 col-md-6 px-0 px-md-3 d-flex align-items-center">
                <% if(singleMonster.isFusion) { %>
                    <div class="col single-monster-container mlife-container monster-<%= singleMonster.fuseMaterials[0] %> px-0 px-md-1 my-md-1 position-relative mr-2" 
                        data-mlife-name="<%= allMonsters.find(monster => monster.id === singleMonster.fuseMaterials[0]).name %>" data-mlife-id="<%= singleMonster.fuseMaterials[0] %>" data-mlife-type="monsters">
                        <div class="single-monster mlife-container-div h-100 cursor-pointer d-flex flex-column align-items-center rounded-sm py-3">
                            <div class="w-100 d-flex flex-column align-items-center px-3">
                                <p class="monster-name mlife-container-header text-center font-weight-bold mb-0"><%= allMonsters.find(monster => monster.id === singleMonster.fuseMaterials[0]).name %></p>
                                <p class="text-center text-muted mb-0">(<%= allMonsters.find(monster => monster.id === singleMonster.fuseMaterials[0]).type %> / <%= ["C", "B", "B+", "A", "A+", "S", "SS"][allMonsters.find(monster => monster.id === singleMonster.fuseMaterials[0]).rank] %>)</p>
                            </div>
                        </div>
                        <div class="bookmark-selected d-none text-custom position-absolute">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                                <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                            </svg>
                        </div>
                    </div>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M 7 2 h 2 v 5 h 5 v 2 h -5 v 5 h -2 v -5 h -5 v -2 h 5 v -5 Z"/>
                    </svg>

                    <div class="col single-monster-container mlife-container monster-<%= singleMonster.fuseMaterials[1] %> px-0 px-md-1 my-md-1 position-relative ml-2" 
                        data-mlife-name="<%= allMonsters.find(monster => monster.id === singleMonster.fuseMaterials[1]).name %>" data-mlife-id="<%= singleMonster.fuseMaterials[1] %>" data-mlife-type="monsters">
                        <div class="single-monster mlife-container-div h-100 cursor-pointer d-flex flex-column align-items-center rounded-sm py-3">
                            <div class="w-100 d-flex flex-column align-items-center px-3">
                                <p class="monster-name mlife-container-header text-center font-weight-bold mb-0"><%= allMonsters.find(monster => monster.id === singleMonster.fuseMaterials[1]).name %></p>
                                <p class="text-center text-muted mb-0">(<%= allMonsters.find(monster => monster.id === singleMonster.fuseMaterials[1]).type %> / <%= ["C", "B", "B+", "A", "A+", "S", "SS"][allMonsters.find(monster => monster.id === singleMonster.fuseMaterials[1]).rank] %>)</p>
                            </div>
                        </div>
                        <div class="bookmark-selected d-none text-custom position-absolute">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                                <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                            </svg>
                        </div>
                    </div>
                <% } else { %>
                    <div class="col d-flex justify-content-center align-items-center text-custom text-center my-1">
                        - Obtained from Monster Box -
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>
</div>