<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column">
    <div class="w-100 d-flex flex-column justify-content-center px-3 py-3">
        <div class="pill-section rounded-sm mb-5">
            <div class="pill-section-subheader text-center pb-2">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                    <img src="<%= icons['default-icon'].imgUrl %>" class="mr-2" width="35" height="35" alt="<%= icons['default-icon'].name %>"> Useful Monsters
                </h2>
                <p class="mb-0">
                    Only monsters involved in Special fusions appear below<br>Double click to add/remove bookmark on any monster
                </p>
            </div>
            <div class="pill-section-content font-form d-flex flex-column align-items-center pt-3 px-3">
                <p class="w-100 font-weight-bold mb-0">Notes:</p>
                <ul class="pl-4">
                    <li class="mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                        </svg>
                        =
                        View direct "ancestors" and all "descendants"; all monsters involved in combination related to this monster (and below) will be displayed
                    </li>
                    <li class="mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M 7.5 2 h 2 v 5 h 5 v 2 h -5 v 5 h -2 v -5 h -5 v -2 h 5 v -5 Z"/>
                        </svg>
                        =
                        "Add" to farm; highlights "added" monsters for easier tracking of the stats you want. Note: there's no limit here, but remember that the max you can have on your actual farm (not inside storage) is 28 monsters at any point of time!
                    </li>
                    <li>To view the full fusion paths for respective monsters, <a href="https://docs.google.com/spreadsheets/d/1xgoOQJqD_HiaudXmdorkVmTtQIDdBjWgjWY2vDdoMd0/edit#gid=1745777476" target="_blank">click here</a></li>
                </ul>

                <div class="w-100 d-flex flex-wrap justify-content-center align-items-center mb-2">
                    <span class="font-weight-bold mr-2">View:</span>
                    <button class="btn-single-view-monsters btn btn-sm btn-outline-custom d-flex align-items-center text-custom mx-1 active" data-view-type="all">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill mr-1" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                        </svg>
                        All
                    </button>
                    <button class="btn-single-view-monsters btn btn-sm btn-outline-custom d-flex align-items-center text-custom mx-1" data-view-type="added">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg mr-1" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M 7.5 2 h 2 v 5 h 5 v 2 h -5 v 5 h -2 v -5 h -5 v -2 h 5 v -5 Z"/>
                        </svg> 
                        Added to Farm (<span id="num-added-to-farm">0</span>)
                    </button>
                    <button class="btn-single-view-monsters btn btn-sm btn-outline-custom d-flex align-items-center text-custom mx-1" data-view-type="bookmarked">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill mr-1" viewBox="0 0 16 16">
                            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                        </svg>
                        Bookmarked (<span id="num-bookmarked-monsters">0</span>)
                    </button>
                </div>

                <div class="w-100 d-flex flex-wrap justify-content-center align-items-center mb-3">
                    <span class="font-weight-bold mr-2">Remove:</span>
                    <button class="btn-single-remove-monsters btn btn-sm btn-outline-danger d-flex align-items-center mx-1" data-remove-type="added">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg mr-1" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M 2 8 v -1 h 11 v 2 h -11 Z"/>
                        </svg>
                        All Added
                    </button>
                    <button class="btn-single-remove-monsters btn btn-sm btn-outline-danger d-flex align-items-center mx-1" data-remove-type="bookmarked">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-x-fill mr-1" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM6.854 5.146a.5.5 0 1 0-.708.708L7.293 7 6.146 8.146a.5.5 0 1 0 .708.708L8 7.707l1.146 1.147a.5.5 0 1 0 .708-.708L8.707 7l1.147-1.146a.5.5 0 0 0-.708-.708L8 6.293 6.854 5.146z"/>
                        </svg>
                        All Bookmarked
                    </button>
                </div>

                <form class="size-350 w-100 mb-4" id="search-useful-monsters-form">
                    <input type="text" list="useful-monster-list" class="form-control text-center" id="search-useful-monster" placeholder="Search monster name..." autocomplete="off">
                    <datalist id="useful-monster-list">
                        <% for(let monster of sortedListByName) { %>
                            <option value="<%= monster.name %>" data-id="<%= monster.id %>">
                        <% } %>
                    </datalist>
                </form>

                <div class="w-100 position-relative" id="useful-monsters">
                    <% for(let singleMonster of sortedListByEffect.filter(monster => monster.type === "Special")) { %>
                        <%- include("./mlife-monster-list", { singleMonster: singleMonster }) %>
                    <% } %>

                    <% for(let singleMonster of sortedListByEffect.filter(monster => monster.type !== "Special")) { %>
                        <%- include("./mlife-monster-list", { singleMonster: singleMonster }) %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>