<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column">
    <div class="w-100 d-flex flex-column justify-content-center px-3 py-3">
        <div class="pill-section rounded-sm mb-5">
            <div class="pill-section-subheader text-center pb-2">
                <h2 class="font-subsubheader font-weight-bold d-flex justify-content-center align-items-center py-1 mb-0">
                    <img src="<%= icons['default-icon'].imgUrl %>" class="mr-2" width="35" height="35" alt="<%= icons['default-icon'].name %>"> Useful Monsters
                </h2>
                <p class="mb-0">
                    Only monsters involved in Special fusions appear below<br>Double click to add/remove bookmark on any monster
                </p>
            </div>
            <div class="pill-section-content font-form d-flex flex-column align-items-center pt-3 px-3">
                <form class="size-350 w-100 mb-4" id="search-useful-monsters-form">
                    <input type="text" list="useful-monster-list" class="form-control text-center" id="search-useful-monster" placeholder="Enter monster name..." autocomplete="off">
                    <datalist id="useful-monster-list">
                        <% for(let monster of sortedListByName) { %>
                            <option value="<%= monster.name %>" data-id="<%= monster.id %>">
                        <% } %>
                    </datalist>
                </form>

                <div class="w-100 position-relative" id="useful-monsters">
                    <% for(let singleMonster of sortedListByEffect.filter(monster => monster.type === "Special")) { %>
                        <%- include("./mlife-monster-list", { singleMonster: singleMonster }) %>
                    <% } %>

                    <% for(let singleMonster of sortedListByEffect.filter(monster => monster.type !== "Special")) { %>
                        <%- include("./mlife-monster-list", { singleMonster: singleMonster }) %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>