<div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
    <div class="exp-stack-section-subheader w-100">
        <h3 class="font-subheader index-collapse cursor-pointer mb-0 px-3 py-2" id="step-4-collapsible" data-toggle="collapse" href="#step-4">
            <i class="fas fa-caret-down"></i> Step <% if(viewType === "Simplified") { %>2<% } else { %>4<% } %>: View Results
        </h3>
    </div>

    <div class="exp-stack-section w-100 px-0 collapse show" id="step-4">
        <div class="w-100 d-flex justify-content-start align-items-center">
            <div class="w-100 px-3 py-2">
                <p class="w-100 text-justify"><% if(viewType === "Detailed") { %>The sections below are split into General Contents (unaffected by EXP multipliers) and Hunting Contents (affected by EXP multipliers).<% } %> Click on 'EXP Amount' column to toggle between % EXP values and raw EXP values.</p>

                <div class="w-100 d-flex flex-column justify-content-center align-items-center">
                    <div class="size-720">
                        <p class="w-100 text-justify font-weight-bold mb-1">General Contents</p>
                        <table class="font-table size-720 table table-sm table-bordered table-hover mb-2">
                            <thead>
                                <tr>
                                    <th class="align-middle px-2">Content</th>
                                    <th class="text-center align-middle">Details</th>
                                    <th class="text-center align-middle position-relative cursor-pointer" id="view-exp-type-col">EXP Amount <span id="view-exp-type">(%)</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="step-4-col" id="monster-park-row" rowspan="<%= generalContentsEXP.monsterPark.length %>">
                                        <div class="d-flex align-items-center px-2">
                                            <img src="<%= icons['map-monster-park'].imgUrl %>" class="mr-2"> Monster Park
                                        </div>
                                    </th>
                                    <td class="step-4-col text-center align-middle"><%= generalContentsEXP.monsterPark[0].name %><br/>[Lv. <%= generalContentsEXP.monsterPark[0].recMinLevel %>~<%= generalContentsEXP.monsterPark[0].recMaxLevel %>]</td>
                                    <td class="table-cols-125">
                                        <div class="d-flex col-12 flex-column px-0">
                                            <div class="d-flex col-12 px-0">
                                                <div class="col-6 d-inline text-right px-1">Mon-Sat</div>
                                                <div class="col-6 d-inline px-2">
                                                    <span class="view-raw-exp d-none"><%= generalContentsEXP.monsterPark[0].rawEXP.toLocaleString() %> EXP</span>
                                                    <span class="view-percent-exp"><%= generalContentsEXP.monsterPark[0].percentEXP %>%</span>
                                                    <% if(generalContentsEXP.monsterPark[0].notes) { %>
                                                        <div class="d-inline" data-toggle="tooltip" data-placement="bottom" title="<%= generalContentsEXP.monsterPark[0].notes %>"><i class="fas fa-info-circle"></i></div>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <div class="d-flex col-12 px-0">
                                                <div class="col-6 d-inline text-right px-1">Sundays</div>
                                                <div class="col-6 d-inline px-2">
                                                    <span class="view-raw-exp d-none"><%= Math.round(generalContentsEXP.monsterPark[0].rawEXP * 1.5).toLocaleString() %> EXP</span>
                                                    <span class="view-percent-exp"><%= (generalContentsEXP.monsterPark[0].percentEXP * 1.5).toFixed(3) %>%</span>
                                                </div>
                                            </div>
                                            <div class="d-flex col-12 px-0">
                                                <div class="col-6 d-inline text-right px-1">Sunday Maple</div>
                                                <div class="col-6 d-inline px-2">
                                                    <span class="view-raw-exp d-none"><%= (generalContentsEXP.monsterPark[0].rawEXP * 2).toLocaleString() %> EXP</span>
                                                    <span class="view-percent-exp"><%= (generalContentsEXP.monsterPark[0].percentEXP * 2).toFixed(3) %>%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <% generalContentsEXP.monsterPark.forEach(function(content, index) { %>
                                    <% if(index > 0) { %>
                                    <tr>
                                        <td class="step-4-col text-center align-middle">
                                            <%= generalContentsEXP.monsterPark[index].name %><br/>[Lv. <%= generalContentsEXP.monsterPark[index].recMinLevel %>~<%= generalContentsEXP.monsterPark[index].recMaxLevel %>]
                                        </td>
                                        <td class="table-cols-125">
                                            <div class="d-flex col-12 flex-column px-0">
                                                <div class="d-flex col-12 px-0">
                                                    <div class="col-6 d-inline text-right px-1">Mon-Sat</div>
                                                    <div class="col-6 d-inline px-2">
                                                        <span class="view-raw-exp d-none"><%= generalContentsEXP.monsterPark[index].rawEXP.toLocaleString() %> EXP</span>
                                                        <span class="view-percent-exp"><%= generalContentsEXP.monsterPark[index].percentEXP %>%</span>
                                                        <% if(generalContentsEXP.monsterPark[index].notes) { %>
                                                            <div class="d-inline" data-toggle="tooltip" data-placement="bottom" title="<%= generalContentsEXP.monsterPark[index].notes %>"><i class="fas fa-info-circle"></i></div>
                                                        <% } %>
                                                    </div>
                                                </div>
                                                <div class="d-flex col-12 px-0">
                                                    <div class="col-6 d-inline text-right px-1">Sundays</div>
                                                    <div class="col-6 d-inline px-2">
                                                        <span class="view-raw-exp d-none"><%= Math.round(generalContentsEXP.monsterPark[index].rawEXP * 1.5).toLocaleString() %> EXP</span>
                                                        <span class="view-percent-exp"><%= (generalContentsEXP.monsterPark[index].percentEXP * 1.5).toFixed(3) %>%</span>
                                                    </div>
                                                </div>
                                                <div class="d-flex col-12 px-0">
                                                    <div class="col-6 d-inline text-right px-1">Sunday Maple</div>
                                                    <div class="col-6 d-inline px-2">
                                                        <span class="view-raw-exp d-none"><%= (generalContentsEXP.monsterPark[index].rawEXP * 2).toLocaleString() %> EXP</span>
                                                        <span class="view-percent-exp"><%= (generalContentsEXP.monsterPark[index].percentEXP * 2).toFixed(3) %>%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <% } %>
                                <% }) %>
                                <% if(charLevel >= 200) { %>
                                    <tr>
                                        <th colspan="3" class="empty-row py-2"></th>
                                    </tr>
                                    <tr>
                                        <th class="step-4-col" rowspan="5">
                                            <div class="d-flex align-items-center px-2">
                                                <img src="<%= icons['growth-potion'].imgUrl %>" class="mr-2">
                                                <span>EXP Growth Potion<sup class="text-danger">[!]</sup><sup class="text-info">[2]</sup></span>
                                            </div>
                                        </th>
                                        <td class="step-4-col text-center align-middle">Potion 1<br/>[Lv. 200~209]</td>
                                        <td class="text-center align-middle" id="exp-potion1">
                                            <span class="view-raw-exp d-none"><%= generalContentsEXP.expPotions.potion1.rawEXP.toLocaleString() %> EXP</span>
                                            <span class="view-percent-exp"><%= generalContentsEXP.expPotions.potion1.percentEXP %>%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="step-4-col text-center align-middle">Potion 2<br/>[Lv. 200~219]</td>
                                        <td class="text-center align-middle" id="exp-potion2">
                                            <span class="view-raw-exp d-none"><%= generalContentsEXP.expPotions.potion2.rawEXP.toLocaleString() %> EXP</span>
                                            <span class="view-percent-exp"><%= generalContentsEXP.expPotions.potion2.percentEXP %>%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="step-4-col text-center align-middle">Potion 3<br/>[Lv. 200~229]</td>
                                        <td class="text-center align-middle" id="exp-potion3">
                                            <span class="view-raw-exp d-none"><%= generalContentsEXP.expPotions.potion3.rawEXP.toLocaleString() %> EXP</span>
                                            <span class="view-percent-exp"><%= generalContentsEXP.expPotions.potion3.percentEXP %>%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="step-4-col text-center align-middle">Typhoon Growth Potion<br/>[Lv. 200~239]</td>
                                        <td class="text-center align-middle" id="exp-typhoon">
                                            <span class="view-raw-exp d-none"><%= generalContentsEXP.expPotions.typhoon.rawEXP.toLocaleString() %> EXP</span>
                                            <span class="view-percent-exp"><%= generalContentsEXP.expPotions.typhoon.percentEXP %>%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="step-4-col text-center align-middle">Maximum Growth Potion<br/>[Lv. 200~249]</td>
                                        <td class="text-center align-middle" id="exp-maximum">
                                            <span class="view-raw-exp d-none"><%= generalContentsEXP.expPotions.maximum.rawEXP.toLocaleString() %> EXP</span>
                                            <span class="view-percent-exp"><%= generalContentsEXP.expPotions.maximum.percentEXP %>%</span>
                                        </td>
                                    </tr>
                                <% } %>
                                <tr>
                                    <th colspan="3" class="empty-row py-2"></th>
                                </tr>
                                <tr>
                                    <th class="step-4-col">
                                        <div class="d-flex align-items-center px-2">
                                            <img src="<%= icons['map-dojo-center'].imgUrl %>" class="mr-2">
                                            <span>Dojo Training Center</span>
                                        </div>
                                    </th>
                                    <td class="step-4-col text-center align-middle px-2">
                                        -
                                    </td>
                                    <td class="align-middle">
                                        <div class="d-flex col-12 px-0">
                                            <div class="col-6 d-inline text-right px-1">EXP per tick</div>
                                            <div class="col-6 d-inline px-2">
                                                <span class="view-raw-exp d-none"><%= generalContentsEXP.dojo.per5sRaw.toLocaleString() %></span>
                                                <span class="view-percent-exp"><%= generalContentsEXP.dojo.per5sPercent %>%</span>
                                            </div>
                                        </div>
                                        <div class="d-flex col-12 px-0">
                                            <div class="col-6 d-inline text-right px-1">EXP per hour</div>
                                            <div class="col-6 d-inline px-2">
                                                <span class="view-raw-exp d-none"><%= generalContentsEXP.dojo.perHrRaw.toLocaleString() %></span>
                                                <span class="view-percent-exp"><%= generalContentsEXP.dojo.perHrPercent %>%</span>
                                            </div>
                                        </div>
                                        <div class="d-flex col-12 px-0">
                                            <div class="col-6 d-inline text-right px-1">Time to level once</div>
                                            <div class="col-6 d-inline px-2"><%= generalContentsEXP.dojo.toLevel %></div>
                                        </div>
                                        <% if(charLevel < 200) { %>
                                            <div class="d-flex col-12 px-0">
                                                <div class="col-6 d-inline text-right px-1">To reach level 200</div>
                                                <div class="col-6 d-inline px-2"><%= generalContentsEXP.dojo.to200 %></div>
                                            </div>
                                        <% } %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <% if(charLevel >= 200) { %>
                            <div class="font-footnote size-720 w-100 text-justify">
                                <p class="mb-3"><span class="text-danger font-weight-bold">[!]</span> EXP values displayed may be incorrect by approximately 1000 EXP.</p>

                                <p class="mb-3"><span class="text-info font-weight-bold">[2]</span> EXP Growth Potions are usable from level 200 onwards. You get the full EXP value (i.e. from 0% to 100%) if the potion is used within its designated level ranges. If used outside of the recommended level range, you get the highest level's EXP value that the potion recommends for. For example, for Typhoon Growth Potion, you get level 239's full EXP value if used from level 240 onwards.</p>
                            </div>
                        <% } %>

                        <% if(viewType === "Detailed") { %>
                            <hr>
                            <p class="w-100 text-justify font-weight-bold mb-1">Hunting Contents</p>
                            <table class="font-table size-720 table table-sm table-bordered table-hover mb-3">
                                <thead>
                                    <tr>
                                        <th class="text-center" colspan="6">Multiplier</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="mult-cols text-center align-middle">Cash shop coupons</th>
                                        <th class="mult-cols text-center align-middle">Use coupons<br/>(non-cash)</th>
                                        <th class="mult-cols text-center align-middle">Server Events</th>
                                        <th class="mult-cols text-center align-middle">Penance Ring</th>
                                        <th class="mult-cols text-center align-middle">Additive Buffs</th>
                                        <th class="mult-cols text-center align-middle">Total</th>
                                    </tr>
                                    <tr>
                                        <td class="mult-cols text-center align-middle" id="category-1-value">-</td>
                                        <td class="mult-cols text-center align-middle" id="category-2-value">-</td>
                                        <td class="mult-cols text-center align-middle" id="category-3-value">-</td>
                                        <td class="mult-cols text-center align-middle" id="category-4-value">-</td>
                                        <td class="mult-cols text-center align-middle" id="category-5-value">-</td>
                                        <td class="mult-cols text-center align-middle" id="total-value">-</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="font-table size-720 table table-sm table-bordered table-hover mt-2 mb-2 d-none" id="all-map-display">
                                <thead>
                                    <tr>
                                        <th class="text-left px-2">Map Name</th>
                                        <th class="text-left px-2">Monster(s)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="single-map-display map-display-1">
                                        <th class="text-left map-name-col px-2 py-2" id="map-name-1"></th>
                                        <td class="text-left px-2 py-2">
                                            <div class="col-12 d-flex flex-column px-0" id="monster-level-1"></div>
                                        </td>
                                    </tr>
                                    <tr class="single-map-display map-display-2">
                                        <th colspan="3" class="empty-row py-2"></th>
                                    </tr>
                                    <tr class="single-map-display map-display-2">
                                        <th class="text-left map-name-col px-2 py-2" id="map-name-2"></th>
                                        <td class="text-left px-2 py-2">
                                            <div class="col-12 d-flex flex-column px-0" id="monster-level-2"></div>
                                        </td>
                                    </tr>
                                    <tr class="single-map-display map-display-3">
                                        <th colspan="3" class="empty-row py-2"></th>
                                    </tr>
                                    <tr class="single-map-display map-display-3">
                                        <th class="text-left map-name-col px-2 py-2" id="map-name-3"></th>
                                        <td class="text-left px-2 py-2">
                                            <div class="col-12 d-flex flex-column px-0" id="monster-level-3"></div>
                                        </td>
                                    </tr>
                                    <tr class="single-map-display map-display-4">
                                        <th colspan="3" class="empty-row py-2"></th>
                                    </tr>
                                    <tr class="single-map-display map-display-4">
                                        <th class="text-left map-name-col px-2 py-2" id="map-name-4"></th>
                                        <td class="text-left px-2 py-2">
                                            <div class="col-12 d-flex flex-column px-0" id="monster-level-4"></div>
                                        </td>
                                    </tr>
                                    <tr class="single-map-display map-display-5">
                                        <th colspan="3" class="empty-row py-2"></th>
                                    </tr>
                                    <tr class="single-map-display map-display-5">
                                        <th class="text-left map-name-col px-2 py-2" id="map-name-5"></th>
                                        <td class="text-left px-2 py-2">
                                            <div class="col-12 d-flex flex-column px-0" id="monster-level-5"></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="font-footnote size-720 w-100 text-justify d-none" id="all-map-display-footnote">
                                <p class="mb-2"><span class="text-info font-weight-bold">[3]</span> Depending on your level difference to the monster, you get a bonus/penalty. As of NEO patch, the bonuses are: x1.2 Base EXP (+-1 level) / x1.1 Base EXP (+-4 levels) / x1.05 Base EXP (+-9 levels) / x1 Base EXP (+-10 levels). Beyond 10 levels, a penalty is applied.</p>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>