<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<div class="container-fluid content d-flex flex-column flex-md-row p-0">
    <%- include("../partials/sidebar") %>
    <div class="main-content-div col p-0 position-relative">
        <div class="w-100 d-flex align-items-center flex-column px-4 pt-4">
            <div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
                <div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                    <h1 class="font-header w-100 text-center m-0 px-0">Damage Skin Details</h1>
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                </div>
                <div class="w-100 mb-3">
                    <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                        <div class="w-100 mb-2">
                            <a href="<%= prevUrl %>" class="btn btn-sm btn-outline-primary font-weight-bold text-decoration-none">&laquo; Back to damage skin list</a>
                        </div>
                        <div class="mb-3">
                            <% if(allSkins.length > 1) { %>
                            <div class="font-table quick-jump-div rounded-sm px-2 py-1">
                                <p class="w-100 mb-1 font-weight-bold">Quick-jump:</p>
                                <% allSkins.forEach(function(skin, index) { %>
                                    <div class="single-quick-jump-square d-inline-flex mb-1">
                                        <a href=".<%= url %>#ds-table-<%= allSkins[index].damageSkinId %>">
                                            <% if(skin.hasUnitSkin) { %>
                                                <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.damageSkinId %>/<%= skin.unitDamageSkinId %>-unit.icon.png" class="mb-1 cursor-pointer" data-toggle="tooltip" data-placement="bottom" title="<%= allSkins[index].name %> (Unit)">
                                            <% } else { %>
                                                <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.damageSkinId %>/<%= skin.damageSkinId %>.icon.png" class="mb-1 cursor-pointer" data-toggle="tooltip" data-placement="bottom" title="<%= allSkins[index].name %>">
                                            <% } %>
                                        </a>
                                    </div>
                                    <% if(index+1 === 10) { %>
                                    <br/>
                                    <% } %>
                                <% }) %>
                            </div>
                            <% } %>
                        </div>

                        <% if(allSkins.length > 0) { %>
                            <% allSkins.forEach(function(skin) { %>
                                <table class="dmg-skin-table font-table size-720 table table-sm table-bordered table-hover mb-4" id="ds-table-<%= skin.damageSkinId %>">
                                    <thead>
                                        <tr class="table-rows">
                                            <th class="px-2" colspan="2">
                                                <div class="d-flex flex-column">
                                                    <% if(skin.hasRegularSkin) { %>
                                                        <div class="dmg-skin-header d-flex align-items-start mb-1">
                                                            <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.damageSkinId %>/<%= skin.damageSkinId %>.icon.png" class="mr-1">
                                                            <div class="d-flex flex-column">
                                                                <p class="mb-0"><%= skin.name %></p>
                                                                <% if(skin.altNames) { %>
                                                                    <% skin.altNames.forEach(function(altName) { %>
                                                                        <% if(altName.includes("Damage Skin")) { %>
                                                                            <p class="mb-0"><%= altName %></p>
                                                                        <% } else { %>
                                                                            <p class="mb-0">Damage Skin - <%= altName %></p>
                                                                        <% } %>
                                                                    <% }) %>
                                                                <% } %>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                    <% if(skin.hasUnitSkin) { %>
                                                    <div class="dmg-skin-header d-flex align-items-start">
                                                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.damageSkinId %>/<%= skin.unitDamageSkinId %>-unit.icon.png" class="mr-1">
                                                        <div>
                                                            <p class="mb-0"><%= skin.name %> (Unit)</p>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                                    <% if(skin.notes) { %>
                                                        <div class="dmg-skin-header d-flex align-items-start">
                                                            <p class="font-small font-weight-normal mb-0"><%= skin.notes %></p>
                                                        </div>
                                                    <% } %>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="font-small">
                                        <% if(skin.damageSkinId >= 0) { %>
                                            <tr>
                                                <th class="d-none d-md-table-cell align-middle text-center">Critical Hits /<br/>Combat Messages</th>
                                                <td>
                                                    <div class="d-flex flex-column">
                                                        <div class="d-flex justify-content-start">
                                                            <div class="mobile-th d-inline d-md-none font-weight-bold px-2 mb-2">Critical Hits / Combat Messages</div>
                                                        </div>

                                                        <% if(skin.hasCri1Nums) { %>
                                                            <div class="d-flex justify-content-around flex-wrap align-items-center">
                                                                <% for(let i = 0; i < 10; i++) { %>
                                                                    <% if(!skin.diffCri1Nums || (skin.diffCri1Nums && skin.diffCri1Nums[i] === "-")) { %>
                                                                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.damageSkinId %>/<%= skin.damageSkinId %>.NoCri1.<%= i %>.png">
                                                                    <% } %>
                                                                <% } %>                                                             
                                                            </div>
                                                        <% } %>

                                                        <% if(skin.hasCri0Nums) { %>
                                                            <div class="d-flex justify-content-around flex-wrap align-items-center">
                                                                <% if(skin.isCustomSkin) { %>
                                                                    <% for(let i = 0; i < skin.numAssetsToLoad; i++) { %>
                                                                    <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.damageSkinId %>/<%= skin.damageSkinId %>.NoCustom.NoCri0.<%= i %>.png">
                                                                    <% } %>
                                                                <% } else { %>
                                                                    <% for(let i = 0; i < 10; i++) { %>
                                                                        <% if(!skin.diffCri0Nums || (skin.diffCri0Nums && skin.diffCri0Nums[i] === "-")) { %>
                                                                            <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.damageSkinId %>/<%= skin.damageSkinId %>.NoCri0.<%= i %>.png">
                                                                        <% } %>
                                                                    <% } %>
                                                                <% } %>

                                                                <% if(skin.hasUnitSkin) { %>
                                                                    <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.damageSkinId %>/<%= skin.unitDamageSkinId %>.NoCustom.NoCri0.3.png">
                                                                    <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.damageSkinId %>/<%= skin.unitDamageSkinId %>.NoCustom.NoCri0.4.png">
                                                                <% } %>
                                                            </div>
                                                        <% } %>

                                                        <div class="d-flex justify-content-around flex-wrap align-items-center">
                                                            <% if(skin.hasEffect) { %>
                                                                <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.damageSkinId %>/<%= skin.damageSkinId %>.NoCri1.effect2.png">
                                                            <% } %>

                                                            <% if(skin.hasCounter) { %>
                                                                <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.damageSkinId %>/<%= skin.damageSkinId %>.NoRed0.counter.png">
                                                            <% } %>

                                                            <% if(skin.damageSkinId === 1344) { %>
                                                                <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.damageSkinId %>/<%= skin.damageSkinId %>.NoRed0.guard.png">
                                                            <% } else { %>
                                                                <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.damageSkinId %>/<%= skin.damageSkinId %>.NoRed0.guard.png">
                                                                <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.damageSkinId %>/<%= skin.damageSkinId %>.NoRed0.Miss.png">
                                                                <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.damageSkinId %>/<%= skin.damageSkinId %>.NoRed0.resist.png">
                                                            <% } %>

                                                            <% if(skin.hasShot) { %>
                                                                <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.damageSkinId %>/<%= skin.damageSkinId %>.NoRed0.shot.png">
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </td>
                                            <tr>
                                            <tr>
                                                <th class="d-none d-md-table-cell align-middle text-center">Regular Hits</th>
                                                <td>
                                                    <div class="d-flex flex-column">
                                                        <div class="d-flex justify-content-start">
                                                            <div class="mobile-th d-inline d-md-none font-weight-bold px-2 mb-2">Regular Hits</div>
                                                        </div>

                                                        <% if(skin.hasRed1Nums) { %>
                                                            <div class="d-flex justify-content-around flex-wrap align-items-center">
                                                                <% for(let i = 0; i < 10; i++) { %>
                                                                    <% if(!skin.diffRed1Nums || (skin.diffRed1Nums && skin.diffRed1Nums[i] === "-")) { %>
                                                                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.damageSkinId %>/<%= skin.damageSkinId %>.NoRed1.<%= i %>.png">
                                                                    <% } %>
                                                                <% } %>
                                                            </div>
                                                        <% } %>

                                                        <div class="d-flex justify-content-around flex-wrap align-items-center">
                                                            <% if(skin.isCustomSkin) { %>
                                                                <% for(let i = 0; i < skin.numAssetsToLoad; i++) { %>
                                                                <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.damageSkinId %>/<%= skin.damageSkinId %>.NoCustom.NoRed0.<%= i %>.png">
                                                                <% } %>
                                                            <% } else { %>
                                                                <% for(let i = 0; i < 10; i++) { %>
                                                                    <% if(!skin.diffRed0Nums || (skin.diffRed0Nums && skin.diffRed0Nums[i] === "-")) { %>
                                                                        <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.damageSkinId %>/<%= skin.damageSkinId %>.NoRed0.<%= i %>.png">
                                                                    <% } %>
                                                                <% } %>
                                                            <% } %>

                                                            <% if(skin.hasUnitSkin) { %>
                                                                <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.damageSkinId %>/<%= skin.unitDamageSkinId %>.NoCustom.NoRed0.3.png">
                                                                <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/damage-skins/<%= skin.damageSkinId %>/<%= skin.unitDamageSkinId %>.NoCustom.NoRed0.4.png">
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% } else { %>
                                            <tr>
                                                <th class="align-middle text-center" colspan="2">It's invisible. You see no numbers. Move along~</th>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            <% }) %>
                        <% } else { %>
                            The damage skin you selected does not exist, or no damage skins were selected for generation.
                        <% } %>

                        <!--<canvas id="canvas" width="500" height="55"></canvas>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script>
    const damageSkinId = 52;
    let skinArr = [];
    let xOffsets = [];
    let yOffsets = [];
    let numDrawing = 0;
    let effect;

    function init() {
        for(let i = 0; i < 10; i++) {
            skinArr[i] = new Image();
            let elem = document.getElementById(`skin-${damageSkinId}-${i}`);
            skinArr[i].src = elem.src;
            xOffsets[i] = elem.dataset.x;
            yOffsets[i] = elem.dataset.y;
        }
        effect = new Image();
        effect.src = document.getElementById(`skin-${damageSkinId}-effect`).src;

        window.requestAnimationFrame(draw);
    }
    
    function draw() {
        numDrawing++;

        if(numDrawing === 10) {
            const canvas = document.getElementById('canvas');
            const ctx = canvas.getContext('2d');

            ctx.clearRect(0, 0, 500, 90);

            let MAXIMUM_PIXEL_DOWNWARDS = 4;
            let prevNumAlignment = 0; // Determines number's alignment relative to leading digit. Anywhere between 0 to -4 pixels down.
            let maxAdjustment = 4; // Determines maximum possible pixel adjustment. Number is limited by previous number's alignment.
            let alignmentDirection = -1; // Direction of alignment relative to previous digit. -1 = downward, +1 = upward.

            ctx.drawImage(effect, 0, -2);

            for(let i = 0; i < 10; i++) {
                if(i === 0) {
                    ctx.drawImage(skinArr[i], 30 + i*35, 0);    
                } else {
                    // When moving DOWN, numbers are anywhere between 0 and -4 pixels down (relative to baseline)
                    // When moving UP, numbers are anywhere between previous digit's alignment and 0 (relative to baseline)
                    // Movement is compulsory between each digit 

                    // Generate number of pixels to move using previous alignment as maximum alignment data
                    let numPixelsToMove = Math.floor(Math.random() * maxAdjustment + 1);

                    // Determine actual number of pixels to move digit, based on alignment direction and previous number's alignment
                    let actualMovement = prevNumAlignment + alignmentDirection * numPixelsToMove;

                    // Draw image based on previous computed value
                    ctx.drawImage(skinArr[i], 30 + i*35, Math.abs(actualMovement));

                    // Record digit's alignment as previous alignment
                    prevNumAlignment = actualMovement;

                    // Flip direction of alignment for next digit
                    alignmentDirection *= -1;

                    // Assign maximum possible pixel adjustment
                    if(alignmentDirection > 0) {
                        maxAdjustment = Math.abs(actualMovement);
                    } else {
                        maxAdjustment = MAXIMUM_PIXEL_DOWNWARDS + actualMovement;   
                    }
                }
            }
        }

        if(numDrawing >= 10) {
            window.cancelAnimationFrame(draw);
        } else {
            window.requestAnimationFrame(draw);
        }
    }
    
    init();
</script>-->

<script type="text/javascript" src="./public/scripts/commonScript.js"></script>
<%- include("../partials/footer") %>