<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<div class="container-fluid content d-flex flex-column flex-md-row p-0">
    <%- include("../partials/sidebar") %>
    <div class="main-content-div col p-0 position-relative">
        <div class="w-100 align-items-center flex-column px-4 pt-4">
            <div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
                <div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                    <h1 class="font-header w-100 text-center m-0 px-0">List of Potentials</h1>
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                </div>
                <div class="w-100 mb-3">
                    <h2 class="font-subheader w-100 font-subheader text-underline mb-2">Instructions</h2>
                    <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                        <p class="w-100 text-justify">This info sheet contains the full list of possible potentials sorted by item part. To begin, select an item part in the Equip window.</p>
                        <div class="font-table w-100 mb-3">
                            <p class="text-justify mb-0">Notes:</p>
                            <p class="text-justify">- Only potential values above item level 100 (Emblem, Secondary Weapon, Heart) and level 120 (other item parts) are displayed below.</p>
                            <p class="text-justify">- Only <a href="https://maplestory.nexon.com/Guide/OtherProbability/cube/red" target="_blank">Red Cubes</a>, <a href="https://maplestory.nexon.com/Guide/OtherProbability/cube/black" target="_blank">Black Cubes</a>, and <a href="https://maplestory.nexon.com/Guide/OtherProbability/cube/addi" target="_blank">Additional Potential Cubes</a> data is available, as extracted from Nexon Korea's official website.</p>
                            <p class="text-justify">- Percentage chance may differ across servers; the values below are applicable to KMS.</p>
                        </div>

                        <div class="size-720 w-100 d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-around">
                            <div class="position-relative mb-4">
                                <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/equip-tab.png">
                                <div class="w-100 h-100 position-absolute" id="equip-grid">
                                    <a href="/maple/extras/potential-list?itemType=ring" class="equip-slot" id="ring-1-slot" data-item-part="ring"></a>
                                    <div class="equip-slot disabled" id="ring-2-slot"></div>
                                    <div class="equip-slot disabled" id="ring-3-slot"></div>
                                    <div class="equip-slot disabled" id="ring-4-slot"></div>
                                    <div class="equip-slot disabled" id="pocket-slot" data-item-part="pocket"></div>

                                    <div class="equip-slot disabled" id="pendant-2-slot"></div>
                                    <a href="/maple/extras/potential-list?itemType=pendant" class="equip-slot" id="pendant-1-slot" data-item-part="pendant"></a>
                                    <a href="/maple/extras/potential-list?itemType=weapon" class="equip-slot" id="weapon-slot" data-item-part="weapon"></a>
                                    <a href="/maple/extras/potential-list?itemType=belt" class="equip-slot" id="belt-slot" data-item-part="belt"></a>

                                    <a href="/maple/extras/potential-list?itemType=hat" class="equip-slot" id="hat-slot" data-item-part="hat"></a>
                                    <a href="/maple/extras/potential-list?itemType=face" class="equip-slot" id="face-slot" data-item-part="face"></a>
                                    <a href="/maple/extras/potential-list?itemType=eye" class="equip-slot" id="eye-slot" data-item-part="eye"></a>
                                    <a href="/maple/extras/potential-list?itemType=top" class="equip-slot" id="top-slot" data-item-part="top"></a>
                                    <a href="/maple/extras/potential-list?itemType=bottom" class="equip-slot" id="bottom-slot" data-item-part="bottom"></a>
                                    <a href="/maple/extras/potential-list?itemType=shoes" class="equip-slot" id="shoes-slot" data-item-part="shoes"></a>

                                    <a href="/maple/extras/potential-list?itemType=earrings" class="equip-slot" id="earring-slot" data-item-part="earrings"></a>
                                    <a href="/maple/extras/potential-list?itemType=shoulder" class="equip-slot" id="shoulder-slot" data-item-part="shoulder"></a>
                                    <a href="/maple/extras/potential-list?itemType=gloves" class="equip-slot" id="gloves-slot" data-item-part="gloves"></a>
                                    <div class="equip-slot disabled" id="android-slot"></div>

                                    <a href="/maple/extras/potential-list?itemType=emblem" class="equip-slot" id="emblem-slot" data-item-part="emblem"></a>
                                    <div class="equip-slot disabled" id="badge-slot"></div>
                                    <div class="equip-slot disabled" id="medal-slot"></div>
                                    <a href="/maple/extras/potential-list?itemType=secondary" class="equip-slot" id="secondary-slot" data-item-part="secondary"></a>
                                    <a href="/maple/extras/potential-list?itemType=cape" class="equip-slot" id="cape-slot" data-item-part="cape"></a>
                                    <a href="/maple/extras/potential-list?itemType=heart" class="equip-slot" id="heart-slot" data-item-part="heart"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% if(locals.potentialsByRank) { %>
                        <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                            <div class="pot-list-section-subheader w-100">
                                <h3 class="font-subheader index-collapse d-flex align-items-center cursor-pointer mb-0 px-3 py-2" data-toggle="collapse" href="#pot-summary">
                                    <i class="fas fa-caret-down mr-2"></i> Cube Summary
                                </h3>
                            </div>
                            <div class="pot-list-section w-100 px-0 collapse show" id="pot-summary">
                                <div class="w-100 d-flex justify-content-center flex-wrap px-3 pb-3 pt-3">
                                    <p class="w-100 text-justify mb-2">The table below displays the respective tier up rates for each cube:</p>
                                    <h2 class="font-subheader w-100 text-center mb-2">Tier-up Rates</h2>
                                    <table class="font-table size-720 table table-bordered table-hover mb-5">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th class="text-center"><div class="red-cube d-inline rounded-sm font-weight-bold px-1 mr-1">R</div> Red</th>
                                                <th class="text-center"><div class="black-cube d-inline rounded-sm font-weight-bold px-1 mr-1">B</div> Black</th>
                                                <th class="text-center"><div class="additional-cube d-inline rounded-sm font-weight-bold px-1 mr-1">O</div> Additional</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>Rare > Epic</th>
                                                <td class="text-center">6%</td>
                                                <td class="text-center">15%</td>
                                                <td class="text-center">4.7619%</td>
                                            </tr>
                                            <tr>
                                                <th>Epic > Unique</th>
                                                <td class="text-center">1.8%</td>
                                                <td class="text-center">3.5%</td>
                                                <td class="text-center">1.9608%</td>
                                            </tr>
                                            <tr>
                                                <th>Unique > Legandary</th>
                                                <td class="text-center">0.3%</td>
                                                <td class="text-center">1%</td>
                                                <td class="text-center">0.4975%</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <p class="w-100 text-justify mb-2">The tables below display the chance of getting X rank for each individual line if your item's potential rank is Y. For example, if your item is Legendary and you use a Red Cube:</p>
                                    <ul class="w-100">
                                        <li>Line 1 has 100% chance to be Legendary rank</li>
                                        <li>Line 2 has 10% chance to be Legendary rank, and 90% chance to be Unique rank</li>
                                        <li>Line 3 has 1% chance to be Legendary rank, and 99% chance to be Unique rank</li>
                                    </ul>

                                    <div class="w-100 d-flex align-items-center">
                                        <h2 class="font-subheader line-height-1-5 w-100 text-center mb-2"><div class="red-cube big-cube d-inline-flex align-items-center justify-content-center rounded-sm font-weight-bold mr-1">R</div> Red Cube Options Rates</h2>
                                    </div>
                                    <table class="font-table size-720 table table-bordered table-hover mb-4">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th class="text-center bg-rare" colspan="2">Rare</th>
                                                <th class="text-center bg-epic" colspan="2">Epic</th>
                                                <th class="text-center bg-unique" colspan="2">Unique</th>
                                                <th class="text-center bg-legendary" colspan="2">Legendary</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="align-middle text-center">Line 1</th>
                                                <td class="text-center">Rare</td>
                                                <td class="text-center">100%</td>
                                                <td class="text-center">Epic</td>
                                                <td class="text-center">100%</td>
                                                <td class="text-center">Unique</td>
                                                <td class="text-center">100%</td>
                                                <td class="text-center">Legendary</td>
                                                <td class="text-center">100%</td>
                                            </tr>
                                            <tr>
                                                <th class="align-middle text-center" rowspan="2">Line 2</th>
                                                <td class="text-center">Rare</td>
                                                <td class="text-center">10%</td>
                                                <td class="text-center">Epic</td>
                                                <td class="text-center">10%</td>
                                                <td class="text-center">Unique</td>
                                                <td class="text-center">10%</td>
                                                <td class="text-center">Legendary</td>
                                                <td class="text-center">10%</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">Normal</td>
                                                <td class="text-center">90%</td>
                                                <td class="text-center">Rare</td>
                                                <td class="text-center">90%</td>
                                                <td class="text-center">Epic</td>
                                                <td class="text-center">90%</td>
                                                <td class="text-center">Unique</td>
                                                <td class="text-center">90%</td>
                                            </tr>
                                            <tr>
                                                <th class="align-middle text-center" rowspan="2">Line 3</th>
                                                <td class="text-center">Rare</td>
                                                <td class="text-center">1%</td>
                                                <td class="text-center">Epic</td>
                                                <td class="text-center">1%</td>
                                                <td class="text-center">Unique</td>
                                                <td class="text-center">1%</td>
                                                <td class="text-center">Legendary</td>
                                                <td class="text-center">1%</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">Normal</td>
                                                <td class="text-center">99%</td>
                                                <td class="text-center">Rare</td>
                                                <td class="text-center">99%</td>
                                                <td class="text-center">Epic</td>
                                                <td class="text-center">99%</td>
                                                <td class="text-center">Unique</td>
                                                <td class="text-center">99%</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="w-100 d-flex align-items-center">
                                        <h2 class="font-subheader line-height-1-5 w-100 text-center mb-2"><div class="black-cube big-cube d-inline-flex align-items-center justify-content-center rounded-sm font-weight-bold mr-1">B</div> Black Cube Options Rates</h2>
                                    </div>
                                    <table class="font-table size-720 table table-bordered table-hover mb-4">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th class="text-center bg-rare" colspan="2">Rare</th>
                                                <th class="text-center bg-epic" colspan="2">Epic</th>
                                                <th class="text-center bg-unique" colspan="2">Unique</th>
                                                <th class="text-center bg-legendary" colspan="2">Legendary</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="align-middle text-center">Line 1</th>
                                                <td class="text-center">Rare</td>
                                                <td class="text-center">100%</td>
                                                <td class="text-center">Epic</td>
                                                <td class="text-center">100%</td>
                                                <td class="text-center">Unique</td>
                                                <td class="text-center">100%</td>
                                                <td class="text-center">Legendary</td>
                                                <td class="text-center">100%</td>
                                            </tr>
                                            <tr>
                                                <th class="align-middle text-center" rowspan="2">Line 2</th>
                                                <td class="text-center">Rare</td>
                                                <td class="text-center">20%</td>
                                                <td class="text-center">Epic</td>
                                                <td class="text-center">20%</td>
                                                <td class="text-center">Unique</td>
                                                <td class="text-center">20%</td>
                                                <td class="text-center">Legendary</td>
                                                <td class="text-center">20%</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">Normal</td>
                                                <td class="text-center">80%</td>
                                                <td class="text-center">Rare</td>
                                                <td class="text-center">80%</td>
                                                <td class="text-center">Epic</td>
                                                <td class="text-center">80%</td>
                                                <td class="text-center">Unique</td>
                                                <td class="text-center">80%</td>
                                            </tr>
                                            <tr>
                                                <th class="align-middle text-center" rowspan="2">Line 3</th>
                                                <td class="text-center">Rare</td>
                                                <td class="text-center">5%</td>
                                                <td class="text-center">Epic</td>
                                                <td class="text-center">5%</td>
                                                <td class="text-center">Unique</td>
                                                <td class="text-center">5%</td>
                                                <td class="text-center">Legendary</td>
                                                <td class="text-center">5%</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">Normal</td>
                                                <td class="text-center">95%</td>
                                                <td class="text-center">Rare</td>
                                                <td class="text-center">95%</td>
                                                <td class="text-center">Epic</td>
                                                <td class="text-center">95%</td>
                                                <td class="text-center">Unique</td>
                                                <td class="text-center">95%</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="w-100 d-flex align-items-center">
                                        <h2 class="font-subheader line-height-1-5 w-100 text-center mb-2"><div class="additional-cube big-cube d-inline-flex align-items-center justify-content-center rounded-sm font-weight-bold mr-1">R</div> Additional Cube Options Rates</h2>
                                    </div>
                                    <table class="font-table size-720 table table-bordered table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th class="text-center bg-rare" colspan="2">Rare</th>
                                                <th class="text-center bg-epic" colspan="2">Epic</th>
                                                <th class="text-center bg-unique" colspan="2">Unique</th>
                                                <th class="text-center bg-legendary" colspan="2">Legendary</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="align-middle text-center">Line 1</th>
                                                <td class="text-center">Rare</td>
                                                <td class="text-center">100%</td>
                                                <td class="text-center">Epic</td>
                                                <td class="text-center">100%</td>
                                                <td class="text-center">Unique</td>
                                                <td class="text-center">100%</td>
                                                <td class="text-center">Legendary</td>
                                                <td class="text-center">100%</td>
                                            </tr>
                                            <tr>
                                                <th class="align-middle text-center" rowspan="2">Line 2</th>
                                                <td class="text-center">Rare</td>
                                                <td class="text-center">1.9608%</td>
                                                <td class="text-center">Epic</td>
                                                <td class="text-center">4.7619%</td>
                                                <td class="text-center">Unique</td>
                                                <td class="text-center">1.9608%</td>
                                                <td class="text-center">Legendary</td>
                                                <td class="text-center">0.4975%</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">Normal</td>
                                                <td class="text-center">98.0392%</td>
                                                <td class="text-center">Rare</td>
                                                <td class="text-center">95.2381%</td>
                                                <td class="text-center">Epic</td>
                                                <td class="text-center">98.0392%</td>
                                                <td class="text-center">Unique</td>
                                                <td class="text-center">99.5025%</td>
                                            </tr>
                                            <tr>
                                                <th class="align-middle text-center" rowspan="2">Line 3</th>
                                                <td class="text-center">Rare</td>
                                                <td class="text-center">1.9608%</td>
                                                <td class="text-center">Epic</td>
                                                <td class="text-center">4.7619%</td>
                                                <td class="text-center">Unique</td>
                                                <td class="text-center">1.9608%</td>
                                                <td class="text-center">Legendary</td>
                                                <td class="text-center">0.4975%</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">Normal</td>
                                                <td class="text-center">98.0392%</td>
                                                <td class="text-center">Rare</td>
                                                <td class="text-center">95.2381%</td>
                                                <td class="text-center">Epic</td>
                                                <td class="text-center">98.0392%</td>
                                                <td class="text-center">Unique</td>
                                                <td class="text-center">99.5025%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                            <div class="pot-list-section-subheader w-100">
                                <h3 class="font-subheader index-collapse d-flex align-items-center cursor-pointer mb-0 px-3 py-2" data-toggle="collapse" href="#pot-reg">
                                    <i class="fas fa-caret-down mr-2"></i> <%= locals.selectedPartName %> Potentials
                                </h3>
                            </div>
                            <div class="pot-list-section w-100 px-0 collapse show" id="pot-reg">
                                <!--<p class="font-table px-3 mt-2 mb-2">The pool of possible lines for each potential tier is split into Primary/Secondary lines. For example, if your item is Legendary rank, it is possible to get STR +9% / STR +9% / STR +9%, meaning that your cube took all 3 lines from the Legendary (Secondary) pool.</p>
                                <p class="font-table px-3 mb-0"><i class="fas fa-cubes"></i> indicates that the potential line only appears when certain cubes are used - mouseover to see which cubes.</p>-->

                                <div id="rc-summary">
                                    
                                </div>

                                <div id="bc-summary">
                                    
                                </div>

                                <div class="w-100 d-flex justify-content-center flex-wrap px-3 pb-3">
                                    <% if(locals.potentialsByRank) { %>
                                        <% potentialsByRank.regular.forEach(function(potentialListDetails) { %>
                                            <div class="d-flex font-table col-12 justify-content-center mt-3 px-2">
                                                <table class="font-table size-720 table table-bordered table-hover mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th class="font-subsubheader text-center bg-<%= potentialListDetails.potRankName.toLowerCase() %> py-2" colspan="4">
                                                                <%= potentialListDetails.potRankName %>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th class="stat-type text-left py-2">Stat</th>
                                                            <th class="text-center py-2">Line 1 (%)</th>
                                                            <th class="text-center py-2">Line 2 (%)</th>
                                                            <th class="text-center py-2">Line 3 (%)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% potentialListDetails.potentials.forEach(function(potentialData) { %>
                                                            <tr>
                                                                <td class="stat-type align-middle">
                                                                    <%= potentialData.desc %>
                                                                    <% if(potentialData.notes) { %>
                                                                        <div class="d-inline ml-1" data-toggle="tooltip" data-placement="bottom" title="<%= potentialData.notes %>"><i class="fas fa-info-circle"></i></div>
                                                                    <% } %>
                                                                </td>
                                                                <td class="text-center align-middle">
                                                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                                                        <div class="rc-data">
                                                                            <% if(potentialData.rcPercentChance.line1 === 0) { %>
                                                                                -
                                                                            <% } else { %>                                                                            
                                                                                <div class="red-cube d-inline rounded-sm font-weight-bold px-1 mr-1">R</div>
                                                                                <span class="dp-2"><%= potentialData.rcPercentChance.line1.toFixed(2) %></span>
                                                                                <span class="dp-4 d-none"><%= potentialData.rcPercentChance.line1.toFixed(4) %></span>
                                                                            <% } %>
                                                                        </div>

                                                                        <div class="bc-data">
                                                                            <% if(potentialData.bcPercentChance.line1 === 0) { %>
                                                                                -
                                                                            <% } else { %>
                                                                                <div class="black-cube d-inline rounded-sm font-weight-bold px-1 mr-1">B</div>
                                                                                <span class="dp-2"><%= potentialData.bcPercentChance.line1.toFixed(2) %></span>
                                                                                <span class="dp-4 d-none"><%= potentialData.bcPercentChance.line1.toFixed(4) %></span>
                                                                            <% } %>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="text-center align-middle">
                                                                    <div class="rc-data">
                                                                        <div class="red-cube d-inline rounded-sm font-weight-bold px-1 mr-1">R</div>
                                                                        <span class="dp-2"><%= potentialData.rcPercentChance.line2.toFixed(2) %></span>
                                                                        <span class="dp-4 d-none"><%= potentialData.rcPercentChance.line2.toFixed(4) %></span>
                                                                    </div>
                                                                    <div class="bc-data">
                                                                        <div class="black-cube d-inline rounded-sm font-weight-bold px-1 mr-1">B</div>
                                                                        <span class="dp-2"><%= potentialData.bcPercentChance.line2.toFixed(2) %></span>
                                                                        <span class="dp-4 d-none"><%= potentialData.bcPercentChance.line2.toFixed(4) %></span>
                                                                    </div>
                                                                </td>
                                                                <td class="text-center align-middle">
                                                                    <div class="rc-data">
                                                                        <div class="red-cube d-inline rounded-sm font-weight-bold px-1 mr-1">R</div>
                                                                        <span class="dp-2"><%= potentialData.rcPercentChance.line3.toFixed(2) %></span>
                                                                        <span class="dp-4 d-none"><%= potentialData.rcPercentChance.line3.toFixed(4) %></span>
                                                                    </div>
                                                                    <div class="bc-data">
                                                                        <div class="black-cube d-inline rounded-sm font-weight-bold px-1 mr-1">B</div>
                                                                        <span class="dp-2"><%= potentialData.bcPercentChance.line3.toFixed(2) %></span>
                                                                        <span class="dp-4 d-none"><%= potentialData.bcPercentChance.line3.toFixed(4) %></span>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        <% }) %> 
                                                    </tbody>
                                                </table>
                                            </div>
                                        <% }) %>
                                    <% } %>
                                </div>
                            </div>
                        </div>

                        <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                            <div class="pot-list-section-subheader w-100">
                                <h3 class="font-subheader index-collapse d-flex align-items-center cursor-pointer mb-0 px-3 py-2" data-toggle="collapse" href="#pot-add">
                                    <i class="fas fa-caret-down mr-2"></i> <%= locals.selectedPartName %> Additional (Bonus) Potentials
                                </h3>
                            </div>
                            <div class="pot-list-section w-100 px-0 collapse show" id="pot-add">
                                <div class="w-100 d-flex justify-content-center flex-wrap px-3 pb-3">
                                    <% if(locals.potentialsByRank) { %>
                                        <% Object.keys(potentialsByRank.additional).forEach(function(rank) { %>
                                            <div class="d-flex font-table col-12 col-md-6 col-xl-4 mt-3 px-2">
                                                <table class="font-table table table-bordered table-hover mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center bg-<%= potentialsByRank.additional[rank].rankName %> py-2"><%= potentialsByRank.additional[rank].title %></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% potentialsByRank.additional[rank].list.forEach(function(potentialData) { %>
                                                            <tr>
                                                                <td class="align-middle py-2"><%= potentialData.desc %></td>
                                                                <% if(potentialsByRank.additional[rank].notes) { %>
                                                                    <div class="d-inline mx-1" data-toggle="tooltip" data-placement="bottom" title="<%= potentialsByRank.regular[rank].notes %>"><i class="fas fa-info-circle"></i></div>
                                                                <% } %>
                                                            </tr>
                                                        <% }) %> 
                                                    </tbody>
                                                </table>
                                            </div>
                                        <% }) %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/scripts/commonScript.js"></script>
<script type="text/javascript" src="/scripts/potentialListScript.js"></script>
<%- include("../partials/footer") %>