<%- include("../partials/header") %>

<div class="container-fluid content d-flex flex-column flex-md-row p-0">
    <%- include("../partials/sidebar") %>
    <div class="main-content-div col p-0 position-relative">
        <div class="w-100 align-items-center flex-column px-4 pt-4">
            <div class="w-100 d-flex justify-content-center align-items-center flex-column px-lg-4 pb-3">
                <div class="w-100 d-flex justify-content-center align-items-center position-relative mb-2">
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                    <h1 class="font-header w-100 text-center m-0 px-0">List of Potentials</h1>
                    <div class="w-100 flex-grow-1 border-top border-dark"></div>
                </div>
                <div class="w-100 mb-3">
                    <h2 class="font-subheader w-100 font-subheader text-underline mb-2">Instructions</h2>
                    <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                        <p class="w-100 text-justify">This info sheet contains the full list of possible potentials sorted by item part. To begin, select an item part in the Equip window.</p>
                        <div class="font-table w-100 mb-3">
                            <p class="text-justify mb-0">Notes:</p>
                            <p class="text-justify">- Only potential values above item level 100 (Emblem, Secondary Weapon, Heart) and level 120 (other item parts) are displayed below.</p>
                            <p class="text-justify">- Only <a href="https://maplestory.nexon.com/Guide/OtherProbability/cube/red" target="_blank">Red Cubes</a>, <a href="https://maplestory.nexon.com/Guide/OtherProbability/cube/black" target="_blank">Black Cubes</a>, and <a href="https://maplestory.nexon.com/Guide/OtherProbability/cube/addi" target="_blank">Additional Potential Cubes</a> data is available, as extracted from Nexon Korea's official website.</p>
                            <p class="text-justify">- Percentage chance may differ across servers; the values below are applicable to KMS.</p>
                        </div>

                        <div class="size-720 w-100 d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-around">
                            <div class="position-relative mb-4">
                                <img src="https://whacky-website.s3-ap-southeast-1.amazonaws.com/images/equips/equip-tab.png">
                                <div class="w-100 h-100 position-absolute" id="equip-grid">
                                    <a href="/info/potential-list?itemType=ring" class="equip-slot" id="ring-1-slot" data-item-part="ring"></a>
                                    <div class="equip-slot disabled" id="ring-2-slot"></div>
                                    <div class="equip-slot disabled" id="ring-3-slot"></div>
                                    <div class="equip-slot disabled" id="ring-4-slot"></div>
                                    <div class="equip-slot disabled" id="pocket-slot" data-item-part="pocket"></div>

                                    <div class="equip-slot disabled" id="pendant-2-slot"></div>
                                    <a href="/info/potential-list?itemType=pendant" class="equip-slot" id="pendant-1-slot" data-item-part="pendant"></a>
                                    <a href="/info/potential-list?itemType=weapon" class="equip-slot" id="weapon-slot" data-item-part="weapon"></a>
                                    <a href="/info/potential-list?itemType=belt" class="equip-slot" id="belt-slot" data-item-part="belt"></a>

                                    <a href="/info/potential-list?itemType=hat" class="equip-slot" id="hat-slot" data-item-part="hat"></a>
                                    <a href="/info/potential-list?itemType=face" class="equip-slot" id="face-slot" data-item-part="face"></a>
                                    <a href="/info/potential-list?itemType=eye" class="equip-slot" id="eye-slot" data-item-part="eye"></a>
                                    <a href="/info/potential-list?itemType=top" class="equip-slot" id="top-slot" data-item-part="top"></a>
                                    <a href="/info/potential-list?itemType=bottom" class="equip-slot" id="bottom-slot" data-item-part="bottom"></a>
                                    <a href="/info/potential-list?itemType=shoes" class="equip-slot" id="shoes-slot" data-item-part="shoes"></a>

                                    <a href="/info/potential-list?itemType=earrings" class="equip-slot" id="earring-slot" data-item-part="earrings"></a>
                                    <a href="/info/potential-list?itemType=shoulder" class="equip-slot" id="shoulder-slot" data-item-part="shoulder"></a>
                                    <a href="/info/potential-list?itemType=gloves" class="equip-slot" id="gloves-slot" data-item-part="gloves"></a>
                                    <div class="equip-slot disabled" id="android-slot"></div>

                                    <a href="/info/potential-list?itemType=emblem" class="equip-slot" id="emblem-slot" data-item-part="emblem"></a>
                                    <div class="equip-slot disabled" id="badge-slot"></div>
                                    <div class="equip-slot disabled" id="medal-slot"></div>
                                    <a href="/info/potential-list?itemType=secondary" class="equip-slot" id="secondary-slot" data-item-part="secondary"></a>
                                    <a href="/info/potential-list?itemType=cape" class="equip-slot" id="cape-slot" data-item-part="cape"></a>
                                    <a href="/info/potential-list?itemType=heart" class="equip-slot" id="heart-slot" data-item-part="heart"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% if(locals.potentialsByRank) { %>
                        <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                            <div class="collapsible-section-subheader w-100">
                                <h3 class="font-subheader index-collapse d-flex align-items-center cursor-pointer mb-0 px-3 py-2 collapsed" data-toggle="collapse" href="#pot-weights-guide">
                                    <i class="fas fa-caret-down mr-2"></i> How do weights correspond to percentages?
                                </h3>
                            </div>
                            <div class="collapsible-section w-100 px-0 collapse" id="pot-weights-guide">
                                <div class="w-100 d-flex justify-content-center flex-wrap px-3 pb-3 pt-3">
                                    <p class="w-100 text-justify">You may have noticed that each potential stat is assigned a 'weight' value. This value determines the percentage chance of getting that stat on a particular line. To illustrate the calculation, we will utilize Mechanical Hearts, Legendary grade as an example. We will work on regular potentials.</p>
                                    <p class="w-100 text-justify">
                                        <span class="text-info font-weight-bold">Step 1) Decide your goal stat value per line</span><br/>
                                        For this example, we will aim for <code>STR +12% / STR +9% / STR +9%</code>.
                                    </p>
                                    <p class="w-100 text-justify">
                                        <span class="text-info font-weight-bold">Step 2) Determine what 'ranks' your 3 desired lines are</span><br/>
                                        Under the 'Potentials - Mechanical Heart' table, for Legendary grade, STR +12% is under 'Prime Lines' and STR +9% is under 'Secondary Lines'. In short, <code>STR +12% / STR +9% / STR +9%</code> is equivalent to <code>Legendary / Unique / Unique</code> lines.
                                    </p>
                                    <p class="w-100 text-justify">
                                        <span class="text-info font-weight-bold">Step 3) Note down the weights for your respective lines and total weights</span><br/>
                                        <code>STR +12% / STR +9% / STR +9%</code> has a weight of <code>4 / 5 / 5</code>. Prime and Secondary Lines have separate total weights. In our case, the total weights we'll use is <code>31 / 44 / 44</code> to correspond to the <code>Primary / Secondary / Secondary</code> line we are aiming for.
                                    </p>
                                    <p class="w-100 text-justify">
                                        <span class="text-info font-weight-bold">Step 4) Decide what cube you wish to use, and its respective line rates</span><br/>
                                        For this example, we will use Red Cubes. Under the 'Cube Summary' section, the chance to get <code>Legendary / Unique / Unique</code> for the respective lines is <code>100% / 90% / 99%</code> respectively.
                                    </p>
                                    <p class="w-100 text-justify mb-2">
                                        <span class="text-info font-weight-bold">Step 5) Calculate the percentage chance of acquiring each line</span><br/>
                                        The formula is <code>lineRate * lineWeight / totalWeight</code>. This is thus broken down into:
                                    </p>
                                    <ul class="w-100 mb-0">
                                        <li>Line 1: <code>100 * 4 / 31 = 12.9032%</code></li>
                                        <li>Line 2: <code>90 * 5 / 44 = 10.2273%</code></li>
                                        <li>Line 3: <code>99 * 5 / 44 = 11.2500%</code></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                            <div class="collapsible-section-subheader w-100">
                                <h3 class="font-subheader index-collapse d-flex align-items-center cursor-pointer mb-0 px-3 py-2 collapsed" data-toggle="collapse" href="#pot-summary">
                                    <i class="fas fa-caret-down mr-2"></i> Cube Summary
                                </h3>
                            </div>
                            <div class="collapsible-section w-100 px-0 collapse" id="pot-summary">
                                <div class="w-100 d-flex justify-content-center flex-wrap px-3 pb-3 pt-3">
                                    <p class="w-100 text-justify mb-2">The table below displays the respective tier up rates for each cube:</p>
                                    <h2 class="font-subheader w-100 text-center mb-2">Tier-up Rates</h2>
                                    <table class="font-table size-720 table table-bordered table-hover mb-5">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th class="text-center"><div class="red-cube d-inline rounded-sm font-weight-bold px-1 mr-1">R</div> Red</th>
                                                <th class="text-center"><div class="black-cube d-inline rounded-sm font-weight-bold px-1 mr-1">B</div> Black</th>
                                                <th class="text-center"><div class="additional-cube d-inline rounded-sm font-weight-bold px-1 mr-1">O</div> Additional</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>Rare > Epic</th>
                                                <td class="text-center">6%</td>
                                                <td class="text-center">15%</td>
                                                <td class="text-center">4.7619%</td>
                                            </tr>
                                            <tr>
                                                <th>Epic > Unique</th>
                                                <td class="text-center">1.8%</td>
                                                <td class="text-center">3.5%</td>
                                                <td class="text-center">1.9608%</td>
                                            </tr>
                                            <tr>
                                                <th>Unique > Legandary</th>
                                                <td class="text-center">0.3%</td>
                                                <td class="text-center">1%</td>
                                                <td class="text-center">0.4975%</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <p class="w-100 text-justify mb-2">The tables below display the chance of getting X rank for each individual line if your item's potential rank is Y. For example, if your item is Legendary and you use a Red Cube:</p>
                                    <ul class="w-100">
                                        <li>Line 1 has 100% chance to be Legendary rank</li>
                                        <li>Line 2 has 10% chance to be Legendary rank, and 90% chance to be Unique rank</li>
                                        <li>Line 3 has 1% chance to be Legendary rank, and 99% chance to be Unique rank</li>
                                    </ul>

                                    <div class="w-100 d-flex align-items-center">
                                        <h2 class="font-subheader line-height-1-5 w-100 text-center mb-2"><div class="red-cube big-cube d-inline-flex align-items-center justify-content-center rounded-sm font-weight-bold mr-1">R</div> Red Cube Options Rates</h2>
                                    </div>
                                    <table class="font-table size-720 table table-bordered table-hover mb-4">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th class="text-center bg-rare" colspan="2">Rare</th>
                                                <th class="text-center bg-epic" colspan="2">Epic</th>
                                                <th class="text-center bg-unique" colspan="2">Unique</th>
                                                <th class="text-center bg-legendary" colspan="2">Legendary</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="align-middle text-center">Line 1</th>
                                                <td class="text-center">R<span class="d-none d-md-inline">are</span></td>
                                                <td class="text-center">100%</td>
                                                <td class="text-center">E<span class="d-none d-md-inline">pic</span></td>
                                                <td class="text-center">100%</td>
                                                <td class="text-center">U<span class="d-none d-md-inline">nique</span></td>
                                                <td class="text-center">100%</td>
                                                <td class="text-center">L<span class="d-none d-md-inline">egendary</span></td>
                                                <td class="text-center">100%</td>
                                            </tr>
                                            <tr>
                                                <th class="align-middle text-center" rowspan="2">Line 2</th>
                                                <td class="text-center">R<span class="d-none d-md-inline">are</span></td>
                                                <td class="text-center">10%</td>
                                                <td class="text-center">E<span class="d-none d-md-inline">pic</span></td>
                                                <td class="text-center">10%</td>
                                                <td class="text-center">U<span class="d-none d-md-inline">nique</span></td>
                                                <td class="text-center">10%</td>
                                                <td class="text-center">L<span class="d-none d-md-inline">egendary</span></td>
                                                <td class="text-center">10%</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">N<span class="d-none d-md-inline">ormal</span></td>
                                                <td class="text-center">90%</td>
                                                <td class="text-center">R<span class="d-none d-md-inline">are</span></td>
                                                <td class="text-center">90%</td>
                                                <td class="text-center">E<span class="d-none d-md-inline">pic</span></td>
                                                <td class="text-center">90%</td>
                                                <td class="text-center">U<span class="d-none d-md-inline">nique</span></td>
                                                <td class="text-center">90%</td>
                                            </tr>
                                            <tr>
                                                <th class="align-middle text-center" rowspan="2">Line 3</th>
                                                <td class="text-center">R<span class="d-none d-md-inline">are</span></td>
                                                <td class="text-center">1%</td>
                                                <td class="text-center">E<span class="d-none d-md-inline">pic</span></td>
                                                <td class="text-center">1%</td>
                                                <td class="text-center">U<span class="d-none d-md-inline">nique</span></td>
                                                <td class="text-center">1%</td>
                                                <td class="text-center">L<span class="d-none d-md-inline">egendary</span></td>
                                                <td class="text-center">1%</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">N<span class="d-none d-md-inline">ormal</span></td>
                                                <td class="text-center">99%</td>
                                                <td class="text-center">R<span class="d-none d-md-inline">are</span></td>
                                                <td class="text-center">99%</td>
                                                <td class="text-center">E<span class="d-none d-md-inline">pic</span></td>
                                                <td class="text-center">99%</td>
                                                <td class="text-center">U<span class="d-none d-md-inline">nique</span></td>
                                                <td class="text-center">99%</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="w-100 d-flex align-items-center">
                                        <h2 class="font-subheader line-height-1-5 w-100 text-center mb-2"><div class="black-cube big-cube d-inline-flex align-items-center justify-content-center rounded-sm font-weight-bold mr-1">B</div> Black Cube Options Rates</h2>
                                    </div>
                                    <table class="font-table size-720 table table-bordered table-hover mb-4">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th class="text-center bg-rare" colspan="2">Rare</th>
                                                <th class="text-center bg-epic" colspan="2">Epic</th>
                                                <th class="text-center bg-unique" colspan="2">Unique</th>
                                                <th class="text-center bg-legendary" colspan="2">Legendary</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="align-middle text-center">Line 1</th>
                                                <td class="text-center">R<span class="d-none d-md-inline">are</span></td>
                                                <td class="text-center">100%</td>
                                                <td class="text-center">E<span class="d-none d-md-inline">pic</span></td>
                                                <td class="text-center">100%</td>
                                                <td class="text-center">U<span class="d-none d-md-inline">nique</span></td>
                                                <td class="text-center">100%</td>
                                                <td class="text-center">L<span class="d-none d-md-inline">egendary</span></td>
                                                <td class="text-center">100%</td>
                                            </tr>
                                            <tr>
                                                <th class="align-middle text-center" rowspan="2">Line 2</th>
                                                <td class="text-center">R<span class="d-none d-md-inline">are</span></td>
                                                <td class="text-center">20%</td>
                                                <td class="text-center">E<span class="d-none d-md-inline">pic</span></td>
                                                <td class="text-center">20%</td>
                                                <td class="text-center">U<span class="d-none d-md-inline">nique</span></td>
                                                <td class="text-center">20%</td>
                                                <td class="text-center">L<span class="d-none d-md-inline">egendary</span></td>
                                                <td class="text-center">20%</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">N<span class="d-none d-md-inline">ormal</span></td>
                                                <td class="text-center">80%</td>
                                                <td class="text-center">R<span class="d-none d-md-inline">are</span></td>
                                                <td class="text-center">80%</td>
                                                <td class="text-center">E<span class="d-none d-md-inline">pic</span></td>
                                                <td class="text-center">80%</td>
                                                <td class="text-center">U<span class="d-none d-md-inline">nique</span></td>
                                                <td class="text-center">80%</td>
                                            </tr>
                                            <tr>
                                                <th class="align-middle text-center" rowspan="2">Line 3</th>
                                                <td class="text-center">R<span class="d-none d-md-inline">are</span></td>
                                                <td class="text-center">5%</td>
                                                <td class="text-center">E<span class="d-none d-md-inline">pic</span></td>
                                                <td class="text-center">5%</td>
                                                <td class="text-center">U<span class="d-none d-md-inline">nique</span></td>
                                                <td class="text-center">5%</td>
                                                <td class="text-center">L<span class="d-none d-md-inline">egendary</span></td>
                                                <td class="text-center">5%</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">N<span class="d-none d-md-inline">ormal</span></td>
                                                <td class="text-center">95%</td>
                                                <td class="text-center">R<span class="d-none d-md-inline">are</span></td>
                                                <td class="text-center">95%</td>
                                                <td class="text-center">E<span class="d-none d-md-inline">pic</span></td>
                                                <td class="text-center">95%</td>
                                                <td class="text-center">U<span class="d-none d-md-inline">nique</span></td>
                                                <td class="text-center">95%</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="w-100 d-flex align-items-center">
                                        <h2 class="font-subheader line-height-1-5 w-100 text-center mb-2"><div class="additional-cube big-cube d-inline-flex align-items-center justify-content-center rounded-sm font-weight-bold mr-1">O</div> Additional Cube Options Rates</h2>
                                    </div>
                                    <table class="font-table size-720 table table-bordered table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th class="text-center bg-rare" colspan="2">Rare</th>
                                                <th class="text-center bg-epic" colspan="2">Epic</th>
                                                <th class="text-center bg-unique" colspan="2">Unique</th>
                                                <th class="text-center bg-legendary" colspan="2">Legendary</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="align-middle text-center">Line 1</th>
                                                <td class="align-middle text-center">R<span class="d-none d-md-inline">are</span></td>
                                                <td class="align-middle text-center">100%</td>
                                                <td class="align-middle text-center">E<span class="d-none d-md-inline">pic</span></td>
                                                <td class="align-middle text-center">100%</td>
                                                <td class="align-middle text-center">U<span class="d-none d-md-inline">nique</span></td>
                                                <td class="align-middle text-center">100%</td>
                                                <td class="align-middle text-center">L<span class="d-none d-md-inline">egendary</span></td>
                                                <td class="align-middle text-center">100%</td>
                                            </tr>
                                            <tr>
                                                <th class="align-middle text-center" rowspan="2">Line 2</th>
                                                <td class="text-center">R<span class="d-none d-md-inline">are</span></td>
                                                <td class="text-center">1.9608%</td>
                                                <td class="text-center">E<span class="d-none d-md-inline">pic</span></td>
                                                <td class="text-center">4.7619%</td>
                                                <td class="text-center">U<span class="d-none d-md-inline">nique</span></td>
                                                <td class="text-center">1.9608%</td>
                                                <td class="text-center">L<span class="d-none d-md-inline">egendary</span></td>
                                                <td class="text-center">0.4975%</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">N<span class="d-none d-md-inline">ormal</span></td>
                                                <td class="text-center">98.0392%</td>
                                                <td class="text-center">R<span class="d-none d-md-inline">are</span></td>
                                                <td class="text-center">95.2381%</td>
                                                <td class="text-center">E<span class="d-none d-md-inline">pic</span></td>
                                                <td class="text-center">98.0392%</td>
                                                <td class="text-center">U<span class="d-none d-md-inline">nique</span></td>
                                                <td class="text-center">99.5025%</td>
                                            </tr>
                                            <tr>
                                                <th class="align-middle text-center" rowspan="2">Line 3</th>
                                                <td class="text-center">R<span class="d-none d-md-inline">are</span></td>
                                                <td class="text-center">1.9608%</td>
                                                <td class="text-center">E<span class="d-none d-md-inline">pic</span></td>
                                                <td class="text-center">4.7619%</td>
                                                <td class="text-center">U<span class="d-none d-md-inline">nique</span></td>
                                                <td class="text-center">1.9608%</td>
                                                <td class="text-center">L<span class="d-none d-md-inline">egendary</span></td>
                                                <td class="text-center">0.4975%</td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">N<span class="d-none d-md-inline">ormal</span></td>
                                                <td class="text-center">98.0392%</td>
                                                <td class="text-center">R<span class="d-none d-md-inline">are</span></td>
                                                <td class="text-center">95.2381%</td>
                                                <td class="text-center">E<span class="d-none d-md-inline">pic</span></td>
                                                <td class="text-center">98.0392%</td>
                                                <td class="text-center">U<span class="d-none d-md-inline">nique</span></td>
                                                <td class="text-center">99.5025%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                            <div class="collapsible-section-subheader w-100">
                                <h3 class="font-subheader index-collapse d-flex align-items-center cursor-pointer mb-0 px-3 py-2" data-toggle="collapse" href="#pot-reg">
                                    <i class="fas fa-caret-down mr-2"></i> Potentials - <%= locals.generalData.selectedPartName %>
                                </h3>
                            </div>
                            <div class="collapsible-section w-100 px-0 collapse show" id="pot-reg">
                                <p class="font-table px-3 mt-2 mb-2"></p>

                                <div class="col-12 d-flex justify-content-center mt-3">
                                    <div class="w-100 size-720">
                                        <div class="form-group row d-flex align-items-center mb-2">
                                            <label for="pot-rank-type" class="col-4 col-lg-4 col-form-label font-weight-bold text-left d-flex">
                                                <span class="mr-1">Potential Rank</span>
                                            </label>
                                            <div class="col-8 col-lg-8 radio-select-group d-flex justify-content-center">
                                                <div class="col form-check p-0">
                                                    <input class="form-check-input" type="radio" name="pot-rank-type" id="pot-rank-all" value="all">
                                                    <label class="form-check-label font-small radio-select reg-pot-rank-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2" for="pot-rank-all" data-pot-rank="all">All</label>
                                                </div>
                                                <div class="col form-check p-0">
                                                    <input class="form-check-input" type="radio" name="pot-rank-type" id="pot-rank-legendary" value="legendary" checked>
                                                    <label class="form-check-label font-small radio-select reg-pot-rank-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 active" for="pot-rank-legendary" data-pot-rank="legendary">Legendary</label>
                                                </div>
                                                <div class="col form-check p-0">
                                                    <input class="form-check-input" type="radio" name="pot-rank-type" id="pot-rank-unique" value="unique">
                                                    <label class="form-check-label font-small radio-select reg-pot-rank-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2" for="pot-rank-unique" data-pot-rank="unique">Unique</label>
                                                </div>
                                                <div class="col form-check p-0">
                                                    <input class="form-check-input" type="radio" name="pot-rank-type" id="pot-rank-epic" value="epic">
                                                    <label class="form-check-label font-small radio-select reg-pot-rank-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2" for="pot-rank-epic" data-pot-rank="epic">Epic</label>
                                                </div>
                                                <div class="col form-check p-0">
                                                    <input class="form-check-input" type="radio" name="pot-rank-type" id="pot-rank-rare" value="rare">
                                                    <label class="form-check-label font-small radio-select reg-pot-rank-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2" for="pot-rank-rare" data-pot-rank="rare">Rare</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row d-flex align-items-center mb-2">
                                            <label for="dp-type" class="col-4 col-lg-4 col-form-label font-weight-bold text-left d-flex">
                                                <span class="mr-1">Display Type</span>
                                            </label>
                                            <div class="col-8 col-lg-8 radio-select-group d-flex justify-content-center">
                                                <div class="col form-check p-0">
                                                    <input class="form-check-input" type="radio" name="display-type" id="display-type-percent" value="percent" checked>
                                                    <label class="form-check-label font-small radio-select reg-display-type-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 active" for="display-type-percent" data-display-type="percent">% chance</label>
                                                </div>
                                                <div class="col form-check p-0">
                                                    <input class="form-check-input" type="radio" name="display-type" id="display-type-weights" value="weights">
                                                    <label class="form-check-label font-small radio-select reg-display-type-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2" for="display-type-weights" data-display-type="weights">Weights</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="reg-display-percent-controls"> 
                                            <div class="form-group row d-flex align-items-center mb-2">
                                                <label for="dp-type" class="col-4 col-lg-4 col-form-label font-weight-bold text-left d-flex">
                                                    <span class="mr-1">Decimal Places</span>
                                                </label>
                                                <div class="col-8 col-lg-8 radio-select-group d-flex justify-content-center">
                                                    <div class="col form-check p-0">
                                                        <input class="form-check-input" type="radio" name="dp-type" id="dp-type-2" value="2" checked>
                                                        <label class="form-check-label font-small radio-select reg-dp-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 active" for="dp-type-2" data-dp-type="2">2 d.p.</label>
                                                    </div>
                                                    <div class="col form-check p-0">
                                                        <input class="form-check-input" type="radio" name="dp-type" id="dp-type-4" value="4">
                                                        <label class="form-check-label font-small radio-select reg-dp-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2" for="dp-type-4" data-dp-type="4">4 d.p.</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row d-flex align-items-center mb-2">
                                                <label for="cube-type" class="col-4 col-lg-4 col-form-label font-weight-bold text-left d-flex">
                                                    <span class="mr-1">Cube Type</span>
                                                </label>
                                                <div class="col-8 col-lg-8 radio-select-group d-flex justify-content-center">
                                                    <div class="col form-check p-0">
                                                        <input class="form-check-input" type="radio" name="cube-type" id="cube-type-all" value="all" checked>
                                                        <label class="form-check-label font-small radio-select reg-cube-type-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 active" for="cube-type-all" data-cube-type="all">All</label>
                                                    </div>
                                                    <div class="col form-check p-0">
                                                        <input class="form-check-input" type="radio" name="cube-type" id="cube-type-red" value="red">
                                                        <label class="form-check-label font-small radio-select reg-cube-type-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2" for="cube-type-red" data-cube-type="red">Red</label>
                                                    </div>
                                                    <div class="col form-check p-0">
                                                        <input class="form-check-input" type="radio" name="cube-type" id="cube-type-black" value="black">
                                                        <label class="form-check-label font-small radio-select reg-cube-type-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2" for="cube-type-black" data-cube-type="black">Black</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="w-100 d-flex justify-content-center flex-wrap px-3 pb-3">
                                    <% generalData.ranks.forEach(function(rankData) { %>
                                        <% if(rankData.prime !== "normal") { %>
                                            <div class="single-reg-pot-rank-table font-table col-12 justify-content-center mt-3 px-2 <% if(rankData.prime !== 'legendary') { %>d-none<% } else { %>d-flex<% } %>" id="reg-pot-<%= rankData.prime %>">
                                                <table class="font-table size-720 table table-bordered table-hover mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th class="font-subsubheader text-center bg-<%= rankData.prime %> py-2" colspan="4">
                                                                <%= rankData.prime.charAt(0).toUpperCase() + rankData.prime.slice(1) %>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th class="stat-type text-left py-2">Stat</th>
                                                            <th class="reg-cell-display-percent d-table-cell text-center py-2">Line 1 (%)</th>
                                                            <th class="reg-cell-display-percent d-table-cell text-center py-2">Line 2 (%)</th>
                                                            <th class="reg-cell-display-percent d-table-cell text-center py-2">Line 3 (%)</th>
                                                            <th class="reg-cell-display-weights text-center d-none py-2" colspan="3">Weight</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% Object.keys(rankData).forEach(function(potType) { %>
                                                            <tr>
                                                                <td class="py-2 text-center font-weight-bold" colspan="4">
                                                                    <%= potType.charAt(0).toUpperCase() + potType.slice(1) %> Lines<br/>
                                                                    <span class="reg-display-weights-total d-none">(Total Weight = <%= potentialsByRank.regular[rankData[potType]].totalWeight %>)</span>
                                                                </td>
                                                            </tr>
                                                            <% potentialsByRank.regular[rankData[potType]].list.forEach(function(potentialData) { %>
                                                                <tr>
                                                                    <td class="stat-type align-middle">
                                                                        <%= potentialData.desc %>
                                                                        <% if(potentialData.notes) { %>
                                                                            <div class="d-inline ml-1" data-toggle="tooltip" data-placement="bottom" title="<%= potentialData.notes %>"><i class="fas fa-info-circle"></i></div>
                                                                        <% } %>
                                                                    </td>
                                                                    <td class="reg-cell-display-weights text-center justify-content-center align-items-center align-middle d-none" colspan="3">
                                                                        <%= potentialData.weight %>
                                                                    </td>
                                                                    <% ["line1", "line2", "line3"].forEach(function(lineNum) { %>
                                                                        <td class="reg-cell-display-percent d-table-cell text-center align-middle">
                                                                            <div class="d-flex flex-column justify-content-center align-items-center">
                                                                                <% ["red", "black"].forEach(function(cubeType) { %>
                                                                                    <div class="single-reg-pot-cube-data <%= cubeType %>-cube-data">
                                                                                        <% if(generalData.cubeRates[cubeType][lineNum][rankData.prime][potType] === 0) { %>
                                                                                            -
                                                                                        <% } else { %>
                                                                                            <div class="d-flex">
                                                                                                <div class="<%= cubeType %>-cube d-flex justify-content-center align-items-center rounded-sm font-weight-bold px-1 mr-1">
                                                                                                    <% if(cubeType === "red") { %>R<% } else { %>B<% } %>
                                                                                                </div>
                                                                                                <span class="single-reg-dp reg-dp-2">
                                                                                                    <%= (generalData.cubeRates[cubeType][lineNum][rankData.prime][potType] * potentialData.weight / potentialsByRank.regular[rankData[potType]].totalWeight).toFixed(2) %>
                                                                                                </span>
                                                                                                <span class="single-reg-dp reg-dp-4 d-none">
                                                                                                    <%= (generalData.cubeRates[cubeType][lineNum][rankData.prime][potType] * potentialData.weight / potentialsByRank.regular[rankData[potType]].totalWeight).toFixed(4) %>
                                                                                                </span>
                                                                                            </div>
                                                                                        <% } %>
                                                                                    </div>
                                                                                <% }) %>
                                                                            </div>
                                                                        </td>
                                                                    <% }) %>
                                                                </tr>
                                                            <% }) %> 
                                                        <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        <% } %>
                                    <% }) %>
                                </div>
                            </div>
                        </div>

                        <div class="font-content w-100 d-flex justify-content-center align-items-center flex-column mb-4">
                            <div class="collapsible-section-subheader w-100">
                                <h3 class="font-subheader index-collapse d-flex align-items-center cursor-pointer mb-0 px-3 py-2" data-toggle="collapse" href="#pot-add">
                                    <i class="fas fa-caret-down mr-2"></i> Additional (Bonus) Potentials - <%= locals.generalData.selectedPartName %>
                                </h3>
                            </div>
                            <div class="collapsible-section w-100 px-0 collapse show" id="pot-add">
                                <div class="w-100 d-flex justify-content-center flex-wrap px-3 pb-3">
                                    <div class="col-12 d-flex justify-content-center mt-3">
                                        <div class="w-100 size-720">
                                            <div class="form-group row d-flex align-items-center mb-2">
                                                <label for="pot-rank-type" class="col-4 col-lg-4 col-form-label font-weight-bold text-left d-flex">
                                                    <span class="mr-1">Potential Rank</span>
                                                </label>
                                                <div class="col-8 col-lg-8 radio-select-group d-flex justify-content-center">
                                                    <div class="col form-check p-0">
                                                        <input class="form-check-input" type="radio" name="pot-rank-type" id="pot-rank-all" value="all">
                                                        <label class="form-check-label font-small radio-select add-pot-rank-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2" for="pot-rank-all" data-pot-rank="all">All</label>
                                                    </div>
                                                    <div class="col form-check p-0">
                                                        <input class="form-check-input" type="radio" name="pot-rank-type" id="pot-rank-legendary" value="legendary" checked>
                                                        <label class="form-check-label font-small radio-select add-pot-rank-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 active" for="pot-rank-legendary" data-pot-rank="legendary">Legendary</label>
                                                    </div>
                                                    <div class="col form-check p-0">
                                                        <input class="form-check-input" type="radio" name="pot-rank-type" id="pot-rank-unique" value="unique">
                                                        <label class="form-check-label font-small radio-select add-pot-rank-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2" for="pot-rank-unique" data-pot-rank="unique">Unique</label>
                                                    </div>
                                                    <div class="col form-check p-0">
                                                        <input class="form-check-input" type="radio" name="pot-rank-type" id="pot-rank-epic" value="epic">
                                                        <label class="form-check-label font-small radio-select add-pot-rank-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2" for="pot-rank-epic" data-pot-rank="epic">Epic</label>
                                                    </div>
                                                    <div class="col form-check p-0">
                                                        <input class="form-check-input" type="radio" name="pot-rank-type" id="pot-rank-rare" value="rare">
                                                        <label class="form-check-label font-small radio-select add-pot-rank-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2" for="pot-rank-rare" data-pot-rank="rare">Rare</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row d-flex align-items-center mb-2">
                                                <label for="dp-type" class="col-4 col-lg-4 col-form-label font-weight-bold text-left d-flex">
                                                    <span class="mr-1">Display Type</span>
                                                </label>
                                                <div class="col-8 col-lg-8 radio-select-group d-flex justify-content-center">
                                                    <div class="col form-check p-0">
                                                        <input class="form-check-input" type="radio" name="display-type" id="display-type-percent" value="percent" checked>
                                                        <label class="form-check-label font-small radio-select add-display-type-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 active" for="display-type-percent" data-display-type="percent">% chance</label>
                                                    </div>
                                                    <div class="col form-check p-0">
                                                        <input class="form-check-input" type="radio" name="display-type" id="display-type-weights" value="weights">
                                                        <label class="form-check-label font-small radio-select add-display-type-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2" for="display-type-weights" data-display-type="weights">Weights</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="add-display-percent-controls"> 
                                                <div class="form-group row d-flex align-items-center mb-2">
                                                    <label for="dp-type" class="col-4 col-lg-4 col-form-label font-weight-bold text-left d-flex">
                                                        <span class="mr-1">Decimal Places</span>
                                                    </label>
                                                    <div class="col-8 col-lg-8 radio-select-group d-flex justify-content-center">
                                                        <div class="col form-check p-0">
                                                            <input class="form-check-input" type="radio" name="dp-type" id="dp-type-2" value="2" checked>
                                                            <label class="form-check-label font-small radio-select add-dp-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2 active" for="dp-type-2" data-dp-type="2">2 d.p.</label>
                                                        </div>
                                                        <div class="col form-check p-0">
                                                            <input class="form-check-input" type="radio" name="dp-type" id="dp-type-4" value="4">
                                                            <label class="form-check-label font-small radio-select add-dp-input d-flex justify-content-center align-items-center text-center cursor-pointer px-2" for="dp-type-4" data-dp-type="4">4 d.p.</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <% generalData.ranks.forEach(function(rankData) { %>
                                        <% if(rankData.prime !== "normal") { %>
                                            <div class="single-add-pot-rank-table font-table col-12 justify-content-center mt-3 px-2 <% if(rankData.prime !== 'legendary') { %>d-none<% } else { %>d-flex<% } %>" id="add-pot-<%= rankData.prime %>">
                                                <table class="font-table size-720 table table-bordered table-hover mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th class="font-subsubheader text-center bg-<%= rankData.prime %> py-2" colspan="4">
                                                                <%= rankData.prime.charAt(0).toUpperCase() + rankData.prime.slice(1) %>
                                                            </th>
                                                        </tr>
                                                        <tr>
                                                            <th class="stat-type text-left py-2">Stat</th>
                                                            <th class="add-cell-display-percent d-table-cell text-center py-2">Line 1 (%)</th>
                                                            <th class="add-cell-display-percent d-table-cell text-center py-2">Line 2 (%)</th>
                                                            <th class="add-cell-display-percent d-table-cell text-center py-2">Line 3 (%)</th>
                                                            <th class="add-cell-display-weights text-center d-none py-2" colspan="3">Weight</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% Object.keys(rankData).forEach(function(potType) { %>
                                                            <tr>
                                                                <td class="py-2 text-center font-weight-bold" colspan="4">
                                                                    <%= potType.charAt(0).toUpperCase() + potType.slice(1) %> Lines<br/>
                                                                    <span class="add-display-weights-total d-none">(Total Weight = <%= potentialsByRank.additional[rankData[potType]].totalWeight %>)</span>
                                                                </td>
                                                            </tr>
                                                            <% potentialsByRank.additional[rankData[potType]].list.forEach(function(potentialData) { %>
                                                                <tr>
                                                                    <td class="stat-type align-middle">
                                                                        <%= potentialData.desc %>
                                                                        <% if(potentialData.notes) { %>
                                                                            <div class="d-inline ml-1" data-toggle="tooltip" data-placement="bottom" title="<%= potentialData.notes %>"><i class="fas fa-info-circle"></i></div>
                                                                        <% } %>
                                                                    </td>
                                                                    <td class="add-cell-display-weights text-center justify-content-center align-items-center align-middle d-none" colspan="3">
                                                                        <%= potentialData.weight %>
                                                                    </td>
                                                                    <% ["line1", "line2", "line3"].forEach(function(lineNum) { %>
                                                                        <td class="add-cell-display-percent d-table-cell text-center align-middle">
                                                                            <div class="d-flex flex-column justify-content-center align-items-center">
                                                                                <div class="single-add-pot-cube-data additional-cube-data">
                                                                                    <% if(generalData.cubeRates.addPot[lineNum][rankData.prime][potType] === 0) { %>
                                                                                        -
                                                                                    <% } else { %>
                                                                                        <div class="d-flex">
                                                                                            <div class="additional-cube d-flex justify-content-center align-items-center rounded-sm font-weight-bold px-1 mr-1">O</div>
                                                                                            <span class="single-add-dp add-dp-2">
                                                                                                <%= (generalData.cubeRates.addPot[lineNum][rankData.prime][potType] * potentialData.weight / potentialsByRank.additional[rankData[potType]].totalWeight).toFixed(2) %>
                                                                                            </span>
                                                                                            <span class="single-add-dp add-dp-4 d-none">
                                                                                                <%= (generalData.cubeRates.addPot[lineNum][rankData.prime][potType] * potentialData.weight / potentialsByRank.additional[rankData[potType]].totalWeight).toFixed(4) %>
                                                                                            </span>
                                                                                        </div>
                                                                                    <% } %>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    <% }) %>
                                                                </tr>
                                                            <% }) %> 
                                                        <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        <% } %>
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>

                <!-- Horizontal -->
                <ins class="adsbygoogle ad-space horz-ad rounded-lg p-2 mb-3"
                     style="display:block"
                     data-ad-client="ca-pub-9569715514342803"
                     data-ad-slot="9935306861"
                     data-ad-format="auto"
                     data-full-width-responsive="true">
                         <p class="ad-space-text text-center font-bold font-small mb-0">Advertisement</p>
                     </ins>
                <script>
                    window.onload = function() {
                     (adsbygoogle = window.adsbygoogle || []).push({});
                    }
                </script>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/scripts/commonScript.js"></script>
<script type="text/javascript" src="/scripts/extras/potentialListScript.js"></script>
<%- include("../partials/footer") %>